schemas/xjustiz-xsd/2.3.1/XJustiz 2.3.1 XSD/xjustiz_0910_cl_vollstreckung_2_0.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://www.xjustiz.de" xmlns:xoev-code="http://xoev.de/schemata/code/1_0" targetNamespace="http://www.xjustiz.de" version="2.0.0" elementFormDefault="unqualified" attributeFormDefault="unqualified">
  <xs:import schemaLocation="xoev-code.xsd" namespace="http://xoev.de/schemata/code/1_0" />
  <xs:complexType name="Code.VSTR.Eintragungsgruende.Gerichtsvollzieher_Vollstreckungsbehoerde">
    <xs:annotation>
      <xs:appinfo>
        <listAgencyName>BLK-AG IT-Standards für die Justiz</listAgencyName>
        <listName>VSTR.Eintragungsgruende.Gerichtsvollzieher_Vollstreckungsbehoerde</listName>
      </xs:appinfo>
      <xs:documentation>Codeliste der verschiedenen Eintragungsgründe der Gerichtsvollzieher bei Vollstreckung.</xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:restriction base="xoev-code:Code">
        <xs:sequence>
          <xs:element name="code">
            <xs:annotation>
              <xs:documentation>Dokumentation aus XOEV-Bibliothek:</xs:documentation>
              <xs:documentation>In diesem XML-Element wird der Code einer Codeliste übermittelt.</xs:documentation>
            </xs:annotation>
            <xs:simpleType>
              <xs:restriction base="xs:token">
                <xs:enumeration value="Gläubigerbefriedigung ausgeschlossen">
                  <xs:annotation>
                    <xs:appinfo>
                      <codeName>§ 882c Abs. 1 Nr. 2 ZPO, § 284 Abs. 9 Nr. 2 AO</codeName>
                    </xs:appinfo>
                  </xs:annotation>
                </xs:enumeration>
                <xs:enumeration value="Gläubigerbefriedigung nicht nachgewiesen">
                  <xs:annotation>
                    <xs:appinfo>
                      <codeName>§ 882c Abs. 1 Nr. 3 ZPO, § 284 Abs. 9 Nr. 3 AO</codeName>
                    </xs:appinfo>
                  </xs:annotation>
                </xs:enumeration>
                <xs:enumeration value="Nichtabgabe der Vermögensauskunft">
                  <xs:annotation>
                    <xs:appinfo>
                      <codeName>§ 882c Abs. 1 Nr. 1 ZPO, § 284 Abs. 9 Nr. 1 AO</codeName>
                    </xs:appinfo>
                  </xs:annotation>
                </xs:enumeration>
              </xs:restriction>
            </xs:simpleType>
          </xs:element>
        </xs:sequence>
        <xs:attribute name="listURI" type="xs:anyURI" use="optional" fixed="urn:xoev-de:xjustiz:codeliste:vstr.eintragungsgruende.gerichtsvollzieher-vollstreckungsbehoerde">
          <xs:annotation>
            <xs:documentation>Dokumentation aus XOEV-Bibliothek:</xs:documentation>
            <xs:documentation>Mit diesem XML-Attribut wird die Kennung der Codeliste übermittelt, in deren Kontext der jeweilige Code zu interpretieren ist. Die Kennung identifiziert die Codeliste, nicht jedoch deren Version eindeutig.

Wird bereits im Rahmen des XÖV-Standards eine Kennung vorgegeben (es handelt sich in diesem Fall um einen Code-Typ 1, 2 oder 3) darf auf eine nochmalige Angabe der Kennung bei der Übermittlung eines Codes verzichtet werden. Aus diesem Grund ist das XML-Attribut listURI zunächst als optional deklariert.</xs:documentation>
          </xs:annotation>
        </xs:attribute>
        <xs:attribute name="listVersionID" type="xs:normalizedString" use="required" fixed="2.0">
          <xs:annotation>
            <xs:documentation>Dokumentation aus XOEV-Bibliothek:</xs:documentation>
            <xs:documentation>Die konkrete Version der zu nutzenden Codeliste wird mit diesem XML-Attribut übertragen.

Analog zum listURI ist die Bestimmung der Version einer Codeliste bei der Übertragung eines Codes zwingend. Die Version kann jedoch ebenfalls bereits im XÖV-Standard festgelegt werden (es handelt sich in diesem Fall um einen Code-Typ 1 oder 2).</xs:documentation>
          </xs:annotation>
        </xs:attribute>
      </xs:restriction>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="Code.VSTR.Eintragungsgruende.Insolvenzgericht">
    <xs:annotation>
      <xs:appinfo>
        <listAgencyName>BLK-AG IT-Standards für die Justiz</listAgencyName>
        <listName>VSTR.Eintragungsgruende.Insolvenzgericht</listName>
      </xs:appinfo>
      <xs:documentation>Codeliste der verschiedenen Eintragungsgründe im Insolvenzgericht.</xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:restriction base="xoev-code:Code">
        <xs:sequence>
          <xs:element name="code">
            <xs:annotation>
              <xs:documentation>Dokumentation aus XOEV-Bibliothek:</xs:documentation>
              <xs:documentation>In diesem XML-Element wird der Code einer Codeliste übermittelt.</xs:documentation>
            </xs:annotation>
            <xs:simpleType>
              <xs:restriction base="xs:token">
                <xs:enumeration value="001">
                  <xs:annotation>
                    <xs:appinfo>
                      <codeName>§ 290 InsO, Versagung der Restschuldbefreiung</codeName>
                    </xs:appinfo>
                  </xs:annotation>
                </xs:enumeration>
                <xs:enumeration value="002">
                  <xs:annotation>
                    <xs:appinfo>
                      <codeName>§ 296 InsO, Versagung der Restschuldbefreiung</codeName>
                    </xs:appinfo>
                  </xs:annotation>
                </xs:enumeration>
                <xs:enumeration value="003">
                  <xs:annotation>
                    <xs:appinfo>
                      <codeName>§ 297 InsO, Versagung der Restschuldbefreiung</codeName>
                    </xs:appinfo>
                  </xs:annotation>
                </xs:enumeration>
                <xs:enumeration value="004">
                  <xs:annotation>
                    <xs:appinfo>
                      <codeName>§ 297a InsO, Versagung der Restschuldbefreiung</codeName>
                    </xs:appinfo>
                  </xs:annotation>
                </xs:enumeration>
                <xs:enumeration value="005">
                  <xs:annotation>
                    <xs:appinfo>
                      <codeName>§ 303 InsO, Widerruf der Restschuldbefreiung</codeName>
                    </xs:appinfo>
                  </xs:annotation>
                </xs:enumeration>
                <xs:enumeration value="006">
                  <xs:annotation>
                    <xs:appinfo>
                      <codeName>§§ 296, 297 InsO, Versagung der Restschuldbefreiung</codeName>
                    </xs:appinfo>
                  </xs:annotation>
                </xs:enumeration>
                <xs:enumeration value="007">
                  <xs:annotation>
                    <xs:appinfo>
                      <codeName>§§ 296, 297a InsO, Versagung der Restschuldbefreiung</codeName>
                    </xs:appinfo>
                  </xs:annotation>
                </xs:enumeration>
                <xs:enumeration value="Abweisung mangels Masse">
                  <xs:annotation>
                    <xs:appinfo>
                      <codeName>§ 26 Abs. 2 InsO</codeName>
                    </xs:appinfo>
                  </xs:annotation>
                </xs:enumeration>
              </xs:restriction>
            </xs:simpleType>
          </xs:element>
        </xs:sequence>
        <xs:attribute name="listURI" type="xs:anyURI" use="optional" fixed="urn:xoev-de:xjustiz:codeliste:vstr.eintragungsgruende.insolvenzgericht">
          <xs:annotation>
            <xs:documentation>Dokumentation aus XOEV-Bibliothek:</xs:documentation>
            <xs:documentation>Mit diesem XML-Attribut wird die Kennung der Codeliste übermittelt, in deren Kontext der jeweilige Code zu interpretieren ist. Die Kennung identifiziert die Codeliste, nicht jedoch deren Version eindeutig.

Wird bereits im Rahmen des XÖV-Standards eine Kennung vorgegeben (es handelt sich in diesem Fall um einen Code-Typ 1, 2 oder 3) darf auf eine nochmalige Angabe der Kennung bei der Übermittlung eines Codes verzichtet werden. Aus diesem Grund ist das XML-Attribut listURI zunächst als optional deklariert.</xs:documentation>
          </xs:annotation>
        </xs:attribute>
        <xs:attribute name="listVersionID" type="xs:normalizedString" use="required" fixed="2.0">
          <xs:annotation>
            <xs:documentation>Dokumentation aus XOEV-Bibliothek:</xs:documentation>
            <xs:documentation>Die konkrete Version der zu nutzenden Codeliste wird mit diesem XML-Attribut übertragen.

Analog zum listURI ist die Bestimmung der Version einer Codeliste bei der Übertragung eines Codes zwingend. Die Version kann jedoch ebenfalls bereits im XÖV-Standard festgelegt werden (es handelt sich in diesem Fall um einen Code-Typ 1 oder 2).</xs:documentation>
          </xs:annotation>
        </xs:attribute>
      </xs:restriction>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="Code.VSTR.Entscheidungsinhalt_Schuldnerwiderspruch">
    <xs:annotation>
      <xs:appinfo>
        <listAgencyName>BLK-AG IT-Standards für die Justiz</listAgencyName>
        <listName>VSTR.Entscheidungsinhalt_Schuldnerwiderspruch</listName>
      </xs:appinfo>
      <xs:documentation>Codeliste der verschiedenen Entscheidungsinhalte bei einem Schuldnerwiderspruch.</xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:restriction base="xoev-code:Code">
        <xs:sequence>
          <xs:element name="code">
            <xs:annotation>
              <xs:documentation>Dokumentation aus XOEV-Bibliothek:</xs:documentation>
              <xs:documentation>In diesem XML-Element wird der Code einer Codeliste übermittelt.</xs:documentation>
            </xs:annotation>
            <xs:simpleType>
              <xs:restriction base="xs:token">
                <xs:enumeration value="001">
                  <xs:annotation>
                    <xs:appinfo>
                      <codeName>Aufhebung der Eintragungsanordnung</codeName>
                    </xs:appinfo>
                  </xs:annotation>
                </xs:enumeration>
                <xs:enumeration value="002">
                  <xs:annotation>
                    <xs:appinfo>
                      <codeName>Eintragung im Schuldnerverzeichnis wird einstweilen ausgesetzt</codeName>
                    </xs:appinfo>
                  </xs:annotation>
                </xs:enumeration>
                <xs:enumeration value="003">
                  <xs:annotation>
                    <xs:appinfo>
                      <codeName>Zurückweisung des Schuldnerwiderspruchs</codeName>
                    </xs:appinfo>
                  </xs:annotation>
                </xs:enumeration>
              </xs:restriction>
            </xs:simpleType>
          </xs:element>
        </xs:sequence>
        <xs:attribute name="listURI" type="xs:anyURI" use="optional" fixed="urn:xoev-de:xjustiz:codeliste:vstr.entscheidungsinhalt-schuldnerwiderspruch">
          <xs:annotation>
            <xs:documentation>Dokumentation aus XOEV-Bibliothek:</xs:documentation>
            <xs:documentation>Mit diesem XML-Attribut wird die Kennung der Codeliste übermittelt, in deren Kontext der jeweilige Code zu interpretieren ist. Die Kennung identifiziert die Codeliste, nicht jedoch deren Version eindeutig.

Wird bereits im Rahmen des XÖV-Standards eine Kennung vorgegeben (es handelt sich in diesem Fall um einen Code-Typ 1, 2 oder 3) darf auf eine nochmalige Angabe der Kennung bei der Übermittlung eines Codes verzichtet werden. Aus diesem Grund ist das XML-Attribut listURI zunächst als optional deklariert.</xs:documentation>
          </xs:annotation>
        </xs:attribute>
        <xs:attribute name="listVersionID" type="xs:normalizedString" use="required" fixed="2.0">
          <xs:annotation>
            <xs:documentation>Dokumentation aus XOEV-Bibliothek:</xs:documentation>
            <xs:documentation>Die konkrete Version der zu nutzenden Codeliste wird mit diesem XML-Attribut übertragen.

Analog zum listURI ist die Bestimmung der Version einer Codeliste bei der Übertragung eines Codes zwingend. Die Version kann jedoch ebenfalls bereits im XÖV-Standard festgelegt werden (es handelt sich in diesem Fall um einen Code-Typ 1 oder 2).</xs:documentation>
          </xs:annotation>
        </xs:attribute>
      </xs:restriction>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="Code.VSTR.Ereignis.Zentrales_Vollstreckungsgericht">
    <xs:annotation>
      <xs:appinfo>
        <listAgencyName>BLK-AG IT-Standards für die Justiz</listAgencyName>
        <listName>VSTR.Ereignis.Zentrales_Vollstreckungsgericht</listName>
      </xs:appinfo>
      <xs:documentation>Codeliste der verschiedenen Ergeinisse im zentralen Vollstreckungsgericht.</xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:restriction base="xoev-code:Code">
        <xs:sequence>
          <xs:element name="code">
            <xs:annotation>
              <xs:documentation>Dokumentation aus XOEV-Bibliothek:</xs:documentation>
              <xs:documentation>In diesem XML-Element wird der Code einer Codeliste übermittelt.</xs:documentation>
            </xs:annotation>
            <xs:simpleType>
              <xs:restriction base="xs:token">
                <xs:enumeration value="001">
                  <xs:annotation>
                    <xs:appinfo>
                      <codeName>Entscheidung Schuldnerwiderspruch</codeName>
                    </xs:appinfo>
                  </xs:annotation>
                </xs:enumeration>
                <xs:enumeration value="002">
                  <xs:annotation>
                    <xs:appinfo>
                      <codeName>Entscheidung Schuldnerwiderspruch Verarbeitungsbestätigung</codeName>
                    </xs:appinfo>
                  </xs:annotation>
                </xs:enumeration>
                <xs:enumeration value="003">
                  <xs:annotation>
                    <xs:appinfo>
                      <codeName>Schuldnerverzeichnis Eintragung Korrektur</codeName>
                    </xs:appinfo>
                  </xs:annotation>
                </xs:enumeration>
                <xs:enumeration value="004">
                  <xs:annotation>
                    <xs:appinfo>
                      <codeName>Schuldnerverzeichnis Verarbeitungsbestätigung Portal</codeName>
                    </xs:appinfo>
                  </xs:annotation>
                </xs:enumeration>
                <xs:enumeration value="005">
                  <xs:annotation>
                    <xs:appinfo>
                      <codeName>Schuldnerverzeichnisabdrucke</codeName>
                    </xs:appinfo>
                  </xs:annotation>
                </xs:enumeration>
                <xs:enumeration value="006">
                  <xs:annotation>
                    <xs:appinfo>
                      <codeName>Vermögensverzeichnis Übermittlung Korrektur</codeName>
                    </xs:appinfo>
                  </xs:annotation>
                </xs:enumeration>
                <xs:enumeration value="007">
                  <xs:annotation>
                    <xs:appinfo>
                      <codeName>Vermögensverzeichnis Übermittlungsbestätigung Portal</codeName>
                    </xs:appinfo>
                  </xs:annotation>
                </xs:enumeration>
              </xs:restriction>
            </xs:simpleType>
          </xs:element>
        </xs:sequence>
        <xs:attribute name="listURI" type="xs:anyURI" use="optional" fixed="urn:xoev-de:xjustiz:codeliste:vstr.ereignis.zentrales-vollstreckungsgericht">
          <xs:annotation>
            <xs:documentation>Dokumentation aus XOEV-Bibliothek:</xs:documentation>
            <xs:documentation>Mit diesem XML-Attribut wird die Kennung der Codeliste übermittelt, in deren Kontext der jeweilige Code zu interpretieren ist. Die Kennung identifiziert die Codeliste, nicht jedoch deren Version eindeutig.

Wird bereits im Rahmen des XÖV-Standards eine Kennung vorgegeben (es handelt sich in diesem Fall um einen Code-Typ 1, 2 oder 3) darf auf eine nochmalige Angabe der Kennung bei der Übermittlung eines Codes verzichtet werden. Aus diesem Grund ist das XML-Attribut listURI zunächst als optional deklariert.</xs:documentation>
          </xs:annotation>
        </xs:attribute>
        <xs:attribute name="listVersionID" type="xs:normalizedString" use="required" fixed="2.0">
          <xs:annotation>
            <xs:documentation>Dokumentation aus XOEV-Bibliothek:</xs:documentation>
            <xs:documentation>Die konkrete Version der zu nutzenden Codeliste wird mit diesem XML-Attribut übertragen.

Analog zum listURI ist die Bestimmung der Version einer Codeliste bei der Übertragung eines Codes zwingend. Die Version kann jedoch ebenfalls bereits im XÖV-Standard festgelegt werden (es handelt sich in diesem Fall um einen Code-Typ 1 oder 2).</xs:documentation>
          </xs:annotation>
        </xs:attribute>
      </xs:restriction>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="Code.VSTR.Gerichtsvollzieher_Dienstbezeichnung">
    <xs:annotation>
      <xs:appinfo>
        <listAgencyName>BLK-AG IT-Standards für die Justiz</listAgencyName>
        <listName>VSTR.Gerichtsvollzieher_Dienstbezeichnung</listName>
      </xs:appinfo>
      <xs:documentation>Codeliste der verschiedenen Dienstbezeichnungen der Gerichtsvollzieher.</xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:restriction base="xoev-code:Code">
        <xs:sequence>
          <xs:element name="code">
            <xs:annotation>
              <xs:documentation>Dokumentation aus XOEV-Bibliothek:</xs:documentation>
              <xs:documentation>In diesem XML-Element wird der Code einer Codeliste übermittelt.</xs:documentation>
            </xs:annotation>
            <xs:simpleType>
              <xs:restriction base="xs:token">
                <xs:enumeration value="001">
                  <xs:annotation>
                    <xs:appinfo>
                      <codeName>Abwickler(in)</codeName>
                    </xs:appinfo>
                  </xs:annotation>
                </xs:enumeration>
                <xs:enumeration value="002">
                  <xs:annotation>
                    <xs:appinfo>
                      <codeName>Beauftragte(r) Gerichtsvollzieher(in)</codeName>
                    </xs:appinfo>
                  </xs:annotation>
                </xs:enumeration>
                <xs:enumeration value="003">
                  <xs:annotation>
                    <xs:appinfo>
                      <codeName>Gerichtsvollzieher(in)</codeName>
                    </xs:appinfo>
                  </xs:annotation>
                </xs:enumeration>
                <xs:enumeration value="004">
                  <xs:annotation>
                    <xs:appinfo>
                      <codeName>Hauptgerichtsvollzieher(in)</codeName>
                    </xs:appinfo>
                  </xs:annotation>
                </xs:enumeration>
                <xs:enumeration value="005">
                  <xs:annotation>
                    <xs:appinfo>
                      <codeName>Obergerichtsvollzieher(in)</codeName>
                    </xs:appinfo>
                  </xs:annotation>
                </xs:enumeration>
              </xs:restriction>
            </xs:simpleType>
          </xs:element>
        </xs:sequence>
        <xs:attribute name="listURI" type="xs:anyURI" use="optional" fixed="urn:xoev-de:xjustiz:codeliste:vstr.gerichtsvollzieher-dienstbezeichnung">
          <xs:annotation>
            <xs:documentation>Dokumentation aus XOEV-Bibliothek:</xs:documentation>
            <xs:documentation>Mit diesem XML-Attribut wird die Kennung der Codeliste übermittelt, in deren Kontext der jeweilige Code zu interpretieren ist. Die Kennung identifiziert die Codeliste, nicht jedoch deren Version eindeutig.

Wird bereits im Rahmen des XÖV-Standards eine Kennung vorgegeben (es handelt sich in diesem Fall um einen Code-Typ 1, 2 oder 3) darf auf eine nochmalige Angabe der Kennung bei der Übermittlung eines Codes verzichtet werden. Aus diesem Grund ist das XML-Attribut listURI zunächst als optional deklariert.</xs:documentation>
          </xs:annotation>
        </xs:attribute>
        <xs:attribute name="listVersionID" type="xs:normalizedString" use="required" fixed="2.0">
          <xs:annotation>
            <xs:documentation>Dokumentation aus XOEV-Bibliothek:</xs:documentation>
            <xs:documentation>Die konkrete Version der zu nutzenden Codeliste wird mit diesem XML-Attribut übertragen.

Analog zum listURI ist die Bestimmung der Version einer Codeliste bei der Übertragung eines Codes zwingend. Die Version kann jedoch ebenfalls bereits im XÖV-Standard festgelegt werden (es handelt sich in diesem Fall um einen Code-Typ 1 oder 2).</xs:documentation>
          </xs:annotation>
        </xs:attribute>
      </xs:restriction>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="Code.VSTR.Korrektur_Loeschung">
    <xs:annotation>
      <xs:appinfo>
        <listAgencyName>BLK-AG IT-Standards für die Justiz</listAgencyName>
        <listName>VSTR.Korrektur_Loeschung</listName>
      </xs:appinfo>
      <xs:documentation>Codeliste der verschiedenen Korrekturarten bei Löschung.</xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:restriction base="xoev-code:Code">
        <xs:sequence>
          <xs:element name="code">
            <xs:annotation>
              <xs:documentation>Dokumentation aus XOEV-Bibliothek:</xs:documentation>
              <xs:documentation>In diesem XML-Element wird der Code einer Codeliste übermittelt.</xs:documentation>
            </xs:annotation>
            <xs:simpleType>
              <xs:restriction base="xs:token">
                <xs:enumeration value="Korrektur">
                  <xs:annotation>
                    <xs:appinfo>
                      <codeName>Der ursprünglich übermittelte Datensatz ist aufgrund nachträglich eingetretener Umstände zu korrigieren. Der ursprüngliche Datensatz ist durch den Inhalt der Korrekturnachricht zu ersetzen.</codeName>
                    </xs:appinfo>
                  </xs:annotation>
                </xs:enumeration>
                <xs:enumeration value="Korrektur irriger Eintrag">
                  <xs:annotation>
                    <xs:appinfo>
                      <codeName>Der ursprünglich übermittelte Datensatz war von Anfang an fehlerhaft. Der ursprüngliche Datensatz ist durch den Inhalt der Korrekturnachricht zu ersetzen.</codeName>
                    </xs:appinfo>
                  </xs:annotation>
                </xs:enumeration>
                <xs:enumeration value="Löschung">
                  <xs:annotation>
                    <xs:appinfo>
                      <codeName>Der ursprünglich übermittelte Datensatz ist aufgrund nachträglich eingetretener Umstände vollständig zu löschen.</codeName>
                    </xs:appinfo>
                  </xs:annotation>
                </xs:enumeration>
                <xs:enumeration value="Löschung irriger Eintrag">
                  <xs:annotation>
                    <xs:appinfo>
                      <codeName>Der ursprünglich übermittelte Datensatz war von Anfang an fehlerhaft. Der ursprüngliche Datensatz ist vollständig zu löschen.</codeName>
                    </xs:appinfo>
                  </xs:annotation>
                </xs:enumeration>
                <xs:enumeration value="Vorzeitige Ersetzung einer Vermögensauskunft">
                  <xs:annotation>
                    <xs:appinfo>
                      <codeName>Dieser Wert wird verwendet, wenn mit der Nachricht_Vermoegensauskunft_Uebermittlung_Korrektur die Art des Vermögensverzeichnisses geändert werden soll zu "Nachbesserung einer Vermögensauskunft" oder zu "Erneute Vermögensauskunft, § 802d ZPO".</codeName>
                    </xs:appinfo>
                  </xs:annotation>
                </xs:enumeration>
              </xs:restriction>
            </xs:simpleType>
          </xs:element>
        </xs:sequence>
        <xs:attribute name="listURI" type="xs:anyURI" use="optional" fixed="urn:xoev-de:xjustiz:codeliste:vstr.korrektur-loeschung">
          <xs:annotation>
            <xs:documentation>Dokumentation aus XOEV-Bibliothek:</xs:documentation>
            <xs:documentation>Mit diesem XML-Attribut wird die Kennung der Codeliste übermittelt, in deren Kontext der jeweilige Code zu interpretieren ist. Die Kennung identifiziert die Codeliste, nicht jedoch deren Version eindeutig.

Wird bereits im Rahmen des XÖV-Standards eine Kennung vorgegeben (es handelt sich in diesem Fall um einen Code-Typ 1, 2 oder 3) darf auf eine nochmalige Angabe der Kennung bei der Übermittlung eines Codes verzichtet werden. Aus diesem Grund ist das XML-Attribut listURI zunächst als optional deklariert.</xs:documentation>
          </xs:annotation>
        </xs:attribute>
        <xs:attribute name="listVersionID" type="xs:normalizedString" use="required" fixed="2.0">
          <xs:annotation>
            <xs:documentation>Dokumentation aus XOEV-Bibliothek:</xs:documentation>
            <xs:documentation>Die konkrete Version der zu nutzenden Codeliste wird mit diesem XML-Attribut übertragen.

Analog zum listURI ist die Bestimmung der Version einer Codeliste bei der Übertragung eines Codes zwingend. Die Version kann jedoch ebenfalls bereits im XÖV-Standard festgelegt werden (es handelt sich in diesem Fall um einen Code-Typ 1 oder 2).</xs:documentation>
          </xs:annotation>
        </xs:attribute>
      </xs:restriction>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="Code.VSTR.Registerart_Mobiliarvollstreckung">
    <xs:annotation>
      <xs:appinfo>
        <listAgencyName>BLK-AG IT-Standards für die Justiz</listAgencyName>
        <listName>VSTR.Registerart_Mobiliarvollstreckung</listName>
      </xs:appinfo>
      <xs:documentation>Codeliste der verschiedenen Registerarten bei Mobiliarvollstreckung.</xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:restriction base="xoev-code:Code">
        <xs:sequence>
          <xs:element name="code">
            <xs:annotation>
              <xs:documentation>Dokumentation aus XOEV-Bibliothek:</xs:documentation>
              <xs:documentation>In diesem XML-Element wird der Code einer Codeliste übermittelt.</xs:documentation>
            </xs:annotation>
            <xs:simpleType>
              <xs:restriction base="xs:token">
                <xs:enumeration value="GnR">
                  <xs:annotation>
                    <xs:appinfo>
                      <codeName>Genossenschaftsregister (AG)</codeName>
                    </xs:appinfo>
                  </xs:annotation>
                </xs:enumeration>
                <xs:enumeration value="HRA">
                  <xs:annotation>
                    <xs:appinfo>
                      <codeName>Handelsregister (Einzelkaufleute, Personengesellschaften) (AG)</codeName>
                    </xs:appinfo>
                  </xs:annotation>
                </xs:enumeration>
                <xs:enumeration value="HRB">
                  <xs:annotation>
                    <xs:appinfo>
                      <codeName>Handelsregister (Kapitalgesellschaften) (AG)</codeName>
                    </xs:appinfo>
                  </xs:annotation>
                </xs:enumeration>
                <xs:enumeration value="PR">
                  <xs:annotation>
                    <xs:appinfo>
                      <codeName>Partnerschaftsregister (AG)</codeName>
                    </xs:appinfo>
                  </xs:annotation>
                </xs:enumeration>
                <xs:enumeration value="VR">
                  <xs:annotation>
                    <xs:appinfo>
                      <codeName>Vereinsregister (AG)</codeName>
                    </xs:appinfo>
                  </xs:annotation>
                </xs:enumeration>
              </xs:restriction>
            </xs:simpleType>
          </xs:element>
        </xs:sequence>
        <xs:attribute name="listURI" type="xs:anyURI" use="optional" fixed="urn:xoev-de:xjustiz:codeliste:vstr.registerart-mobiliarvollstreckung">
          <xs:annotation>
            <xs:documentation>Dokumentation aus XOEV-Bibliothek:</xs:documentation>
            <xs:documentation>Mit diesem XML-Attribut wird die Kennung der Codeliste übermittelt, in deren Kontext der jeweilige Code zu interpretieren ist. Die Kennung identifiziert die Codeliste, nicht jedoch deren Version eindeutig.

Wird bereits im Rahmen des XÖV-Standards eine Kennung vorgegeben (es handelt sich in diesem Fall um einen Code-Typ 1, 2 oder 3) darf auf eine nochmalige Angabe der Kennung bei der Übermittlung eines Codes verzichtet werden. Aus diesem Grund ist das XML-Attribut listURI zunächst als optional deklariert.</xs:documentation>
          </xs:annotation>
        </xs:attribute>
        <xs:attribute name="listVersionID" type="xs:normalizedString" use="required" fixed="2.0">
          <xs:annotation>
            <xs:documentation>Dokumentation aus XOEV-Bibliothek:</xs:documentation>
            <xs:documentation>Die konkrete Version der zu nutzenden Codeliste wird mit diesem XML-Attribut übertragen.

Analog zum listURI ist die Bestimmung der Version einer Codeliste bei der Übertragung eines Codes zwingend. Die Version kann jedoch ebenfalls bereits im XÖV-Standard festgelegt werden (es handelt sich in diesem Fall um einen Code-Typ 1 oder 2).</xs:documentation>
          </xs:annotation>
        </xs:attribute>
      </xs:restriction>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="Code.VSTR.Rollenbezeichnung.Schuldnerverzeichnis">
    <xs:annotation>
      <xs:appinfo>
        <listAgencyName>BLK-AG IT-Standards für die Justiz</listAgencyName>
        <listName>VSTR.Rollenbezeichnung.Schuldnerverzeichnis</listName>
      </xs:appinfo>
      <xs:documentation>Codeliste der verschiedenen Rollenbezeichungen im Schuldnerverzeichnis.</xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:restriction base="xoev-code:Code">
        <xs:sequence>
          <xs:element name="code">
            <xs:annotation>
              <xs:documentation>Dokumentation aus XOEV-Bibliothek:</xs:documentation>
              <xs:documentation>In diesem XML-Element wird der Code einer Codeliste übermittelt.</xs:documentation>
            </xs:annotation>
            <xs:simpleType>
              <xs:restriction base="xs:token">
                <xs:enumeration value="001">
                  <xs:annotation>
                    <xs:appinfo>
                      <codeName>Schuldner/in</codeName>
                    </xs:appinfo>
                  </xs:annotation>
                </xs:enumeration>
              </xs:restriction>
            </xs:simpleType>
          </xs:element>
        </xs:sequence>
        <xs:attribute name="listURI" type="xs:anyURI" use="optional" fixed="urn:xoev-de:xjustiz:codeliste:vstr.rollenbezeichnung.schuldnerverzeichnis">
          <xs:annotation>
            <xs:documentation>Dokumentation aus XOEV-Bibliothek:</xs:documentation>
            <xs:documentation>Mit diesem XML-Attribut wird die Kennung der Codeliste übermittelt, in deren Kontext der jeweilige Code zu interpretieren ist. Die Kennung identifiziert die Codeliste, nicht jedoch deren Version eindeutig.

Wird bereits im Rahmen des XÖV-Standards eine Kennung vorgegeben (es handelt sich in diesem Fall um einen Code-Typ 1, 2 oder 3) darf auf eine nochmalige Angabe der Kennung bei der Übermittlung eines Codes verzichtet werden. Aus diesem Grund ist das XML-Attribut listURI zunächst als optional deklariert.</xs:documentation>
          </xs:annotation>
        </xs:attribute>
        <xs:attribute name="listVersionID" type="xs:normalizedString" use="required" fixed="2.0">
          <xs:annotation>
            <xs:documentation>Dokumentation aus XOEV-Bibliothek:</xs:documentation>
            <xs:documentation>Die konkrete Version der zu nutzenden Codeliste wird mit diesem XML-Attribut übertragen.

Analog zum listURI ist die Bestimmung der Version einer Codeliste bei der Übertragung eines Codes zwingend. Die Version kann jedoch ebenfalls bereits im XÖV-Standard festgelegt werden (es handelt sich in diesem Fall um einen Code-Typ 1 oder 2).</xs:documentation>
          </xs:annotation>
        </xs:attribute>
      </xs:restriction>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="Code.VSTR.Schuldnerverzeichnis_Loeschungsgruende">
    <xs:annotation>
      <xs:appinfo>
        <listAgencyName>BLK-AG IT-Standards für die Justiz</listAgencyName>
        <listName>VSTR.Schuldnerverzeichnis_Loeschungsgruende</listName>
      </xs:appinfo>
      <xs:documentation>Codeliste der verschiedenen Löschungsgründe im Schuldnerverzeichnis.</xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:restriction base="xoev-code:Code">
        <xs:sequence>
          <xs:element name="code">
            <xs:annotation>
              <xs:documentation>Dokumentation aus XOEV-Bibliothek:</xs:documentation>
              <xs:documentation>In diesem XML-Element wird der Code einer Codeliste übermittelt.</xs:documentation>
            </xs:annotation>
            <xs:simpleType>
              <xs:restriction base="xs:token">
                <xs:enumeration value="Korrektur">
                  <xs:annotation>
                    <xs:appinfo>
                      <codeName>Der ursprünglich übermittelte Datensatz ist aufgrund nachträglich eingetretener Umstände zu korrigieren. Der ursprüngliche Datensatz ist durch den Inhalt der Korrekturnachricht zu ersetzen.</codeName>
                    </xs:appinfo>
                  </xs:annotation>
                </xs:enumeration>
                <xs:enumeration value="Korrektur irriger Eintrag">
                  <xs:annotation>
                    <xs:appinfo>
                      <codeName>Der ursprünglich übermittelte Datensatz war von Anfang an fehlerhaft. Der ursprüngliche Datensatz ist durch den Inhalt der Korrekturnachricht zu ersetzen.</codeName>
                    </xs:appinfo>
                  </xs:annotation>
                </xs:enumeration>
                <xs:enumeration value="Löschung">
                  <xs:annotation>
                    <xs:appinfo>
                      <codeName>Der ursprünglich übermittelte Datensatz ist aufgrund nachträglich eingetretener Umstände vollständig zu löschen.</codeName>
                    </xs:appinfo>
                  </xs:annotation>
                </xs:enumeration>
                <xs:enumeration value="Löschung der Eintragung wegen Fristablaufs">
                  <xs:annotation>
                    <xs:appinfo>
                      <codeName>Die Eintragung im Schuldnerverzeichnis wurde aufgrund des Ablaufs der die für die Dauer der Eintragung bestimmten Frist gelöscht.</codeName>
                    </xs:appinfo>
                  </xs:annotation>
                </xs:enumeration>
                <xs:enumeration value="Löschung irriger Eintrag">
                  <xs:annotation>
                    <xs:appinfo>
                      <codeName>Der ursprünglich übermittelte Datensatz war von Anfang an fehlerhaft. Der ursprüngliche Datensatz ist vollständig zu löschen.</codeName>
                    </xs:appinfo>
                  </xs:annotation>
                </xs:enumeration>
                <xs:enumeration value="vorzeitige Löschung der Eintragung im Schuldnerverzeichnis">
                  <xs:annotation>
                    <xs:appinfo>
                      <codeName>Die Eintragung im Schuldnerverzeichnis wurde durch Beschluss des zentralen Vollstreckungsgerichts gelöscht.</codeName>
                    </xs:appinfo>
                  </xs:annotation>
                </xs:enumeration>
              </xs:restriction>
            </xs:simpleType>
          </xs:element>
        </xs:sequence>
        <xs:attribute name="listURI" type="xs:anyURI" use="optional" fixed="urn:xoev-de:xjustiz:codeliste:vstr.schuldnerverzeichnis-loeschungsgruende">
          <xs:annotation>
            <xs:documentation>Dokumentation aus XOEV-Bibliothek:</xs:documentation>
            <xs:documentation>Mit diesem XML-Attribut wird die Kennung der Codeliste übermittelt, in deren Kontext der jeweilige Code zu interpretieren ist. Die Kennung identifiziert die Codeliste, nicht jedoch deren Version eindeutig.

Wird bereits im Rahmen des XÖV-Standards eine Kennung vorgegeben (es handelt sich in diesem Fall um einen Code-Typ 1, 2 oder 3) darf auf eine nochmalige Angabe der Kennung bei der Übermittlung eines Codes verzichtet werden. Aus diesem Grund ist das XML-Attribut listURI zunächst als optional deklariert.</xs:documentation>
          </xs:annotation>
        </xs:attribute>
        <xs:attribute name="listVersionID" type="xs:normalizedString" use="required" fixed="2.0">
          <xs:annotation>
            <xs:documentation>Dokumentation aus XOEV-Bibliothek:</xs:documentation>
            <xs:documentation>Die konkrete Version der zu nutzenden Codeliste wird mit diesem XML-Attribut übertragen.

Analog zum listURI ist die Bestimmung der Version einer Codeliste bei der Übertragung eines Codes zwingend. Die Version kann jedoch ebenfalls bereits im XÖV-Standard festgelegt werden (es handelt sich in diesem Fall um einen Code-Typ 1 oder 2).</xs:documentation>
          </xs:annotation>
        </xs:attribute>
      </xs:restriction>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="Code.VSTR.Verarbeitungsergebnis_Schuldnerverzeichnis">
    <xs:annotation>
      <xs:appinfo>
        <listAgencyName>BLK-AG IT-Standards für die Justiz</listAgencyName>
        <listName>VSTR.Verarbeitungsergebnis_Schuldnerverzeichnis</listName>
      </xs:appinfo>
      <xs:documentation>Codeliste der verschiedenen Verarbeitungsergebnisse im Schuldnerverzeichnis.</xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:restriction base="xoev-code:Code">
        <xs:sequence>
          <xs:element name="code">
            <xs:annotation>
              <xs:documentation>Dokumentation aus XOEV-Bibliothek:</xs:documentation>
              <xs:documentation>In diesem XML-Element wird der Code einer Codeliste übermittelt.</xs:documentation>
            </xs:annotation>
            <xs:simpleType>
              <xs:restriction base="xs:token">
                <xs:enumeration value="001 Eintragung erfolgt">
                  <xs:annotation>
                    <xs:appinfo>
                      <codeName>Eintragung erfolgt</codeName>
                    </xs:appinfo>
                  </xs:annotation>
                </xs:enumeration>
                <xs:enumeration value="002 Sonstiger Fehler">
                  <xs:annotation>
                    <xs:appinfo>
                      <codeName>Sonstiger Fehler</codeName>
                    </xs:appinfo>
                  </xs:annotation>
                </xs:enumeration>
                <xs:enumeration value="003 Verfahrensnummer nicht vorhanden">
                  <xs:annotation>
                    <xs:appinfo>
                      <codeName>Zu der übermittelten Verfahrensnummer wurde kein Eintrag gefunden.</codeName>
                    </xs:appinfo>
                  </xs:annotation>
                </xs:enumeration>
                <xs:enumeration value="004 Element Korrektur_Loeschung fehlt">
                  <xs:annotation>
                    <xs:appinfo>
                      <codeName>Es wurde nicht mitgeteilt, ob eine Korrektur oder Löschung des beim zentralen Vollstreckungsgerichts bereits vorhandenen Datensatzes erfolgen soll.</codeName>
                    </xs:appinfo>
                  </xs:annotation>
                </xs:enumeration>
                <xs:enumeration value="005 Verfahrensnummer fehlt">
                  <xs:annotation>
                    <xs:appinfo>
                      <codeName>Es wurde keine Verfahrensnummer angegeben, obwohl die eingegangene Nachricht das Element Korrektur_Loeschung enthielt.</codeName>
                    </xs:appinfo>
                  </xs:annotation>
                </xs:enumeration>
                <xs:enumeration value="006 Falsche Art des Vermögensverzeichnisses">
                  <xs:annotation>
                    <xs:appinfo>
                      <codeName>Aufgrund der in der Nachricht vorhandenen Informationen kann kein Vermögensverzeichnis der Art "Neue Vermögensauskunft" eingereicht werden.</codeName>
                    </xs:appinfo>
                  </xs:annotation>
                </xs:enumeration>
                <xs:enumeration value="007 Datensatz bereits vorhanden">
                  <xs:annotation>
                    <xs:appinfo>
                      <codeName>Der übermittelte Datensatz ist bereits vorhanden.</codeName>
                    </xs:appinfo>
                  </xs:annotation>
                </xs:enumeration>
                <xs:enumeration value="008 Eintragungshemmnis vorhanden">
                  <xs:annotation>
                    <xs:appinfo>
                      <codeName>Der Vollzug der Eintragung wurde vom lokalen Vollstreckungsgericht untersagt.</codeName>
                    </xs:appinfo>
                  </xs:annotation>
                </xs:enumeration>
                <xs:enumeration value="009 keine Korrektur / Löschung">
                  <xs:annotation>
                    <xs:appinfo>
                      <codeName>Das zentrale Vollstreckungsgericht hat die Vornahme der gewünschten Korrektur / Löschung abgelehnt.</codeName>
                    </xs:appinfo>
                  </xs:annotation>
                </xs:enumeration>
                <xs:enumeration value="010 Eingang Zurückweisung Schuldnerwiderspruch">
                  <xs:annotation>
                    <xs:appinfo>
                      <codeName>Da keine vorhergehende Eintragung einer einstweiligen Aussetzung erfolgte, hat die Zurückweisung des Schuldnerwiderspruchs keine Auswirkungen auf das Schuldnerverzeichnis.</codeName>
                    </xs:appinfo>
                  </xs:annotation>
                </xs:enumeration>
                <xs:enumeration value="020 Aktenzeichen inkonsistent">
                  <xs:annotation>
                    <xs:appinfo>
                      <codeName>Das Aktenzeichen ist nicht in allen Nachrichtenteilen konsistent angegeben.</codeName>
                    </xs:appinfo>
                  </xs:annotation>
                </xs:enumeration>
                <xs:enumeration value="021 Verfahrensnummer ungültig">
                  <xs:annotation>
                    <xs:appinfo>
                      <codeName>Länge unzulässig, Prüfziffer fehlerhaft oder Verfahrensnummer nicht numerisch.</codeName>
                    </xs:appinfo>
                  </xs:annotation>
                </xs:enumeration>
                <xs:enumeration value="022 Falsches ZenVG in Verfahrensnummer">
                  <xs:annotation>
                    <xs:appinfo>
                      <codeName>ZenVG in Verfahrensnummer ungültig für Einlieferer.</codeName>
                    </xs:appinfo>
                  </xs:annotation>
                </xs:enumeration>
                <xs:enumeration value="023 XJustiz Kode ZenVG ungültig">
                  <xs:annotation>
                    <xs:appinfo>
                      <codeName>XJustiz Kode ZenVG ungültig</codeName>
                    </xs:appinfo>
                  </xs:annotation>
                </xs:enumeration>
                <xs:enumeration value="024 Ereignis ungültig">
                  <xs:annotation>
                    <xs:appinfo>
                      <codeName>Im Nachrichtenkopf wurde kein gültiges Nachrichtenereignis angegeben.</codeName>
                    </xs:appinfo>
                  </xs:annotation>
                </xs:enumeration>
                <xs:enumeration value="025 Instanzdaten ungültig">
                  <xs:annotation>
                    <xs:appinfo>
                      <codeName>Instanzdaten ungültig</codeName>
                    </xs:appinfo>
                  </xs:annotation>
                </xs:enumeration>
                <xs:enumeration value="026 Rollennummer ungültig">
                  <xs:annotation>
                    <xs:appinfo>
                      <codeName>Rollennummer ungültig</codeName>
                    </xs:appinfo>
                  </xs:annotation>
                </xs:enumeration>
                <xs:enumeration value="027 Falsches Sachgebiet">
                  <xs:annotation>
                    <xs:appinfo>
                      <codeName>Falsches Sachgebiet</codeName>
                    </xs:appinfo>
                  </xs:annotation>
                </xs:enumeration>
                <xs:enumeration value="028 Vorname, Vorkommen ungültig">
                  <xs:annotation>
                    <xs:appinfo>
                      <codeName>Das Element Vorname darf nur einmal übergeben werden.</codeName>
                    </xs:appinfo>
                  </xs:annotation>
                </xs:enumeration>
                <xs:enumeration value="029 Weiterer_Name, Vorkommen ungültig">
                  <xs:annotation>
                    <xs:appinfo>
                      <codeName>Das Element Weiterer_Name darf nur einmal übergeben werden.</codeName>
                    </xs:appinfo>
                  </xs:annotation>
                </xs:enumeration>
                <xs:enumeration value="030 Rufname ungültig">
                  <xs:annotation>
                    <xs:appinfo>
                      <codeName>Der angegebene Rufname ist nicht im Vornamen enthalten.</codeName>
                    </xs:appinfo>
                  </xs:annotation>
                </xs:enumeration>
                <xs:enumeration value="031 Bezeichnung_Alt, Vorkommen ungültig">
                  <xs:annotation>
                    <xs:appinfo>
                      <codeName>Das Element Bezeichnung_Alt darf nur einmal übergeben werden.</codeName>
                    </xs:appinfo>
                  </xs:annotation>
                </xs:enumeration>
                <xs:enumeration value="032 Aktuelle_Anschrift, Vorkommen ungültig">
                  <xs:annotation>
                    <xs:appinfo>
                      <codeName>Es darf nur eine aktuelle Anschrift übergeben werden.</codeName>
                    </xs:appinfo>
                  </xs:annotation>
                </xs:enumeration>
                <xs:enumeration value="033 Eintragungsanordnung ungültig">
                  <xs:annotation>
                    <xs:appinfo>
                      <codeName>Eintragungsanordnung ungültig</codeName>
                    </xs:appinfo>
                  </xs:annotation>
                </xs:enumeration>
                <xs:enumeration value="034 Anrede Partei, Vorkommen ungültig">
                  <xs:annotation>
                    <xs:appinfo>
                      <codeName>Die Anrede in der Rolle darf nur einmal übergeben werden.</codeName>
                    </xs:appinfo>
                  </xs:annotation>
                </xs:enumeration>
                <xs:enumeration value="035 Korrektur_Loeschung ungültig">
                  <xs:annotation>
                    <xs:appinfo>
                      <codeName>Korrektur_Loeschung ungültig</codeName>
                    </xs:appinfo>
                  </xs:annotation>
                </xs:enumeration>
                <xs:enumeration value="036 Ungültige Version im Nachrichtenkopf">
                  <xs:annotation>
                    <xs:appinfo>
                      <codeName>Im Nachrichtenkopf muss die gleiche XJustiz-Version übergeben werden wie im Attribut xjustizVersion der Grunddaten.</codeName>
                    </xs:appinfo>
                  </xs:annotation>
                </xs:enumeration>
                <xs:enumeration value="037 Sitz, Vorkommen ungültig">
                  <xs:annotation>
                    <xs:appinfo>
                      <codeName>Das Element Sitz darf nur einmal übergeben werden.</codeName>
                    </xs:appinfo>
                  </xs:annotation>
                </xs:enumeration>
                <xs:enumeration value="038 Handelnd_unter, Vorkommen ungültig">
                  <xs:annotation>
                    <xs:appinfo>
                      <codeName>Das Element Handelnd_unter darf nur einmal übergeben werden.</codeName>
                    </xs:appinfo>
                  </xs:annotation>
                </xs:enumeration>
                <xs:enumeration value="039 Vermögensverzeichnis fehlt">
                  <xs:annotation>
                    <xs:appinfo>
                      <codeName>Der Nachricht wurde kein Anhang beigefügt, obwohl ein Vermögensverzeichnis übermittelt werden sollte.</codeName>
                    </xs:appinfo>
                  </xs:annotation>
                </xs:enumeration>
                <xs:enumeration value="040 Falscher Dokumententyp im Anhang">
                  <xs:annotation>
                    <xs:appinfo>
                      <codeName>Das Vermögensverzeichnis wurde nicht im PDF-Format übersandt.</codeName>
                    </xs:appinfo>
                  </xs:annotation>
                </xs:enumeration>
                <xs:enumeration value="041 Mehr als ein Dokument übersandt">
                  <xs:annotation>
                    <xs:appinfo>
                      <codeName>Es darf einer Nachricht nur ein PDF-Dokument als Anhang beigefügt werden.</codeName>
                    </xs:appinfo>
                  </xs:annotation>
                </xs:enumeration>
                <xs:enumeration value="042 Absender INSO falsch">
                  <xs:annotation>
                    <xs:appinfo>
                      <codeName>Bei einer INSO Eintragung stimmen Absender im Nachrichtenkopf und Gericht in der Eintragungsanordnung nicht überein.</codeName>
                    </xs:appinfo>
                  </xs:annotation>
                </xs:enumeration>
                <xs:enumeration value="043 Kein Aktenzeichen angegeben">
                  <xs:annotation>
                    <xs:appinfo>
                      <codeName>Es wurde in der Eintragungsanordnung kein Aktenzeichen mit Länge größer 0 angegeben.</codeName>
                    </xs:appinfo>
                  </xs:annotation>
                </xs:enumeration>
                <xs:enumeration value="044 Anordnungsbehörde, fehlende / falsche Berechtigung Einlieferer">
                  <xs:annotation>
                    <xs:appinfo>
                      <codeName>Der Einlieferer hat keine Berechtigung zur Einlieferung oder für diese Anordnung.</codeName>
                    </xs:appinfo>
                  </xs:annotation>
                </xs:enumeration>
                <xs:enumeration value="045 Kein Name angegeben">
                  <xs:annotation>
                    <xs:appinfo>
                      <codeName>Es wurde kein Name mit einer Länge größer 0 angegeben.</codeName>
                    </xs:appinfo>
                  </xs:annotation>
                </xs:enumeration>
                <xs:enumeration value="046 Ungültige Zeitzone Datum">
                  <xs:annotation>
                    <xs:appinfo>
                      <codeName>Für Datumsfelder wird implizit die deutsche Zeitzone angenommen.</codeName>
                    </xs:appinfo>
                  </xs:annotation>
                </xs:enumeration>
                <xs:enumeration value="047 Registereintragung, Vorkommen ungültig">
                  <xs:annotation>
                    <xs:appinfo>
                      <codeName>Das Element Registereintragung darf nur einmal übergeben werden.</codeName>
                    </xs:appinfo>
                  </xs:annotation>
                </xs:enumeration>
                <xs:enumeration value="048 Korrektur / Löschung, Wert ungültig">
                  <xs:annotation>
                    <xs:appinfo>
                      <codeName>Der Wert 'Vorzeitige Ersetzung einer Vermögensauskunft' darf hier nicht übergeben werden.</codeName>
                    </xs:appinfo>
                  </xs:annotation>
                </xs:enumeration>
                <xs:enumeration value="049 Keine ausreichende Datenübereinstimmung">
                  <xs:annotation>
                    <xs:appinfo>
                      <codeName>Dieser Return Code kann von einem Landesverfahren bei zusätzlichen Plausibilisierungen, die die Implementierung des Landesverfahrens vornimmt, zurückgeschickt werden.</codeName>
                    </xs:appinfo>
                  </xs:annotation>
                </xs:enumeration>
                <xs:enumeration value="501 Eintragung erfolgt">
                  <xs:annotation>
                    <xs:appinfo>
                      <codeName>Der XJustiz-Datensatz wurde vom Vollstreckungsportal ohne Fehler übernommen.</codeName>
                    </xs:appinfo>
                  </xs:annotation>
                </xs:enumeration>
                <xs:enumeration value="502 Sonstiger Fehler">
                  <xs:annotation>
                    <xs:appinfo>
                      <codeName>Sonstiger Fehler</codeName>
                    </xs:appinfo>
                  </xs:annotation>
                </xs:enumeration>
                <xs:enumeration value="503 Syntaktischer Fehler im Datensatz">
                  <xs:annotation>
                    <xs:appinfo>
                      <codeName>Syntaktischer Fehler im Datensatz</codeName>
                    </xs:appinfo>
                  </xs:annotation>
                </xs:enumeration>
                <xs:enumeration value="504 Verfahrensnummer nicht vorhanden">
                  <xs:annotation>
                    <xs:appinfo>
                      <codeName>Verfahrensnummer nicht vorhanden</codeName>
                    </xs:appinfo>
                  </xs:annotation>
                </xs:enumeration>
                <xs:enumeration value="505 Keine Eintragung (Vollstreckungportal-interner Fehler)">
                  <xs:annotation>
                    <xs:appinfo>
                      <codeName>Keine Eintragung (Vollstreckungportal-interner Fehler)</codeName>
                    </xs:appinfo>
                  </xs:annotation>
                </xs:enumeration>
                <xs:enumeration value="506 Keine Korrektur (Vollstreckungportal-interner Fehler)">
                  <xs:annotation>
                    <xs:appinfo>
                      <codeName>Keine Korrektur (Vollstreckungportal-interner Fehler)</codeName>
                    </xs:appinfo>
                  </xs:annotation>
                </xs:enumeration>
                <xs:enumeration value="507 Keine Löschung (Vollstreckungportal-interner Fehler)">
                  <xs:annotation>
                    <xs:appinfo>
                      <codeName>Keine Löschung (Vollstreckungportal-interner Fehler)</codeName>
                    </xs:appinfo>
                  </xs:annotation>
                </xs:enumeration>
                <xs:enumeration value="508 Authentisierung Aufrufer fehlgeschlagen">
                  <xs:annotation>
                    <xs:appinfo>
                      <codeName>Authentisierung Aufrufer fehlgeschlagen</codeName>
                    </xs:appinfo>
                  </xs:annotation>
                </xs:enumeration>
                <xs:enumeration value="509 Aufrufer für die Nutzung des Web-Service nicht autorisiert">
                  <xs:annotation>
                    <xs:appinfo>
                      <codeName>Aufrufer für die Nutzung des Web-Service nicht autorisiert</codeName>
                    </xs:appinfo>
                  </xs:annotation>
                </xs:enumeration>
                <xs:enumeration value="510 Portal: Einlieferung Fachdaten abgeschaltet">
                  <xs:annotation>
                    <xs:appinfo>
                      <codeName>Die Einlieferung von Fachdaten ist für diesen Mandanten zur Zeit im Portal abgeschaltet (Ampel rot)</codeName>
                    </xs:appinfo>
                  </xs:annotation>
                </xs:enumeration>
              </xs:restriction>
            </xs:simpleType>
          </xs:element>
        </xs:sequence>
        <xs:attribute name="listURI" type="xs:anyURI" use="optional" fixed="urn:xoev-de:xjustiz:codeliste:vstr.verarbeitungsergebnis-schuldnerverzeichnis">
          <xs:annotation>
            <xs:documentation>Dokumentation aus XOEV-Bibliothek:</xs:documentation>
            <xs:documentation>Mit diesem XML-Attribut wird die Kennung der Codeliste übermittelt, in deren Kontext der jeweilige Code zu interpretieren ist. Die Kennung identifiziert die Codeliste, nicht jedoch deren Version eindeutig.

Wird bereits im Rahmen des XÖV-Standards eine Kennung vorgegeben (es handelt sich in diesem Fall um einen Code-Typ 1, 2 oder 3) darf auf eine nochmalige Angabe der Kennung bei der Übermittlung eines Codes verzichtet werden. Aus diesem Grund ist das XML-Attribut listURI zunächst als optional deklariert.</xs:documentation>
          </xs:annotation>
        </xs:attribute>
        <xs:attribute name="listVersionID" type="xs:normalizedString" use="required" fixed="2.0">
          <xs:annotation>
            <xs:documentation>Dokumentation aus XOEV-Bibliothek:</xs:documentation>
            <xs:documentation>Die konkrete Version der zu nutzenden Codeliste wird mit diesem XML-Attribut übertragen.

Analog zum listURI ist die Bestimmung der Version einer Codeliste bei der Übertragung eines Codes zwingend. Die Version kann jedoch ebenfalls bereits im XÖV-Standard festgelegt werden (es handelt sich in diesem Fall um einen Code-Typ 1 oder 2).</xs:documentation>
          </xs:annotation>
        </xs:attribute>
      </xs:restriction>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="Code.VSTR.Vermoegensverzeichnis_Art">
    <xs:annotation>
      <xs:appinfo>
        <listAgencyName>BLK-AG IT-Standards für die Justiz</listAgencyName>
        <listName>VSTR.Vermoegensverzeichnis_Art</listName>
      </xs:appinfo>
      <xs:documentation>Codeliste der verschiedenen Vermögensverzeichnisarten.</xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:restriction base="xoev-code:Code">
        <xs:sequence>
          <xs:element name="code">
            <xs:annotation>
              <xs:documentation>Dokumentation aus XOEV-Bibliothek:</xs:documentation>
              <xs:documentation>In diesem XML-Element wird der Code einer Codeliste übermittelt.</xs:documentation>
            </xs:annotation>
            <xs:simpleType>
              <xs:restriction base="xs:token">
                <xs:enumeration value="001">
                  <xs:annotation>
                    <xs:appinfo>
                      <codeName>Erneute Vermögensauskunft, § 802d ZPO</codeName>
                    </xs:appinfo>
                  </xs:annotation>
                </xs:enumeration>
                <xs:enumeration value="Nachbesserung der Vermögensauskunft">
                  <xs:annotation>
                    <xs:appinfo>
                      <codeName>Das bereits vorliegende Vermögensverzeichnis ist nachzubessern, ohne dass die Voraussetzungen des § 802d ZPO gegeben sind, weil die im Vermögensverzeichnis enthaltenen Angaben lückenhaft, ungenau oder unklar sind.</codeName>
                    </xs:appinfo>
                  </xs:annotation>
                </xs:enumeration>
                <xs:enumeration value="Neue Vermögensauskunft">
                  <xs:annotation>
                    <xs:appinfo>
                      <codeName>Für den Schuldner liegt kein Vermögensverzeichnis vor, da er entweder bisher keine Vermögensauskunft abgegeben hat oder ein füher bereits errichtetes Vermögensverzeichnisse gelöscht wurde.</codeName>
                    </xs:appinfo>
                  </xs:annotation>
                </xs:enumeration>
              </xs:restriction>
            </xs:simpleType>
          </xs:element>
        </xs:sequence>
        <xs:attribute name="listURI" type="xs:anyURI" use="optional" fixed="urn:xoev-de:xjustiz:codeliste:vstr.vermoegensverzeichnis-art">
          <xs:annotation>
            <xs:documentation>Dokumentation aus XOEV-Bibliothek:</xs:documentation>
            <xs:documentation>Mit diesem XML-Attribut wird die Kennung der Codeliste übermittelt, in deren Kontext der jeweilige Code zu interpretieren ist. Die Kennung identifiziert die Codeliste, nicht jedoch deren Version eindeutig.

Wird bereits im Rahmen des XÖV-Standards eine Kennung vorgegeben (es handelt sich in diesem Fall um einen Code-Typ 1, 2 oder 3) darf auf eine nochmalige Angabe der Kennung bei der Übermittlung eines Codes verzichtet werden. Aus diesem Grund ist das XML-Attribut listURI zunächst als optional deklariert.</xs:documentation>
          </xs:annotation>
        </xs:attribute>
        <xs:attribute name="listVersionID" type="xs:normalizedString" use="required" fixed="2.0">
          <xs:annotation>
            <xs:documentation>Dokumentation aus XOEV-Bibliothek:</xs:documentation>
            <xs:documentation>Die konkrete Version der zu nutzenden Codeliste wird mit diesem XML-Attribut übertragen.

Analog zum listURI ist die Bestimmung der Version einer Codeliste bei der Übertragung eines Codes zwingend. Die Version kann jedoch ebenfalls bereits im XÖV-Standard festgelegt werden (es handelt sich in diesem Fall um einen Code-Typ 1 oder 2).</xs:documentation>
          </xs:annotation>
        </xs:attribute>
      </xs:restriction>
    </xs:complexContent>
  </xs:complexType>
</xs:schema>

