X.Justiz-Versions/2.2.1/XJustiz 2.2.1 XSD/xjustiz_0240_cl_versorgungsauskunft_2_0.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://www.xjustiz.de" xmlns:xoev-code="http://xoev.de/schemata/code/1_0" targetNamespace="http://www.xjustiz.de" version="2.0.0" elementFormDefault="unqualified" attributeFormDefault="unqualified">
  <xs:import schemaLocation="xoev-code.xsd" namespace="http://xoev.de/schemata/code/1_0" />
  <xs:complexType name="Code.VAG.Ausgleich">
    <xs:annotation>
      <xs:appinfo>
        <listAgencyName>BLK-AG IT-Standards für die Justiz</listAgencyName>
        <listName>VAG.Ausgleich</listName>
      </xs:appinfo>
      <xs:documentation>Codeliste der verschiedenen Ausgleichsarten.</xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:restriction base="xoev-code:Code">
        <xs:sequence>
          <xs:element name="code">
            <xs:annotation>
              <xs:documentation>Dokumentation aus XOEV-Bibliothek:</xs:documentation>
              <xs:documentation>In diesem XML-Element wird der Code einer Codeliste übermittelt.</xs:documentation>
            </xs:annotation>
            <xs:simpleType>
              <xs:restriction base="xs:token">
                <xs:enumeration value="01">
                  <xs:annotation>
                    <xs:appinfo>
                      <codeName>Anrechte vorhanden</codeName>
                    </xs:appinfo>
                  </xs:annotation>
                </xs:enumeration>
                <xs:enumeration value="02">
                  <xs:annotation>
                    <xs:appinfo>
                      <codeName>keine Anrechte vorhanden</codeName>
                    </xs:appinfo>
                  </xs:annotation>
                </xs:enumeration>
                <xs:enumeration value="03">
                  <xs:annotation>
                    <xs:appinfo>
                      <codeName>Anrechte vorhanden, aber keine Übermittlung im elektronischen Datensatz</codeName>
                    </xs:appinfo>
                  </xs:annotation>
                </xs:enumeration>
              </xs:restriction>
            </xs:simpleType>
          </xs:element>
        </xs:sequence>
        <xs:attribute name="listURI" type="xs:anyURI" use="optional" fixed="urn:xoev-de:xjustiz:codeliste:vag.ausgleich">
          <xs:annotation>
            <xs:documentation>Dokumentation aus XOEV-Bibliothek:</xs:documentation>
            <xs:documentation>Mit diesem XML-Attribut wird die Kennung der Codeliste übermittelt, in deren Kontext der jeweilige Code zu interpretieren ist. Die Kennung identifiziert die Codeliste, nicht jedoch deren Version eindeutig.

Wird bereits im Rahmen des XÖV-Standards eine Kennung vorgegeben (es handelt sich in diesem Fall um einen Code-Typ 1, 2 oder 3) darf auf eine nochmalige Angabe der Kennung bei der Übermittlung eines Codes verzichtet werden. Aus diesem Grund ist das XML-Attribut listURI zunächst als optional deklariert.</xs:documentation>
          </xs:annotation>
        </xs:attribute>
        <xs:attribute name="listVersionID" type="xs:normalizedString" use="required" fixed="2.0">
          <xs:annotation>
            <xs:documentation>Dokumentation aus XOEV-Bibliothek:</xs:documentation>
            <xs:documentation>Die konkrete Version der zu nutzenden Codeliste wird mit diesem XML-Attribut übertragen.

Analog zum listURI ist die Bestimmung der Version einer Codeliste bei der Übertragung eines Codes zwingend. Die Version kann jedoch ebenfalls bereits im XÖV-Standard festgelegt werden (es handelt sich in diesem Fall um einen Code-Typ 1 oder 2).</xs:documentation>
          </xs:annotation>
        </xs:attribute>
      </xs:restriction>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="Code.VAG.Bezugsgroesse">
    <xs:annotation>
      <xs:appinfo>
        <listAgencyName>BLK-AG IT-Standards für die Justiz</listAgencyName>
        <listName>VAG.Bezugsgroesse</listName>
      </xs:appinfo>
      <xs:documentation>Codeliste der verschiedenen Bezugsgrössen.</xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:restriction base="xoev-code:Code">
        <xs:sequence>
          <xs:element name="code">
            <xs:annotation>
              <xs:documentation>Dokumentation aus XOEV-Bibliothek:</xs:documentation>
              <xs:documentation>In diesem XML-Element wird der Code einer Codeliste übermittelt.</xs:documentation>
            </xs:annotation>
            <xs:simpleType>
              <xs:restriction base="xs:token">
                <xs:enumeration value="01">
                  <xs:annotation>
                    <xs:appinfo>
                      <codeName>Entgeltpunkte Knappschaft Ost</codeName>
                    </xs:appinfo>
                  </xs:annotation>
                </xs:enumeration>
                <xs:enumeration value="02">
                  <xs:annotation>
                    <xs:appinfo>
                      <codeName>Entgeltpunkte Knappschaft West</codeName>
                    </xs:appinfo>
                  </xs:annotation>
                </xs:enumeration>
                <xs:enumeration value="03">
                  <xs:annotation>
                    <xs:appinfo>
                      <codeName>Entgeltpunkte Ost</codeName>
                    </xs:appinfo>
                  </xs:annotation>
                </xs:enumeration>
                <xs:enumeration value="04">
                  <xs:annotation>
                    <xs:appinfo>
                      <codeName>Entgeltpunkte West</codeName>
                    </xs:appinfo>
                  </xs:annotation>
                </xs:enumeration>
                <xs:enumeration value="05">
                  <xs:annotation>
                    <xs:appinfo>
                      <codeName>Kapitalwert in Euro</codeName>
                    </xs:appinfo>
                  </xs:annotation>
                </xs:enumeration>
                <xs:enumeration value="06">
                  <xs:annotation>
                    <xs:appinfo>
                      <codeName>Rentenbetrag monatlich in Euro Ost</codeName>
                    </xs:appinfo>
                  </xs:annotation>
                </xs:enumeration>
                <xs:enumeration value="07">
                  <xs:annotation>
                    <xs:appinfo>
                      <codeName>Rentenbetrag monatlich in Euro West</codeName>
                    </xs:appinfo>
                  </xs:annotation>
                </xs:enumeration>
                <xs:enumeration value="08">
                  <xs:annotation>
                    <xs:appinfo>
                      <codeName>statischer Rentenbetrag aus Höherversicherung monatlich in Euro</codeName>
                    </xs:appinfo>
                  </xs:annotation>
                </xs:enumeration>
                <xs:enumeration value="09">
                  <xs:annotation>
                    <xs:appinfo>
                      <codeName>Steigerungszahl</codeName>
                    </xs:appinfo>
                  </xs:annotation>
                </xs:enumeration>
                <xs:enumeration value="10">
                  <xs:annotation>
                    <xs:appinfo>
                      <codeName>Versorgungspunkt</codeName>
                    </xs:appinfo>
                  </xs:annotation>
                </xs:enumeration>
                <xs:enumeration value="99">
                  <xs:annotation>
                    <xs:appinfo>
                      <codeName>andere</codeName>
                    </xs:appinfo>
                  </xs:annotation>
                </xs:enumeration>
              </xs:restriction>
            </xs:simpleType>
          </xs:element>
        </xs:sequence>
        <xs:attribute name="listURI" type="xs:anyURI" use="optional" fixed="urn:xoev-de:xjustiz:codeliste:vag.bezugsgroesse">
          <xs:annotation>
            <xs:documentation>Dokumentation aus XOEV-Bibliothek:</xs:documentation>
            <xs:documentation>Mit diesem XML-Attribut wird die Kennung der Codeliste übermittelt, in deren Kontext der jeweilige Code zu interpretieren ist. Die Kennung identifiziert die Codeliste, nicht jedoch deren Version eindeutig.

Wird bereits im Rahmen des XÖV-Standards eine Kennung vorgegeben (es handelt sich in diesem Fall um einen Code-Typ 1, 2 oder 3) darf auf eine nochmalige Angabe der Kennung bei der Übermittlung eines Codes verzichtet werden. Aus diesem Grund ist das XML-Attribut listURI zunächst als optional deklariert.</xs:documentation>
          </xs:annotation>
        </xs:attribute>
        <xs:attribute name="listVersionID" type="xs:normalizedString" use="required" fixed="2.0">
          <xs:annotation>
            <xs:documentation>Dokumentation aus XOEV-Bibliothek:</xs:documentation>
            <xs:documentation>Die konkrete Version der zu nutzenden Codeliste wird mit diesem XML-Attribut übertragen.

Analog zum listURI ist die Bestimmung der Version einer Codeliste bei der Übertragung eines Codes zwingend. Die Version kann jedoch ebenfalls bereits im XÖV-Standard festgelegt werden (es handelt sich in diesem Fall um einen Code-Typ 1 oder 2).</xs:documentation>
          </xs:annotation>
        </xs:attribute>
      </xs:restriction>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="Code.VAG.Ereignis.Auskunft">
    <xs:annotation>
      <xs:appinfo>
        <listAgencyName>BLK-AG IT-Standards für die Justiz</listAgencyName>
        <listName>VAG.Ereignis.Auskunft</listName>
      </xs:appinfo>
      <xs:documentation>Diese Codeliste listet dasjenige Ereignis auf, das zum Versenden einer Auskunft führt. Im Instanzdokument sollte mit Hilfe von xsi:type auf diese Typdefinition verwiesen werden.</xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:restriction base="xoev-code:Code">
        <xs:sequence>
          <xs:element name="code">
            <xs:annotation>
              <xs:documentation>Dokumentation aus XOEV-Bibliothek:</xs:documentation>
              <xs:documentation>In diesem XML-Element wird der Code einer Codeliste übermittelt.</xs:documentation>
            </xs:annotation>
            <xs:simpleType>
              <xs:restriction base="xs:token">
                <xs:enumeration value="01">
                  <xs:annotation>
                    <xs:appinfo>
                      <codeName>Anrechte nur außerhalb der Ehezeit</codeName>
                    </xs:appinfo>
                    <xs:documentation>Es ergibt sich kein Ehezeitanteil.</xs:documentation>
                  </xs:annotation>
                </xs:enumeration>
                <xs:enumeration value="02">
                  <xs:annotation>
                    <xs:appinfo>
                      <codeName>Anrechte, Auskunft elektronisch</codeName>
                    </xs:appinfo>
                    <xs:documentation>Standardfall der Auskunft, Übersendung eines Datensatzes einschließlich der PDF-Datei.</xs:documentation>
                  </xs:annotation>
                </xs:enumeration>
                <xs:enumeration value="03">
                  <xs:annotation>
                    <xs:appinfo>
                      <codeName>Anrechte, Auskunft erfolgt auf Papier</codeName>
                    </xs:appinfo>
                    <xs:documentation>Endgültiger Abbruch des elektronischen Verfahrens, falls Auskunftserteilung elektronisch nicht möglich ist (zum Beispiel für Ausnahmefälle, in denen die Auskunft nur manuell erteilt werden kann); Sämtliche anschließenden Verfahrensabläufe erfolgen ausschließlich manuell.</xs:documentation>
                  </xs:annotation>
                </xs:enumeration>
                <xs:enumeration value="04">
                  <xs:annotation>
                    <xs:appinfo>
                      <codeName>Anrechte, Auskunft elektronisch ohne PDF und zusätzlich auf Papier</codeName>
                    </xs:appinfo>
                    <xs:documentation>Übergangslösung, falls PDF-Versendung noch nicht möglich ist: Übersendung eines Datensatzes ohne PDF-Datei; zusätzliche Auskunft in Papierform erforderlich.</xs:documentation>
                  </xs:annotation>
                </xs:enumeration>
                <xs:enumeration value="05">
                  <xs:annotation>
                    <xs:appinfo>
                      <codeName>Anrechte, Auskunft muss gesondert eingeholt werden</codeName>
                    </xs:appinfo>
                    <xs:documentation>Wird von der DRV nicht verwendet.</xs:documentation>
                  </xs:annotation>
                </xs:enumeration>
                <xs:enumeration value="06">
                  <xs:annotation>
                    <xs:appinfo>
                      <codeName>Berichtigung</codeName>
                    </xs:appinfo>
                    <xs:documentation>Eine bereits erteilte Auskunft wird ohne Anforderung durch das Familiengericht vom RV-Träger berichtigt (zum Beispiel wenn eine rentenrechtliche Zeit nachträglich zu berücksichtigen ist oder wegfällt oder die Auskunft fehlerhaft war).</xs:documentation>
                  </xs:annotation>
                </xs:enumeration>
                <xs:enumeration value="07">
                  <xs:annotation>
                    <xs:appinfo>
                      <codeName>keine Anrechte</codeName>
                    </xs:appinfo>
                    <xs:documentation>Der Versicherte hat zwar eine Versicherungsnummer, jedoch sind keine rentenrechtlichen Zeiten im Versicherungskonto enthalten (zum Beispiel nach einer Beitragserstattung).</xs:documentation>
                  </xs:annotation>
                </xs:enumeration>
                <xs:enumeration value="08">
                  <xs:annotation>
                    <xs:appinfo>
                      <codeName>Teilzeiträume</codeName>
                    </xs:appinfo>
                    <xs:documentation>Dieses Feld ist vorgesehen für den Fall einer Auskunftserteilung für Teilzeiträume; es wird von der DRV derzeit nicht verwendet; DRV würde Papier schicken.</xs:documentation>
                  </xs:annotation>
                </xs:enumeration>
              </xs:restriction>
            </xs:simpleType>
          </xs:element>
        </xs:sequence>
        <xs:attribute name="listURI" type="xs:anyURI" use="optional" fixed="urn:xoev-de:xjustiz:codeliste:vag.ereignis.auskunft">
          <xs:annotation>
            <xs:documentation>Dokumentation aus XOEV-Bibliothek:</xs:documentation>
            <xs:documentation>Mit diesem XML-Attribut wird die Kennung der Codeliste übermittelt, in deren Kontext der jeweilige Code zu interpretieren ist. Die Kennung identifiziert die Codeliste, nicht jedoch deren Version eindeutig.

Wird bereits im Rahmen des XÖV-Standards eine Kennung vorgegeben (es handelt sich in diesem Fall um einen Code-Typ 1, 2 oder 3) darf auf eine nochmalige Angabe der Kennung bei der Übermittlung eines Codes verzichtet werden. Aus diesem Grund ist das XML-Attribut listURI zunächst als optional deklariert.</xs:documentation>
          </xs:annotation>
        </xs:attribute>
        <xs:attribute name="listVersionID" type="xs:normalizedString" use="required" fixed="2.0">
          <xs:annotation>
            <xs:documentation>Dokumentation aus XOEV-Bibliothek:</xs:documentation>
            <xs:documentation>Die konkrete Version der zu nutzenden Codeliste wird mit diesem XML-Attribut übertragen.

Analog zum listURI ist die Bestimmung der Version einer Codeliste bei der Übertragung eines Codes zwingend. Die Version kann jedoch ebenfalls bereits im XÖV-Standard festgelegt werden (es handelt sich in diesem Fall um einen Code-Typ 1 oder 2).</xs:documentation>
          </xs:annotation>
        </xs:attribute>
      </xs:restriction>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="Code.VAG.Ereignis.Auskunftsersuchen">
    <xs:annotation>
      <xs:appinfo>
        <listAgencyName>BLK-AG IT-Standards für die Justiz</listAgencyName>
        <listName>VAG.Ereignis.Auskunftsersuchen</listName>
      </xs:appinfo>
      <xs:documentation>Diese Codeliste listet dasjenige Ereignis auf, das zum Versenden einer Anfrage führt. Im Instanzdokument sollte mit Hilfe von xsi:type auf diese Typdefinition verwiesen werden.</xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:restriction base="xoev-code:Code">
        <xs:sequence>
          <xs:element name="code">
            <xs:annotation>
              <xs:documentation>Dokumentation aus XOEV-Bibliothek:</xs:documentation>
              <xs:documentation>In diesem XML-Element wird der Code einer Codeliste übermittelt.</xs:documentation>
            </xs:annotation>
            <xs:simpleType>
              <xs:restriction base="xs:token">
                <xs:enumeration value="01">
                  <xs:annotation>
                    <xs:appinfo>
                      <codeName>Erstverfahren</codeName>
                    </xs:appinfo>
                    <xs:documentation>Das Verfahren ist auf die erstmalige Durchführung des Versorgungsausgleichs ausgerichtet (z.B. Scheidung).</xs:documentation>
                  </xs:annotation>
                </xs:enumeration>
                <xs:enumeration value="02">
                  <xs:annotation>
                    <xs:appinfo>
                      <codeName>Abaenderungsverfahren</codeName>
                    </xs:appinfo>
                    <xs:documentation>Ein Abänderungsverfahren ist eine neue Familiensache. Es existiert bereits ein rechtskräftig abgeschlossenes Verfahren.</xs:documentation>
                  </xs:annotation>
                </xs:enumeration>
              </xs:restriction>
            </xs:simpleType>
          </xs:element>
        </xs:sequence>
        <xs:attribute name="listURI" type="xs:anyURI" use="optional" fixed="urn:xoev-de:xjustiz:codeliste:vag.ereignis.auskunftsersuchen">
          <xs:annotation>
            <xs:documentation>Dokumentation aus XOEV-Bibliothek:</xs:documentation>
            <xs:documentation>Mit diesem XML-Attribut wird die Kennung der Codeliste übermittelt, in deren Kontext der jeweilige Code zu interpretieren ist. Die Kennung identifiziert die Codeliste, nicht jedoch deren Version eindeutig.

Wird bereits im Rahmen des XÖV-Standards eine Kennung vorgegeben (es handelt sich in diesem Fall um einen Code-Typ 1, 2 oder 3) darf auf eine nochmalige Angabe der Kennung bei der Übermittlung eines Codes verzichtet werden. Aus diesem Grund ist das XML-Attribut listURI zunächst als optional deklariert.</xs:documentation>
          </xs:annotation>
        </xs:attribute>
        <xs:attribute name="listVersionID" type="xs:normalizedString" use="required" fixed="2.0">
          <xs:annotation>
            <xs:documentation>Dokumentation aus XOEV-Bibliothek:</xs:documentation>
            <xs:documentation>Die konkrete Version der zu nutzenden Codeliste wird mit diesem XML-Attribut übertragen.

Analog zum listURI ist die Bestimmung der Version einer Codeliste bei der Übertragung eines Codes zwingend. Die Version kann jedoch ebenfalls bereits im XÖV-Standard festgelegt werden (es handelt sich in diesem Fall um einen Code-Typ 1 oder 2).</xs:documentation>
          </xs:annotation>
        </xs:attribute>
      </xs:restriction>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="Code.VAG.Ereignis.Empfangsbestaetigung">
    <xs:annotation>
      <xs:appinfo>
        <listAgencyName>BLK-AG IT-Standards für die Justiz</listAgencyName>
        <listName>VAG.Ereignis.Empfangsbestaetigung</listName>
      </xs:appinfo>
      <xs:documentation>Diese Codeliste listet dasjenige Ereignis auf, das zum Versenden einer Anfrage führt. Im Instanzdokument sollte mit Hilfe von xsi:type auf diese Typdefinition verwiesen werden.</xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:restriction base="xoev-code:Code">
        <xs:sequence>
          <xs:element name="code">
            <xs:annotation>
              <xs:documentation>Dokumentation aus XOEV-Bibliothek:</xs:documentation>
              <xs:documentation>In diesem XML-Element wird der Code einer Codeliste übermittelt.</xs:documentation>
            </xs:annotation>
            <xs:simpleType>
              <xs:restriction base="xs:token">
                <xs:enumeration value="01">
                  <xs:annotation>
                    <xs:appinfo>
                      <codeName>Empfangsbestätigung</codeName>
                    </xs:appinfo>
                  </xs:annotation>
                </xs:enumeration>
                <xs:enumeration value="02">
                  <xs:annotation>
                    <xs:appinfo>
                      <codeName>Prüffallantwort</codeName>
                    </xs:appinfo>
                  </xs:annotation>
                </xs:enumeration>
              </xs:restriction>
            </xs:simpleType>
          </xs:element>
        </xs:sequence>
        <xs:attribute name="listURI" type="xs:anyURI" use="optional" fixed="urn:xoev-de:xjustiz:codeliste:vag.ereignis.empfangsbestaetigung">
          <xs:annotation>
            <xs:documentation>Dokumentation aus XOEV-Bibliothek:</xs:documentation>
            <xs:documentation>Mit diesem XML-Attribut wird die Kennung der Codeliste übermittelt, in deren Kontext der jeweilige Code zu interpretieren ist. Die Kennung identifiziert die Codeliste, nicht jedoch deren Version eindeutig.

Wird bereits im Rahmen des XÖV-Standards eine Kennung vorgegeben (es handelt sich in diesem Fall um einen Code-Typ 1, 2 oder 3) darf auf eine nochmalige Angabe der Kennung bei der Übermittlung eines Codes verzichtet werden. Aus diesem Grund ist das XML-Attribut listURI zunächst als optional deklariert.</xs:documentation>
          </xs:annotation>
        </xs:attribute>
        <xs:attribute name="listVersionID" type="xs:normalizedString" use="required" fixed="2.0">
          <xs:annotation>
            <xs:documentation>Dokumentation aus XOEV-Bibliothek:</xs:documentation>
            <xs:documentation>Die konkrete Version der zu nutzenden Codeliste wird mit diesem XML-Attribut übertragen.

Analog zum listURI ist die Bestimmung der Version einer Codeliste bei der Übertragung eines Codes zwingend. Die Version kann jedoch ebenfalls bereits im XÖV-Standard festgelegt werden (es handelt sich in diesem Fall um einen Code-Typ 1 oder 2).</xs:documentation>
          </xs:annotation>
        </xs:attribute>
      </xs:restriction>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="Code.VAG.Ereignis.Fehler">
    <xs:annotation>
      <xs:appinfo>
        <listAgencyName>BLK-AG IT-Standards für die Justiz</listAgencyName>
        <listName>VAG.Ereignis.Fehler</listName>
      </xs:appinfo>
      <xs:documentation>Diese Codeliste listet dasjenige Ereignis auf, das zum Versenden einer Fehlermeldung führt. Im Instanzdokument sollte mit Hilfe von xsi:type auf diese Typdefinition verwiesen werden.</xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:restriction base="xoev-code:Code">
        <xs:sequence>
          <xs:element name="code">
            <xs:annotation>
              <xs:documentation>Dokumentation aus XOEV-Bibliothek:</xs:documentation>
              <xs:documentation>In diesem XML-Element wird der Code einer Codeliste übermittelt.</xs:documentation>
            </xs:annotation>
            <xs:simpleType>
              <xs:restriction base="xs:token">
                <xs:enumeration value="01">
                  <xs:annotation>
                    <xs:appinfo>
                      <codeName>Fehler</codeName>
                    </xs:appinfo>
                  </xs:annotation>
                </xs:enumeration>
                <xs:enumeration value="02">
                  <xs:annotation>
                    <xs:appinfo>
                      <codeName>Hinweis</codeName>
                    </xs:appinfo>
                  </xs:annotation>
                </xs:enumeration>
              </xs:restriction>
            </xs:simpleType>
          </xs:element>
        </xs:sequence>
        <xs:attribute name="listURI" type="xs:anyURI" use="optional" fixed="urn:xoev-de:xjustiz:codeliste:vag.ereignis.fehler">
          <xs:annotation>
            <xs:documentation>Dokumentation aus XOEV-Bibliothek:</xs:documentation>
            <xs:documentation>Mit diesem XML-Attribut wird die Kennung der Codeliste übermittelt, in deren Kontext der jeweilige Code zu interpretieren ist. Die Kennung identifiziert die Codeliste, nicht jedoch deren Version eindeutig.

Wird bereits im Rahmen des XÖV-Standards eine Kennung vorgegeben (es handelt sich in diesem Fall um einen Code-Typ 1, 2 oder 3) darf auf eine nochmalige Angabe der Kennung bei der Übermittlung eines Codes verzichtet werden. Aus diesem Grund ist das XML-Attribut listURI zunächst als optional deklariert.</xs:documentation>
          </xs:annotation>
        </xs:attribute>
        <xs:attribute name="listVersionID" type="xs:normalizedString" use="required" fixed="2.0">
          <xs:annotation>
            <xs:documentation>Dokumentation aus XOEV-Bibliothek:</xs:documentation>
            <xs:documentation>Die konkrete Version der zu nutzenden Codeliste wird mit diesem XML-Attribut übertragen.

Analog zum listURI ist die Bestimmung der Version einer Codeliste bei der Übertragung eines Codes zwingend. Die Version kann jedoch ebenfalls bereits im XÖV-Standard festgelegt werden (es handelt sich in diesem Fall um einen Code-Typ 1 oder 2).</xs:documentation>
          </xs:annotation>
        </xs:attribute>
      </xs:restriction>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="Code.VAG.Ereignis.Gerichtliche_Entscheidung">
    <xs:annotation>
      <xs:appinfo>
        <listAgencyName>BLK-AG IT-Standards für die Justiz</listAgencyName>
        <listName>VAG.Ereignis.Gerichtliche_Entscheidung</listName>
      </xs:appinfo>
      <xs:documentation>Diese Codeliste listet dasjenige Ereignis auf, das zum Versenden einer Entscheidung führt. Im Instanzdokument sollte mit Hilfe von xsi:type auf diese Typdefinition verwiesen werden.</xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:restriction base="xoev-code:Code">
        <xs:sequence>
          <xs:element name="code">
            <xs:annotation>
              <xs:documentation>Dokumentation aus XOEV-Bibliothek:</xs:documentation>
              <xs:documentation>In diesem XML-Element wird der Code einer Codeliste übermittelt.</xs:documentation>
            </xs:annotation>
            <xs:simpleType>
              <xs:restriction base="xs:token">
                <xs:enumeration value="01">
                  <xs:annotation>
                    <xs:appinfo>
                      <codeName>Erstentscheidung</codeName>
                    </xs:appinfo>
                  </xs:annotation>
                </xs:enumeration>
                <xs:enumeration value="02">
                  <xs:annotation>
                    <xs:appinfo>
                      <codeName>Abänderungsentscheidung</codeName>
                    </xs:appinfo>
                  </xs:annotation>
                </xs:enumeration>
                <xs:enumeration value="03">
                  <xs:annotation>
                    <xs:appinfo>
                      <codeName>Berichtigungsbeschluss</codeName>
                    </xs:appinfo>
                  </xs:annotation>
                </xs:enumeration>
              </xs:restriction>
            </xs:simpleType>
          </xs:element>
        </xs:sequence>
        <xs:attribute name="listURI" type="xs:anyURI" use="optional" fixed="urn:xoev-de:xjustiz:codeliste:vag.ereignis.gerichtliche-entscheidung">
          <xs:annotation>
            <xs:documentation>Dokumentation aus XOEV-Bibliothek:</xs:documentation>
            <xs:documentation>Mit diesem XML-Attribut wird die Kennung der Codeliste übermittelt, in deren Kontext der jeweilige Code zu interpretieren ist. Die Kennung identifiziert die Codeliste, nicht jedoch deren Version eindeutig.

Wird bereits im Rahmen des XÖV-Standards eine Kennung vorgegeben (es handelt sich in diesem Fall um einen Code-Typ 1, 2 oder 3) darf auf eine nochmalige Angabe der Kennung bei der Übermittlung eines Codes verzichtet werden. Aus diesem Grund ist das XML-Attribut listURI zunächst als optional deklariert.</xs:documentation>
          </xs:annotation>
        </xs:attribute>
        <xs:attribute name="listVersionID" type="xs:normalizedString" use="required" fixed="2.0">
          <xs:annotation>
            <xs:documentation>Dokumentation aus XOEV-Bibliothek:</xs:documentation>
            <xs:documentation>Die konkrete Version der zu nutzenden Codeliste wird mit diesem XML-Attribut übertragen.

Analog zum listURI ist die Bestimmung der Version einer Codeliste bei der Übertragung eines Codes zwingend. Die Version kann jedoch ebenfalls bereits im XÖV-Standard festgelegt werden (es handelt sich in diesem Fall um einen Code-Typ 1 oder 2).</xs:documentation>
          </xs:annotation>
        </xs:attribute>
      </xs:restriction>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="Code.VAG.Ereignis.Kurzmitteilung.Gericht_zu_Versorgungstraeger">
    <xs:annotation>
      <xs:appinfo>
        <listAgencyName>BLK-AG IT-Standards für die Justiz</listAgencyName>
        <listName>VAG.Ereignis.Kurzmitteilung.Gericht_zu_Versorgungstraeger</listName>
      </xs:appinfo>
      <xs:documentation>Diese Codeliste listet dasjenige Ereignis auf, das zum Versenden einer Anfrage führt. Im Instanzdokument sollte mit Hilfe von xsi:type auf diese Typdefinition verwiesen werden.</xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:restriction base="xoev-code:Code">
        <xs:sequence>
          <xs:element name="code">
            <xs:annotation>
              <xs:documentation>Dokumentation aus XOEV-Bibliothek:</xs:documentation>
              <xs:documentation>In diesem XML-Element wird der Code einer Codeliste übermittelt.</xs:documentation>
            </xs:annotation>
            <xs:simpleType>
              <xs:restriction base="xs:token">
                <xs:enumeration value="01">
                  <xs:annotation>
                    <xs:appinfo>
                      <codeName>Auskunft aus ungeklärtem Konto</codeName>
                    </xs:appinfo>
                    <xs:documentation>Familiengericht bittet um eine Auskunft aus einem ungeklärten Versicherungskonto.</xs:documentation>
                  </xs:annotation>
                </xs:enumeration>
                <xs:enumeration value="02">
                  <xs:annotation>
                    <xs:appinfo>
                      <codeName>Stellungnahme zum Schriftsatz</codeName>
                    </xs:appinfo>
                    <xs:documentation>Familiengericht bittet um Stellungnahme zu einem (als pdf-Datei) beigefügten Schriftsatz.</xs:documentation>
                  </xs:annotation>
                </xs:enumeration>
                <xs:enumeration value="03">
                  <xs:annotation>
                    <xs:appinfo>
                      <codeName>Ruhen, Aussetzung, Abtrennung</codeName>
                    </xs:appinfo>
                    <xs:documentation>Familiengericht teilt mit, dass das Verfahren ruht oder ausgesetzt oder der Versorgungsausgleich abgetrennt wurde. Das maschinelle Verfahren bleibt offen.</xs:documentation>
                  </xs:annotation>
                </xs:enumeration>
                <xs:enumeration value="04">
                  <xs:annotation>
                    <xs:appinfo>
                      <codeName>Sachstandsanfrage</codeName>
                    </xs:appinfo>
                    <xs:documentation>z.B. Familiengericht bittet um Angabe der Gründe für eine noch nicht erteilte Auskunft.</xs:documentation>
                  </xs:annotation>
                </xs:enumeration>
                <xs:enumeration value="05">
                  <xs:annotation>
                    <xs:appinfo>
                      <codeName>Rechtsmittel wurde eingelegt</codeName>
                    </xs:appinfo>
                    <xs:documentation>Information</xs:documentation>
                  </xs:annotation>
                </xs:enumeration>
                <xs:enumeration value="06">
                  <xs:annotation>
                    <xs:appinfo>
                      <codeName>Neue Anfrage wird angekündigt</codeName>
                    </xs:appinfo>
                    <xs:documentation>Das maschinelle Verfahren wird geschlossen. Es erfolgt eine neue Anfrage durch das Gericht, zum Beispiel als Wiederholungsauskunftsersuchen, oder bei Auskunftsersuchen nach Fortsetzung eines weggelegten Verfahrens oder nach Wiederaufnahme eines abgetrennten, ausgesetzten oder ruhenden Verfahrens, oder wegen Zuständigkeitswechsel des Amtsgerichts, oder als neues Auskunftsersuchen mit berichtigter Ehezeit.</xs:documentation>
                  </xs:annotation>
                </xs:enumeration>
                <xs:enumeration value="07">
                  <xs:annotation>
                    <xs:appinfo>
                      <codeName>Erledigung wegen Todes</codeName>
                    </xs:appinfo>
                    <xs:documentation>Das maschinelle Verfahren wird geschlossen. Abschluss durch Tod eines Versicherten vor Rechtskraft der Scheidung.</xs:documentation>
                  </xs:annotation>
                </xs:enumeration>
                <xs:enumeration value="08">
                  <xs:annotation>
                    <xs:appinfo>
                      <codeName>Rücknahme des Scheidungsantrages</codeName>
                    </xs:appinfo>
                    <xs:documentation>Das maschinelle Verfahren wird geschlossen.</xs:documentation>
                  </xs:annotation>
                </xs:enumeration>
                <xs:enumeration value="09">
                  <xs:annotation>
                    <xs:appinfo>
                      <codeName>Erledigung durch Vereinbarung der Beteiligten</codeName>
                    </xs:appinfo>
                    <xs:documentation>Das maschinelle Verfahren wird geschlossen.</xs:documentation>
                  </xs:annotation>
                </xs:enumeration>
                <xs:enumeration value="10">
                  <xs:annotation>
                    <xs:appinfo>
                      <codeName>Änderung des Aktenzeichens bei Abgabe innerhalb</codeName>
                    </xs:appinfo>
                    <xs:documentation>Überschreiben des Aktenzeichens.</xs:documentation>
                  </xs:annotation>
                </xs:enumeration>
                <xs:enumeration value="11">
                  <xs:annotation>
                    <xs:appinfo>
                      <codeName>Übersendung Dokument</codeName>
                    </xs:appinfo>
                    <xs:documentation>Nur zur Kenntnis.</xs:documentation>
                  </xs:annotation>
                </xs:enumeration>
                <xs:enumeration value="12">
                  <xs:annotation>
                    <xs:appinfo>
                      <codeName>Freier Text</codeName>
                    </xs:appinfo>
                    <xs:documentation>Zum Beispiel nachträgliches Auskunftsersuchen für Teilzeiträume.</xs:documentation>
                  </xs:annotation>
                </xs:enumeration>
                <xs:enumeration value="99">
                  <xs:annotation>
                    <xs:appinfo>
                      <codeName>Rückgriff auf Papierform</codeName>
                    </xs:appinfo>
                    <xs:documentation>Das maschinelle Verfahren wird geschlossen.</xs:documentation>
                  </xs:annotation>
                </xs:enumeration>
              </xs:restriction>
            </xs:simpleType>
          </xs:element>
        </xs:sequence>
        <xs:attribute name="listURI" type="xs:anyURI" use="optional" fixed="urn:xoev-de:xjustiz:codeliste:vag.ereignis.kurzmitteilung.gericht-zu-versorgungstraeger">
          <xs:annotation>
            <xs:documentation>Dokumentation aus XOEV-Bibliothek:</xs:documentation>
            <xs:documentation>Mit diesem XML-Attribut wird die Kennung der Codeliste übermittelt, in deren Kontext der jeweilige Code zu interpretieren ist. Die Kennung identifiziert die Codeliste, nicht jedoch deren Version eindeutig.

Wird bereits im Rahmen des XÖV-Standards eine Kennung vorgegeben (es handelt sich in diesem Fall um einen Code-Typ 1, 2 oder 3) darf auf eine nochmalige Angabe der Kennung bei der Übermittlung eines Codes verzichtet werden. Aus diesem Grund ist das XML-Attribut listURI zunächst als optional deklariert.</xs:documentation>
          </xs:annotation>
        </xs:attribute>
        <xs:attribute name="listVersionID" type="xs:normalizedString" use="required" fixed="2.0">
          <xs:annotation>
            <xs:documentation>Dokumentation aus XOEV-Bibliothek:</xs:documentation>
            <xs:documentation>Die konkrete Version der zu nutzenden Codeliste wird mit diesem XML-Attribut übertragen.

Analog zum listURI ist die Bestimmung der Version einer Codeliste bei der Übertragung eines Codes zwingend. Die Version kann jedoch ebenfalls bereits im XÖV-Standard festgelegt werden (es handelt sich in diesem Fall um einen Code-Typ 1 oder 2).</xs:documentation>
          </xs:annotation>
        </xs:attribute>
      </xs:restriction>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="Code.VAG.Ereignis.Kurzmitteilung.Versorgungstraeger_zu_Gericht">
    <xs:annotation>
      <xs:appinfo>
        <listAgencyName>BLK-AG IT-Standards für die Justiz</listAgencyName>
        <listName>VAG.Ereignis.Kurzmitteilung.Versorgungstraeger_zu_Gericht</listName>
      </xs:appinfo>
      <xs:documentation>Diese Codeliste listet dasjenige Ereignis auf, das zum Versenden einer Anfrage führt. Im Instanzdokument sollte mit Hilfe von xsi:type auf diese Typdefinition verwiesen werden.</xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:restriction base="xoev-code:Code">
        <xs:sequence>
          <xs:element name="code">
            <xs:annotation>
              <xs:documentation>Dokumentation aus XOEV-Bibliothek:</xs:documentation>
              <xs:documentation>In diesem XML-Element wird der Code einer Codeliste übermittelt.</xs:documentation>
            </xs:annotation>
            <xs:simpleType>
              <xs:restriction base="xs:token">
                <xs:enumeration value="01">
                  <xs:annotation>
                    <xs:appinfo>
                      <codeName>Sachstandsmitteilung (im Auskunftsverfahren)</codeName>
                    </xs:appinfo>
                    <xs:documentation>Eigene Codeliste für die Gründe einer Sachstandsmitteilung.</xs:documentation>
                  </xs:annotation>
                </xs:enumeration>
                <xs:enumeration value="02">
                  <xs:annotation>
                    <xs:appinfo>
                      <codeName>mangelnde Mitwirkung</codeName>
                    </xs:appinfo>
                    <xs:documentation>Versicherter wirkt trotz mehrfacher Erinnerung nicht mit, weshalb derzeit keine Auskunft erteilt werden kann. 

Das Verfahren bleibt offen.</xs:documentation>
                  </xs:annotation>
                </xs:enumeration>
                <xs:enumeration value="03">
                  <xs:annotation>
                    <xs:appinfo>
                      <codeName>Nachholung der Mitwirkung</codeName>
                    </xs:appinfo>
                    <xs:documentation>Das Auskunftsverfahren kann fortgesetzt werden.</xs:documentation>
                  </xs:annotation>
                </xs:enumeration>
                <xs:enumeration value="04">
                  <xs:annotation>
                    <xs:appinfo>
                      <codeName>Zuständigkeitswechsel</codeName>
                    </xs:appinfo>
                    <xs:documentation>Während der Bearbeitung des Auskunftsersuchens stellt sich heraus, dass für die Bearbeitung des Auskunftsersuchens ein anderer RV-Träger zuständig ist. Dieser übersendet dann die Auskunft.</xs:documentation>
                  </xs:annotation>
                </xs:enumeration>
                <xs:enumeration value="05">
                  <xs:annotation>
                    <xs:appinfo>
                      <codeName>Übersendung der ausführlichen Auskunft</codeName>
                    </xs:appinfo>
                    <xs:documentation>Auf Anforderung des Gerichtes wird von DRV die ausführliche Auskunft übermittelt.</xs:documentation>
                  </xs:annotation>
                </xs:enumeration>
                <xs:enumeration value="06">
                  <xs:annotation>
                    <xs:appinfo>
                      <codeName>Rechtskraftanfrage</codeName>
                    </xs:appinfo>
                  </xs:annotation>
                </xs:enumeration>
                <xs:enumeration value="07">
                  <xs:annotation>
                    <xs:appinfo>
                      <codeName>Übersendung Dokument</codeName>
                    </xs:appinfo>
                  </xs:annotation>
                </xs:enumeration>
                <xs:enumeration value="08">
                  <xs:annotation>
                    <xs:appinfo>
                      <codeName>Freier Text</codeName>
                    </xs:appinfo>
                  </xs:annotation>
                </xs:enumeration>
                <xs:enumeration value="99">
                  <xs:annotation>
                    <xs:appinfo>
                      <codeName>Rückgriff auf Papierform</codeName>
                    </xs:appinfo>
                    <xs:documentation>Abschluss des maschinellen Verfahrens.</xs:documentation>
                  </xs:annotation>
                </xs:enumeration>
              </xs:restriction>
            </xs:simpleType>
          </xs:element>
        </xs:sequence>
        <xs:attribute name="listURI" type="xs:anyURI" use="optional" fixed="urn:xoev-de:xjustiz:codeliste:vag.ereignis.kurzmitteilung.versorgungstraeger-zu-gericht">
          <xs:annotation>
            <xs:documentation>Dokumentation aus XOEV-Bibliothek:</xs:documentation>
            <xs:documentation>Mit diesem XML-Attribut wird die Kennung der Codeliste übermittelt, in deren Kontext der jeweilige Code zu interpretieren ist. Die Kennung identifiziert die Codeliste, nicht jedoch deren Version eindeutig.

Wird bereits im Rahmen des XÖV-Standards eine Kennung vorgegeben (es handelt sich in diesem Fall um einen Code-Typ 1, 2 oder 3) darf auf eine nochmalige Angabe der Kennung bei der Übermittlung eines Codes verzichtet werden. Aus diesem Grund ist das XML-Attribut listURI zunächst als optional deklariert.</xs:documentation>
          </xs:annotation>
        </xs:attribute>
        <xs:attribute name="listVersionID" type="xs:normalizedString" use="required" fixed="2.0">
          <xs:annotation>
            <xs:documentation>Dokumentation aus XOEV-Bibliothek:</xs:documentation>
            <xs:documentation>Die konkrete Version der zu nutzenden Codeliste wird mit diesem XML-Attribut übertragen.

Analog zum listURI ist die Bestimmung der Version einer Codeliste bei der Übertragung eines Codes zwingend. Die Version kann jedoch ebenfalls bereits im XÖV-Standard festgelegt werden (es handelt sich in diesem Fall um einen Code-Typ 1 oder 2).</xs:documentation>
          </xs:annotation>
        </xs:attribute>
      </xs:restriction>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="Code.VAG.Ereignis.Rechtskraftmitteilung">
    <xs:annotation>
      <xs:appinfo>
        <listAgencyName>BLK-AG IT-Standards für die Justiz</listAgencyName>
        <listName>VAG.Ereignis.Rechtskraftmitteilung</listName>
      </xs:appinfo>
      <xs:documentation>Diese Codeliste listet dasjenige Ereignis auf, das zum Versenden einer Rechtskraftmitteilung führt. Im Instanzdokument sollte mit Hilfe von xsi:type auf diese Typdefinition verwiesen werden.</xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:restriction base="xoev-code:Code">
        <xs:sequence>
          <xs:element name="code">
            <xs:annotation>
              <xs:documentation>Dokumentation aus XOEV-Bibliothek:</xs:documentation>
              <xs:documentation>In diesem XML-Element wird der Code einer Codeliste übermittelt.</xs:documentation>
            </xs:annotation>
            <xs:simpleType>
              <xs:restriction base="xs:token">
                <xs:enumeration value="01">
                  <xs:annotation>
                    <xs:appinfo>
                      <codeName>rechtskräftig</codeName>
                    </xs:appinfo>
                  </xs:annotation>
                </xs:enumeration>
              </xs:restriction>
            </xs:simpleType>
          </xs:element>
        </xs:sequence>
        <xs:attribute name="listURI" type="xs:anyURI" use="optional" fixed="urn:xoev-de:xjustiz:codeliste:vag.ereignis.rechtskraftmitteilung">
          <xs:annotation>
            <xs:documentation>Dokumentation aus XOEV-Bibliothek:</xs:documentation>
            <xs:documentation>Mit diesem XML-Attribut wird die Kennung der Codeliste übermittelt, in deren Kontext der jeweilige Code zu interpretieren ist. Die Kennung identifiziert die Codeliste, nicht jedoch deren Version eindeutig.

Wird bereits im Rahmen des XÖV-Standards eine Kennung vorgegeben (es handelt sich in diesem Fall um einen Code-Typ 1, 2 oder 3) darf auf eine nochmalige Angabe der Kennung bei der Übermittlung eines Codes verzichtet werden. Aus diesem Grund ist das XML-Attribut listURI zunächst als optional deklariert.</xs:documentation>
          </xs:annotation>
        </xs:attribute>
        <xs:attribute name="listVersionID" type="xs:normalizedString" use="required" fixed="2.0">
          <xs:annotation>
            <xs:documentation>Dokumentation aus XOEV-Bibliothek:</xs:documentation>
            <xs:documentation>Die konkrete Version der zu nutzenden Codeliste wird mit diesem XML-Attribut übertragen.

Analog zum listURI ist die Bestimmung der Version einer Codeliste bei der Übertragung eines Codes zwingend. Die Version kann jedoch ebenfalls bereits im XÖV-Standard festgelegt werden (es handelt sich in diesem Fall um einen Code-Typ 1 oder 2).</xs:documentation>
          </xs:annotation>
        </xs:attribute>
      </xs:restriction>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="Code.VAG.Fehler">
    <xs:annotation>
      <xs:appinfo>
        <listAgencyName>BLK-AG IT-Standards für die Justiz</listAgencyName>
        <listName>VAG.Fehler</listName>
      </xs:appinfo>
      <xs:documentation>Codeliste der verschiedenen Fehlerarten.</xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:restriction base="xoev-code:Code">
        <xs:sequence>
          <xs:element name="code">
            <xs:annotation>
              <xs:documentation>Dokumentation aus XOEV-Bibliothek:</xs:documentation>
              <xs:documentation>In diesem XML-Element wird der Code einer Codeliste übermittelt.</xs:documentation>
            </xs:annotation>
            <xs:simpleType>
              <xs:restriction base="xs:token">
                <xs:enumeration value="FA00000">
                  <xs:annotation>
                    <xs:appinfo>
                      <codeName>Allgemeiner Fehler</codeName>
                    </xs:appinfo>
                  </xs:annotation>
                </xs:enumeration>
                <xs:enumeration value="FA00001">
                  <xs:annotation>
                    <xs:appinfo>
                      <codeName>Erhaltener XJustiz-Datensatz ist nicht valide.</codeName>
                    </xs:appinfo>
                  </xs:annotation>
                </xs:enumeration>
                <xs:enumeration value="FA00002">
                  <xs:annotation>
                    <xs:appinfo>
                      <codeName>Es wurde ein ungültiges Absenderzertifikat verwendet.</codeName>
                    </xs:appinfo>
                  </xs:annotation>
                </xs:enumeration>
                <xs:enumeration value="FE00001">
                  <xs:annotation>
                    <xs:appinfo>
                      <codeName>Der Familienname fehlt.</codeName>
                    </xs:appinfo>
                  </xs:annotation>
                </xs:enumeration>
                <xs:enumeration value="FE00002">
                  <xs:annotation>
                    <xs:appinfo>
                      <codeName>Der Familienname enthält unzulässige Zeichen.</codeName>
                    </xs:appinfo>
                  </xs:annotation>
                </xs:enumeration>
                <xs:enumeration value="FE00003">
                  <xs:annotation>
                    <xs:appinfo>
                      <codeName>Der Familienname enthält in der 1. Stelle einen Bindestrich (-) oder einen Punkt (.).</codeName>
                    </xs:appinfo>
                  </xs:annotation>
                </xs:enumeration>
                <xs:enumeration value="FE00004">
                  <xs:annotation>
                    <xs:appinfo>
                      <codeName>Der Geburtsname enthält unzulässige Zeichen.</codeName>
                    </xs:appinfo>
                  </xs:annotation>
                </xs:enumeration>
                <xs:enumeration value="FE00005">
                  <xs:annotation>
                    <xs:appinfo>
                      <codeName>Der Vorname fehlt.</codeName>
                    </xs:appinfo>
                  </xs:annotation>
                </xs:enumeration>
                <xs:enumeration value="FE00006">
                  <xs:annotation>
                    <xs:appinfo>
                      <codeName>Der Vorname enthält unzulässige Zeichen.</codeName>
                    </xs:appinfo>
                  </xs:annotation>
                </xs:enumeration>
                <xs:enumeration value="FE00007">
                  <xs:annotation>
                    <xs:appinfo>
                      <codeName>Der Vorname enthält in der 1. Stelle einen Bindestrich (-).</codeName>
                    </xs:appinfo>
                  </xs:annotation>
                </xs:enumeration>
                <xs:enumeration value="FE00021">
                  <xs:annotation>
                    <xs:appinfo>
                      <codeName>Der Tag der Geburt enthält ein ungültiges Datum.</codeName>
                    </xs:appinfo>
                  </xs:annotation>
                </xs:enumeration>
                <xs:enumeration value="FE00031">
                  <xs:annotation>
                    <xs:appinfo>
                      <codeName>Der Geburtsort enthält unzulässige Zeichen.</codeName>
                    </xs:appinfo>
                  </xs:annotation>
                </xs:enumeration>
                <xs:enumeration value="FE00042">
                  <xs:annotation>
                    <xs:appinfo>
                      <codeName>Die Postleitzahl ist ungültig.</codeName>
                    </xs:appinfo>
                  </xs:annotation>
                </xs:enumeration>
                <xs:enumeration value="FE00043">
                  <xs:annotation>
                    <xs:appinfo>
                      <codeName>Der Wohnort fehlt.</codeName>
                    </xs:appinfo>
                  </xs:annotation>
                </xs:enumeration>
                <xs:enumeration value="FE00044">
                  <xs:annotation>
                    <xs:appinfo>
                      <codeName>Der Wohnort enthält unzulässige Zeichen.</codeName>
                    </xs:appinfo>
                  </xs:annotation>
                </xs:enumeration>
                <xs:enumeration value="FE00045">
                  <xs:annotation>
                    <xs:appinfo>
                      <codeName>Die Straße enthält unzulässige Zeichen.</codeName>
                    </xs:appinfo>
                  </xs:annotation>
                </xs:enumeration>
                <xs:enumeration value="FE00046">
                  <xs:annotation>
                    <xs:appinfo>
                      <codeName>Die Hausnummer enthält unzulässige Zeichen.</codeName>
                    </xs:appinfo>
                  </xs:annotation>
                </xs:enumeration>
                <xs:enumeration value="FE00100">
                  <xs:annotation>
                    <xs:appinfo>
                      <codeName>Die Datei "xjustiz_nachricht.xml" ist mit einem Virus infiziert! Eine weitere Verarbeitung ist nicht erfolgt!</codeName>
                    </xs:appinfo>
                  </xs:annotation>
                </xs:enumeration>
                <xs:enumeration value="FE00110">
                  <xs:annotation>
                    <xs:appinfo>
                      <codeName>Beim Validieren gegen das Schema ist ein Fehler aufgetreten! Details: "Fehlermeldung aus Parser".</codeName>
                    </xs:appinfo>
                  </xs:annotation>
                </xs:enumeration>
                <xs:enumeration value="FE00120">
                  <xs:annotation>
                    <xs:appinfo>
                      <codeName>Der Vorgang beim Versorgungsträger ist bereits abgeschlossen. Bitte neue Anfrage starten.</codeName>
                    </xs:appinfo>
                  </xs:annotation>
                </xs:enumeration>
                <xs:enumeration value="FE01001">
                  <xs:annotation>
                    <xs:appinfo>
                      <codeName>Die Transportsignatur konnte nicht erfolgreich geprüft werden.</codeName>
                    </xs:appinfo>
                  </xs:annotation>
                </xs:enumeration>
                <xs:enumeration value="FE01002">
                  <xs:annotation>
                    <xs:appinfo>
                      <codeName>Die Betriebsnummer des Familiengerichtes fehlt bzw. ist fehlerhaft.</codeName>
                    </xs:appinfo>
                  </xs:annotation>
                </xs:enumeration>
                <xs:enumeration value="FE01003">
                  <xs:annotation>
                    <xs:appinfo>
                      <codeName>Die im Datensatz verwendeten Aktenzeichen des Empfängers bzw. unseres Versicherten sind nicht konsistent.</codeName>
                    </xs:appinfo>
                  </xs:annotation>
                </xs:enumeration>
                <xs:enumeration value="FE01101">
                  <xs:annotation>
                    <xs:appinfo>
                      <codeName>Für die angegebene Person ist keine Versicherungsnummer vorhanden.</codeName>
                    </xs:appinfo>
                  </xs:annotation>
                </xs:enumeration>
                <xs:enumeration value="FE02001">
                  <xs:annotation>
                    <xs:appinfo>
                      <codeName>Das Ende der Ehe liegt nach dem Datum des Auskunftsersuchens.</codeName>
                    </xs:appinfo>
                  </xs:annotation>
                </xs:enumeration>
                <xs:enumeration value="FE02002">
                  <xs:annotation>
                    <xs:appinfo>
                      <codeName>Das Ende der Ehe liegt vor dem Beginn der Ehe.</codeName>
                    </xs:appinfo>
                  </xs:annotation>
                </xs:enumeration>
                <xs:enumeration value="FE02003">
                  <xs:annotation>
                    <xs:appinfo>
                      <codeName>Das Ende der Ehe liegt nach dem Datum der gerichtlichen Entscheidung.</codeName>
                    </xs:appinfo>
                  </xs:annotation>
                </xs:enumeration>
                <xs:enumeration value="FE09999">
                  <xs:annotation>
                    <xs:appinfo>
                      <codeName>Sonstiger Fehler.</codeName>
                    </xs:appinfo>
                  </xs:annotation>
                </xs:enumeration>
              </xs:restriction>
            </xs:simpleType>
          </xs:element>
        </xs:sequence>
        <xs:attribute name="listURI" type="xs:anyURI" use="optional" fixed="urn:xoev-de:xjustiz:codeliste:vag.fehler">
          <xs:annotation>
            <xs:documentation>Dokumentation aus XOEV-Bibliothek:</xs:documentation>
            <xs:documentation>Mit diesem XML-Attribut wird die Kennung der Codeliste übermittelt, in deren Kontext der jeweilige Code zu interpretieren ist. Die Kennung identifiziert die Codeliste, nicht jedoch deren Version eindeutig.

Wird bereits im Rahmen des XÖV-Standards eine Kennung vorgegeben (es handelt sich in diesem Fall um einen Code-Typ 1, 2 oder 3) darf auf eine nochmalige Angabe der Kennung bei der Übermittlung eines Codes verzichtet werden. Aus diesem Grund ist das XML-Attribut listURI zunächst als optional deklariert.</xs:documentation>
          </xs:annotation>
        </xs:attribute>
        <xs:attribute name="listVersionID" type="xs:normalizedString" use="required" fixed="2.0">
          <xs:annotation>
            <xs:documentation>Dokumentation aus XOEV-Bibliothek:</xs:documentation>
            <xs:documentation>Die konkrete Version der zu nutzenden Codeliste wird mit diesem XML-Attribut übertragen.

Analog zum listURI ist die Bestimmung der Version einer Codeliste bei der Übertragung eines Codes zwingend. Die Version kann jedoch ebenfalls bereits im XÖV-Standard festgelegt werden (es handelt sich in diesem Fall um einen Code-Typ 1 oder 2).</xs:documentation>
          </xs:annotation>
        </xs:attribute>
      </xs:restriction>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="Code.VAG.Leistungsform">
    <xs:annotation>
      <xs:appinfo>
        <listAgencyName>BLK-AG IT-Standards für die Justiz</listAgencyName>
        <listName>VAG.Leistungsform</listName>
      </xs:appinfo>
      <xs:documentation>Codeliste der verschiedenen Leistungsformen.</xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:restriction base="xoev-code:Code">
        <xs:sequence>
          <xs:element name="code">
            <xs:annotation>
              <xs:documentation>Dokumentation aus XOEV-Bibliothek:</xs:documentation>
              <xs:documentation>In diesem XML-Element wird der Code einer Codeliste übermittelt.</xs:documentation>
            </xs:annotation>
            <xs:simpleType>
              <xs:restriction base="xs:token">
                <xs:enumeration value="01">
                  <xs:annotation>
                    <xs:appinfo>
                      <codeName>gemischt</codeName>
                    </xs:appinfo>
                  </xs:annotation>
                </xs:enumeration>
                <xs:enumeration value="02">
                  <xs:annotation>
                    <xs:appinfo>
                      <codeName>Kapital</codeName>
                    </xs:appinfo>
                  </xs:annotation>
                </xs:enumeration>
                <xs:enumeration value="03">
                  <xs:annotation>
                    <xs:appinfo>
                      <codeName>Rente lebenslang</codeName>
                    </xs:appinfo>
                  </xs:annotation>
                </xs:enumeration>
                <xs:enumeration value="04">
                  <xs:annotation>
                    <xs:appinfo>
                      <codeName>Rente nicht lebenslang</codeName>
                    </xs:appinfo>
                  </xs:annotation>
                </xs:enumeration>
              </xs:restriction>
            </xs:simpleType>
          </xs:element>
        </xs:sequence>
        <xs:attribute name="listURI" type="xs:anyURI" use="optional" fixed="urn:xoev-de:xjustiz:codeliste:vag.leistungsform">
          <xs:annotation>
            <xs:documentation>Dokumentation aus XOEV-Bibliothek:</xs:documentation>
            <xs:documentation>Mit diesem XML-Attribut wird die Kennung der Codeliste übermittelt, in deren Kontext der jeweilige Code zu interpretieren ist. Die Kennung identifiziert die Codeliste, nicht jedoch deren Version eindeutig.

Wird bereits im Rahmen des XÖV-Standards eine Kennung vorgegeben (es handelt sich in diesem Fall um einen Code-Typ 1, 2 oder 3) darf auf eine nochmalige Angabe der Kennung bei der Übermittlung eines Codes verzichtet werden. Aus diesem Grund ist das XML-Attribut listURI zunächst als optional deklariert.</xs:documentation>
          </xs:annotation>
        </xs:attribute>
        <xs:attribute name="listVersionID" type="xs:normalizedString" use="required" fixed="2.0">
          <xs:annotation>
            <xs:documentation>Dokumentation aus XOEV-Bibliothek:</xs:documentation>
            <xs:documentation>Die konkrete Version der zu nutzenden Codeliste wird mit diesem XML-Attribut übertragen.

Analog zum listURI ist die Bestimmung der Version einer Codeliste bei der Übertragung eines Codes zwingend. Die Version kann jedoch ebenfalls bereits im XÖV-Standard festgelegt werden (es handelt sich in diesem Fall um einen Code-Typ 1 oder 2).</xs:documentation>
          </xs:annotation>
        </xs:attribute>
      </xs:restriction>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="Code.VAG.Sachstandsmitteilung.Kurzmitteilung.Versorgungstraeger_zu_Gericht">
    <xs:annotation>
      <xs:appinfo>
        <listAgencyName>BLK-AG IT-Standards für die Justiz</listAgencyName>
        <listName>VAG.Sachstandsmitteilung.Kurzmitteilung.Versorgungstraeger_zu_Gericht</listName>
      </xs:appinfo>
      <xs:documentation>Diese Codeliste listet die Sachverhalte auf, die zum Versenden einer Sachstandsmitteilung führen. Im Instanzdokument sollte mit Hilfe von xsi:type auf diese Typdefinition verwiesen werden.</xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:restriction base="xoev-code:Code">
        <xs:sequence>
          <xs:element name="code">
            <xs:annotation>
              <xs:documentation>Dokumentation aus XOEV-Bibliothek:</xs:documentation>
              <xs:documentation>In diesem XML-Element wird der Code einer Codeliste übermittelt.</xs:documentation>
            </xs:annotation>
            <xs:simpleType>
              <xs:restriction base="xs:token">
                <xs:enumeration value="01">
                  <xs:annotation>
                    <xs:appinfo>
                      <codeName>fehlende Unterlagen</codeName>
                    </xs:appinfo>
                  </xs:annotation>
                </xs:enumeration>
                <xs:enumeration value="02">
                  <xs:annotation>
                    <xs:appinfo>
                      <codeName>ungeklärte Versicherungszeiten</codeName>
                    </xs:appinfo>
                  </xs:annotation>
                </xs:enumeration>
                <xs:enumeration value="03">
                  <xs:annotation>
                    <xs:appinfo>
                      <codeName>Kontenklärung dauert trotz Mitwirkung des Versicherten an</codeName>
                    </xs:appinfo>
                  </xs:annotation>
                </xs:enumeration>
                <xs:enumeration value="04">
                  <xs:annotation>
                    <xs:appinfo>
                      <codeName>keine Mitwirkung des Versicherten</codeName>
                    </xs:appinfo>
                  </xs:annotation>
                </xs:enumeration>
                <xs:enumeration value="05">
                  <xs:annotation>
                    <xs:appinfo>
                      <codeName>keine Mitwirkung des Versicherten trotz Erinnerung</codeName>
                    </xs:appinfo>
                  </xs:annotation>
                </xs:enumeration>
                <xs:enumeration value="06">
                  <xs:annotation>
                    <xs:appinfo>
                      <codeName>Auslandsermittlung</codeName>
                    </xs:appinfo>
                  </xs:annotation>
                </xs:enumeration>
                <xs:enumeration value="07">
                  <xs:annotation>
                    <xs:appinfo>
                      <codeName>Ankündigung einer berichtigten Auskunft</codeName>
                    </xs:appinfo>
                    <xs:documentation>Es wird eine erneute Auskunft ohne Aufforderung des Gerichts angekündigt. Neue Mitteilung kommt, zum Beispiel wenn die alte Auskunft gegenstandslos ist und eine neue Auskunft angekündigt wird, weil Auskunft aus einer zwischenzeitlich bewilligten Rente zu erteilen ist oder fehlerhaft war.</xs:documentation>
                  </xs:annotation>
                </xs:enumeration>
              </xs:restriction>
            </xs:simpleType>
          </xs:element>
        </xs:sequence>
        <xs:attribute name="listURI" type="xs:anyURI" use="optional" fixed="urn:xoev-de:xjustiz:codeliste:vag.sachstandsmitteilung.kurzmitteilung.versorgungstraeger-zu-gericht">
          <xs:annotation>
            <xs:documentation>Dokumentation aus XOEV-Bibliothek:</xs:documentation>
            <xs:documentation>Mit diesem XML-Attribut wird die Kennung der Codeliste übermittelt, in deren Kontext der jeweilige Code zu interpretieren ist. Die Kennung identifiziert die Codeliste, nicht jedoch deren Version eindeutig.

Wird bereits im Rahmen des XÖV-Standards eine Kennung vorgegeben (es handelt sich in diesem Fall um einen Code-Typ 1, 2 oder 3) darf auf eine nochmalige Angabe der Kennung bei der Übermittlung eines Codes verzichtet werden. Aus diesem Grund ist das XML-Attribut listURI zunächst als optional deklariert.</xs:documentation>
          </xs:annotation>
        </xs:attribute>
        <xs:attribute name="listVersionID" type="xs:normalizedString" use="required" fixed="2.0">
          <xs:annotation>
            <xs:documentation>Dokumentation aus XOEV-Bibliothek:</xs:documentation>
            <xs:documentation>Die konkrete Version der zu nutzenden Codeliste wird mit diesem XML-Attribut übertragen.

Analog zum listURI ist die Bestimmung der Version einer Codeliste bei der Übertragung eines Codes zwingend. Die Version kann jedoch ebenfalls bereits im XÖV-Standard festgelegt werden (es handelt sich in diesem Fall um einen Code-Typ 1 oder 2).</xs:documentation>
          </xs:annotation>
        </xs:attribute>
      </xs:restriction>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="Code.VAG.Teilungsart">
    <xs:annotation>
      <xs:appinfo>
        <listAgencyName>BLK-AG IT-Standards für die Justiz</listAgencyName>
        <listName>VAG.Teilungsart</listName>
      </xs:appinfo>
      <xs:documentation>Codeliste der verschiedenen Teilungsarten.</xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:restriction base="xoev-code:Code">
        <xs:sequence>
          <xs:element name="code">
            <xs:annotation>
              <xs:documentation>Dokumentation aus XOEV-Bibliothek:</xs:documentation>
              <xs:documentation>In diesem XML-Element wird der Code einer Codeliste übermittelt.</xs:documentation>
            </xs:annotation>
            <xs:simpleType>
              <xs:restriction base="xs:token">
                <xs:enumeration value="01">
                  <xs:annotation>
                    <xs:appinfo>
                      <codeName>intern, abweichender Risikoschutz</codeName>
                    </xs:appinfo>
                  </xs:annotation>
                </xs:enumeration>
                <xs:enumeration value="02">
                  <xs:annotation>
                    <xs:appinfo>
                      <codeName>intern, gleicher Risikoschutz</codeName>
                    </xs:appinfo>
                  </xs:annotation>
                </xs:enumeration>
                <xs:enumeration value="03">
                  <xs:annotation>
                    <xs:appinfo>
                      <codeName>extern, beabsichtigt (§ 14 Abs. 2 Nr. 1), Vereinbarung abgeschlossen</codeName>
                    </xs:appinfo>
                  </xs:annotation>
                </xs:enumeration>
                <xs:enumeration value="04">
                  <xs:annotation>
                    <xs:appinfo>
                      <codeName>extern, beabsichtigt (§ 14 Abs. 2 Nr. 1), Vereinbarung noch nicht abgeschlossen</codeName>
                    </xs:appinfo>
                  </xs:annotation>
                </xs:enumeration>
                <xs:enumeration value="05">
                  <xs:annotation>
                    <xs:appinfo>
                      <codeName>extern, wird durchgeführt (§ 14 Abs. 2 Nr. 2)</codeName>
                    </xs:appinfo>
                  </xs:annotation>
                </xs:enumeration>
                <xs:enumeration value="06">
                  <xs:annotation>
                    <xs:appinfo>
                      <codeName>extern, wird durchgeführt (§ 17)</codeName>
                    </xs:appinfo>
                  </xs:annotation>
                </xs:enumeration>
              </xs:restriction>
            </xs:simpleType>
          </xs:element>
        </xs:sequence>
        <xs:attribute name="listURI" type="xs:anyURI" use="optional" fixed="urn:xoev-de:xjustiz:codeliste:vag.teilungsart">
          <xs:annotation>
            <xs:documentation>Dokumentation aus XOEV-Bibliothek:</xs:documentation>
            <xs:documentation>Mit diesem XML-Attribut wird die Kennung der Codeliste übermittelt, in deren Kontext der jeweilige Code zu interpretieren ist. Die Kennung identifiziert die Codeliste, nicht jedoch deren Version eindeutig.

Wird bereits im Rahmen des XÖV-Standards eine Kennung vorgegeben (es handelt sich in diesem Fall um einen Code-Typ 1, 2 oder 3) darf auf eine nochmalige Angabe der Kennung bei der Übermittlung eines Codes verzichtet werden. Aus diesem Grund ist das XML-Attribut listURI zunächst als optional deklariert.</xs:documentation>
          </xs:annotation>
        </xs:attribute>
        <xs:attribute name="listVersionID" type="xs:normalizedString" use="required" fixed="2.0">
          <xs:annotation>
            <xs:documentation>Dokumentation aus XOEV-Bibliothek:</xs:documentation>
            <xs:documentation>Die konkrete Version der zu nutzenden Codeliste wird mit diesem XML-Attribut übertragen.

Analog zum listURI ist die Bestimmung der Version einer Codeliste bei der Übertragung eines Codes zwingend. Die Version kann jedoch ebenfalls bereits im XÖV-Standard festgelegt werden (es handelt sich in diesem Fall um einen Code-Typ 1 oder 2).</xs:documentation>
          </xs:annotation>
        </xs:attribute>
      </xs:restriction>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="Code.VAG.Teilungsart.Entscheidung">
    <xs:annotation>
      <xs:appinfo>
        <listAgencyName>BLK-AG IT-Standards für die Justiz</listAgencyName>
        <listName>VAG.Teilungsart.Entscheidung</listName>
      </xs:appinfo>
      <xs:documentation>Codeliste der verschiedenen Entscheidungsarten bei Teilungen.</xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:restriction base="xoev-code:Code">
        <xs:sequence>
          <xs:element name="code">
            <xs:annotation>
              <xs:documentation>Dokumentation aus XOEV-Bibliothek:</xs:documentation>
              <xs:documentation>In diesem XML-Element wird der Code einer Codeliste übermittelt.</xs:documentation>
            </xs:annotation>
            <xs:simpleType>
              <xs:restriction base="xs:token">
                <xs:enumeration value="01">
                  <xs:annotation>
                    <xs:appinfo>
                      <codeName>intern</codeName>
                    </xs:appinfo>
                  </xs:annotation>
                </xs:enumeration>
                <xs:enumeration value="02">
                  <xs:annotation>
                    <xs:appinfo>
                      <codeName>extern nach §16 VersAusglG</codeName>
                    </xs:appinfo>
                  </xs:annotation>
                </xs:enumeration>
                <xs:enumeration value="03">
                  <xs:annotation>
                    <xs:appinfo>
                      <codeName>extern mit Wahl des Zielversorgungsträgers nach §15 Abs. 1 VersAusglG</codeName>
                    </xs:appinfo>
                  </xs:annotation>
                </xs:enumeration>
                <xs:enumeration value="04">
                  <xs:annotation>
                    <xs:appinfo>
                      <codeName>extern ohne Wahl des Zielversorgungsträgers §15 Abs. 5 VersAusglG</codeName>
                    </xs:appinfo>
                  </xs:annotation>
                </xs:enumeration>
                <xs:enumeration value="05">
                  <xs:annotation>
                    <xs:appinfo>
                      <codeName>extern durch Parteienvereinbarung über Beitragszahlung</codeName>
                    </xs:appinfo>
                  </xs:annotation>
                </xs:enumeration>
              </xs:restriction>
            </xs:simpleType>
          </xs:element>
        </xs:sequence>
        <xs:attribute name="listURI" type="xs:anyURI" use="optional" fixed="urn:xoev-de:xjustiz:codeliste:vag.teilungsart.entscheidung">
          <xs:annotation>
            <xs:documentation>Dokumentation aus XOEV-Bibliothek:</xs:documentation>
            <xs:documentation>Mit diesem XML-Attribut wird die Kennung der Codeliste übermittelt, in deren Kontext der jeweilige Code zu interpretieren ist. Die Kennung identifiziert die Codeliste, nicht jedoch deren Version eindeutig.

Wird bereits im Rahmen des XÖV-Standards eine Kennung vorgegeben (es handelt sich in diesem Fall um einen Code-Typ 1, 2 oder 3) darf auf eine nochmalige Angabe der Kennung bei der Übermittlung eines Codes verzichtet werden. Aus diesem Grund ist das XML-Attribut listURI zunächst als optional deklariert.</xs:documentation>
          </xs:annotation>
        </xs:attribute>
        <xs:attribute name="listVersionID" type="xs:normalizedString" use="required" fixed="2.0">
          <xs:annotation>
            <xs:documentation>Dokumentation aus XOEV-Bibliothek:</xs:documentation>
            <xs:documentation>Die konkrete Version der zu nutzenden Codeliste wird mit diesem XML-Attribut übertragen.

Analog zum listURI ist die Bestimmung der Version einer Codeliste bei der Übertragung eines Codes zwingend. Die Version kann jedoch ebenfalls bereits im XÖV-Standard festgelegt werden (es handelt sich in diesem Fall um einen Code-Typ 1 oder 2).</xs:documentation>
          </xs:annotation>
        </xs:attribute>
      </xs:restriction>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="Code.VAG.Versorgungsart">
    <xs:annotation>
      <xs:appinfo>
        <listAgencyName>BLK-AG IT-Standards für die Justiz</listAgencyName>
        <listName>VAG.Versorgungsart</listName>
      </xs:appinfo>
      <xs:documentation>Codeliste der verschiedenen Versorgungsarten.</xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:restriction base="xoev-code:Code">
        <xs:sequence>
          <xs:element name="code">
            <xs:annotation>
              <xs:documentation>Dokumentation aus XOEV-Bibliothek:</xs:documentation>
              <xs:documentation>In diesem XML-Element wird der Code einer Codeliste übermittelt.</xs:documentation>
            </xs:annotation>
            <xs:simpleType>
              <xs:restriction base="xs:token">
                <xs:enumeration value="01">
                  <xs:annotation>
                    <xs:appinfo>
                      <codeName>Beamtenversorgung</codeName>
                    </xs:appinfo>
                  </xs:annotation>
                </xs:enumeration>
                <xs:enumeration value="02">
                  <xs:annotation>
                    <xs:appinfo>
                      <codeName>berufsständische Altersversorgung</codeName>
                    </xs:appinfo>
                  </xs:annotation>
                </xs:enumeration>
                <xs:enumeration value="03">
                  <xs:annotation>
                    <xs:appinfo>
                      <codeName>betriebliche Altersversorgung</codeName>
                    </xs:appinfo>
                  </xs:annotation>
                </xs:enumeration>
                <xs:enumeration value="04">
                  <xs:annotation>
                    <xs:appinfo>
                      <codeName>gesetzliche Rentenversicherung</codeName>
                    </xs:appinfo>
                  </xs:annotation>
                </xs:enumeration>
                <xs:enumeration value="05">
                  <xs:annotation>
                    <xs:appinfo>
                      <codeName>private Altersvorsorge</codeName>
                    </xs:appinfo>
                  </xs:annotation>
                </xs:enumeration>
                <xs:enumeration value="06">
                  <xs:annotation>
                    <xs:appinfo>
                      <codeName>sonstige Altersversorgung</codeName>
                    </xs:appinfo>
                  </xs:annotation>
                </xs:enumeration>
                <xs:enumeration value="07">
                  <xs:annotation>
                    <xs:appinfo>
                      <codeName>Zusatzversorgung öffentlicher Dienst</codeName>
                    </xs:appinfo>
                  </xs:annotation>
                </xs:enumeration>
              </xs:restriction>
            </xs:simpleType>
          </xs:element>
        </xs:sequence>
        <xs:attribute name="listURI" type="xs:anyURI" use="optional" fixed="urn:xoev-de:xjustiz:codeliste:vag.versorgungsart">
          <xs:annotation>
            <xs:documentation>Dokumentation aus XOEV-Bibliothek:</xs:documentation>
            <xs:documentation>Mit diesem XML-Attribut wird die Kennung der Codeliste übermittelt, in deren Kontext der jeweilige Code zu interpretieren ist. Die Kennung identifiziert die Codeliste, nicht jedoch deren Version eindeutig.

Wird bereits im Rahmen des XÖV-Standards eine Kennung vorgegeben (es handelt sich in diesem Fall um einen Code-Typ 1, 2 oder 3) darf auf eine nochmalige Angabe der Kennung bei der Übermittlung eines Codes verzichtet werden. Aus diesem Grund ist das XML-Attribut listURI zunächst als optional deklariert.</xs:documentation>
          </xs:annotation>
        </xs:attribute>
        <xs:attribute name="listVersionID" type="xs:normalizedString" use="required" fixed="2.0">
          <xs:annotation>
            <xs:documentation>Dokumentation aus XOEV-Bibliothek:</xs:documentation>
            <xs:documentation>Die konkrete Version der zu nutzenden Codeliste wird mit diesem XML-Attribut übertragen.

Analog zum listURI ist die Bestimmung der Version einer Codeliste bei der Übertragung eines Codes zwingend. Die Version kann jedoch ebenfalls bereits im XÖV-Standard festgelegt werden (es handelt sich in diesem Fall um einen Code-Typ 1 oder 2).</xs:documentation>
          </xs:annotation>
        </xs:attribute>
      </xs:restriction>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="Code.VAG.Zinsende">
    <xs:annotation>
      <xs:appinfo>
        <listAgencyName>BLK-AG IT-Standards für die Justiz</listAgencyName>
        <listName>VAG.Zinsende</listName>
      </xs:appinfo>
      <xs:documentation>Codeliste der verschiedenen Angaben zum Zinsende.</xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:restriction base="xoev-code:Code">
        <xs:sequence>
          <xs:element name="code">
            <xs:annotation>
              <xs:documentation>Dokumentation aus XOEV-Bibliothek:</xs:documentation>
              <xs:documentation>In diesem XML-Element wird der Code einer Codeliste übermittelt.</xs:documentation>
            </xs:annotation>
            <xs:simpleType>
              <xs:restriction base="xs:token">
                <xs:enumeration value="01">
                  <xs:annotation>
                    <xs:appinfo>
                      <codeName>Rechtskraft</codeName>
                    </xs:appinfo>
                  </xs:annotation>
                </xs:enumeration>
              </xs:restriction>
            </xs:simpleType>
          </xs:element>
        </xs:sequence>
        <xs:attribute name="listURI" type="xs:anyURI" use="optional" fixed="urn:xoev-de:xjustiz:codeliste:vag.zinsende">
          <xs:annotation>
            <xs:documentation>Dokumentation aus XOEV-Bibliothek:</xs:documentation>
            <xs:documentation>Mit diesem XML-Attribut wird die Kennung der Codeliste übermittelt, in deren Kontext der jeweilige Code zu interpretieren ist. Die Kennung identifiziert die Codeliste, nicht jedoch deren Version eindeutig.

Wird bereits im Rahmen des XÖV-Standards eine Kennung vorgegeben (es handelt sich in diesem Fall um einen Code-Typ 1, 2 oder 3) darf auf eine nochmalige Angabe der Kennung bei der Übermittlung eines Codes verzichtet werden. Aus diesem Grund ist das XML-Attribut listURI zunächst als optional deklariert.</xs:documentation>
          </xs:annotation>
        </xs:attribute>
        <xs:attribute name="listVersionID" type="xs:normalizedString" use="required" fixed="2.0">
          <xs:annotation>
            <xs:documentation>Dokumentation aus XOEV-Bibliothek:</xs:documentation>
            <xs:documentation>Die konkrete Version der zu nutzenden Codeliste wird mit diesem XML-Attribut übertragen.

Analog zum listURI ist die Bestimmung der Version einer Codeliste bei der Übertragung eines Codes zwingend. Die Version kann jedoch ebenfalls bereits im XÖV-Standard festgelegt werden (es handelt sich in diesem Fall um einen Code-Typ 1 oder 2).</xs:documentation>
          </xs:annotation>
        </xs:attribute>
      </xs:restriction>
    </xs:complexContent>
  </xs:complexType>
</xs:schema>

