X.Justiz-Versions/2.6.0/XJustiz 2.6.0 XSD/xjustiz_1600_smallclaims_2_3.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://www.xjustiz.de" xmlns:xoev-lc="http://xoev.de/latinchars/1_1/datatypes" targetNamespace="http://www.xjustiz.de" version="2.3.0" elementFormDefault="qualified" attributeFormDefault="unqualified">
  <xs:include schemaLocation="xjustiz_0000_grunddatensatz_2_6.xsd" />
  <xs:include schemaLocation="xjustiz_1610_cl_smallclaims_2_1.xsd" />
  <xs:import schemaLocation="latinchars.xsd" namespace="http://xoev.de/latinchars/1_1/datatypes" />
  <xs:complexType name="Type.SC.Beteiligter">
    <xs:sequence>
      <xs:element name="beteiligtennummer" minOccurs="0" type="xoev-lc:String.Latin" />
      <xs:element name="auswahl_Beteiligter">
        <xs:complexType>
          <xs:choice>
            <xs:element name="natuerliche_Person">
              <xs:complexType>
                <xs:sequence>
                  <xs:element name="voller_Name" minOccurs="0">
                    <xs:complexType>
                      <xs:sequence>
                        <xs:element name="vorname" minOccurs="0" type="xoev-lc:String.Latin" />
                        <xs:element name="nachname" minOccurs="0" type="xoev-lc:String.Latin" />
                        <xs:element name="weiterer_Name" minOccurs="0" type="xoev-lc:String.Latin" />
                      </xs:sequence>
                    </xs:complexType>
                  </xs:element>
                  <xs:element name="anschrift" minOccurs="0" maxOccurs="unbounded" type="tns:Type.GDS.Anschrift" />
                  <xs:element name="telekommunikation" minOccurs="0" maxOccurs="unbounded" type="tns:Type.GDS.Telekommunikation" />
                  <xs:element name="bankverbindung" minOccurs="0" maxOccurs="unbounded" type="tns:Type.GDS.Bankverbindung" />
                </xs:sequence>
              </xs:complexType>
            </xs:element>
            <xs:element name="organisation">
              <xs:complexType>
                <xs:sequence>
                  <xs:element name="bezeichnung">
                    <xs:complexType>
                      <xs:sequence>
                        <xs:element name="bezeichnung_aktuell" type="xoev-lc:String.Latin" />
                      </xs:sequence>
                    </xs:complexType>
                  </xs:element>
                  <xs:element name="anschrift" minOccurs="0" maxOccurs="unbounded" type="tns:Type.GDS.Anschrift" />
                  <xs:element name="telekommunikation" minOccurs="0" maxOccurs="unbounded" type="tns:Type.GDS.Telekommunikation" />
                  <xs:element name="bankverbindung" minOccurs="0" maxOccurs="unbounded" type="tns:Type.GDS.Bankverbindung" />
                </xs:sequence>
              </xs:complexType>
            </xs:element>
          </xs:choice>
        </xs:complexType>
      </xs:element>
      <xs:element name="sonstige_Angaben_Beteiligter" minOccurs="0" type="xoev-lc:String.Latin" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="Type.SC.Beteiligung">
    <xs:sequence>
      <xs:element name="rolle" maxOccurs="unbounded">
        <xs:annotation>
          <xs:documentation>Jede/r Beteiligte hat eine oder mehrere Rollen, z.B. Kläger, Beklagter, Zeuge, Dolmetscher, Rechtsanwalt.</xs:documentation>
        </xs:annotation>
        <xs:complexType>
          <xs:sequence>
            <xs:element name="rollennummer" type="xoev-lc:String.Latin">
              <xs:annotation>
                <xs:documentation>Die Rollennummer wird als eindeutige Kennziffer innerhalb des XML-Dokuments benötigt, um aus anderen Elementen innerhalb des XML-Dokuments heraus auf Beteiligte und Rollen verweisen zu können.  Die Rollennummer kann aus einem Datenbank-Schlüssel abgeleitet werden, der dem Beteiligten in der Datenbank eines Gerichts, einer Staatsanwaltschaft oder einer sonstigen Behörde zur eindeutigen Identifizierung zugeordnet ist. Zwingend erforderlich ist dies nicht. Sofern die einzelnen Kommunikationsteilnehmer intern unterschiedliche Datenbank-Schlüssel verwenden, können diese im Element Rollen_ID (siehe unten) abgelegt werden. Die Rollennummer kann dann frei bestimmt werden, solange sie nur innerhalb eines XML-Dokuments eindeutig bleibt.</xs:documentation>
              </xs:annotation>
            </xs:element>
            <xs:element name="rollen_ID" minOccurs="0" type="xoev-lc:String.Latin" />
            <xs:element name="rollenbezeichnung" maxOccurs="2" type="tns:Code.SC.Rollenbezeichnung">
              <xs:annotation>
                <xs:documentation>Zulässige Rollenbezeichnungen sind in der Datei Code.SC.Rollenbezeichnung definiert.</xs:documentation>
              </xs:annotation>
            </xs:element>
            <xs:element name="referenz" minOccurs="0" maxOccurs="unbounded" type="tns:Type.GDS.Ref.Rollennummer" />
            <xs:element name="nr" default="1" type="xs:integer">
              <xs:annotation>
                <xs:documentation>Wenn es in einem Verfahren mehrere gleichartige Beteiligte gibt (z. B. mehrere Kläger), sind diese fortlaufend zu numerieren. Jede Kombination aus Rollenbezeichnung und Nummer (z.B. Kläger 1, Kläger 2, Beklagter 1 usw.) darf pro Verfahren nur einmal vorkommen.  Mit XML-Mitteln kann nur die Eindeutigkeit innerhalb des jeweiligen XJustiz-Datensatzes überprüft werden.  Für die überprüfung der verfahrensweiten Eindeutigkeit sind die jeweiligen Kommunikationsteilnehmer verantwortlich. Default ist 1.</xs:documentation>
              </xs:annotation>
            </xs:element>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="beteiligter" type="tns:Type.SC.Beteiligter">
        <xs:annotation>
          <xs:documentation>Ein Beteiligter kann eine natürliche Person oder eine Organisation sein.</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="Type.SC.Grunddaten">
    <xs:sequence>
      <xs:element name="verfahrensdaten">
        <xs:annotation>
          <xs:documentation>Verfahrensdaten nehmen alle Informationen auf, die das jeweilige Verfahren mit sich bringt.</xs:documentation>
        </xs:annotation>
        <xs:complexType>
          <xs:sequence>
            <xs:element name="instanzdaten" maxOccurs="unbounded">
              <xs:complexType>
                <xs:sequence>
                  <xs:element name="instanzbehoerde" type="xoev-lc:String.Latin" />
                  <xs:element name="aktenzeichen" minOccurs="0" type="xoev-lc:String.Latin" />
                </xs:sequence>
              </xs:complexType>
            </xs:element>
            <xs:element name="beteiligung" minOccurs="2" maxOccurs="20" type="tns:Type.SC.Beteiligung" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
    </xs:sequence>
    <xs:attribute name="xjustizVersion" type="xoev-lc:String.Latin" use="required" fixed="2.6.0">
      <xs:annotation>
        <xs:documentation>Dieses Attribut wird verwendet,um sicherzustellen, dass jedes Instanzdokument gegen die "richtige" Version des XML-Schemas geprüft wird. Angegeben werden hier alle drei Stellen der Versionsnummer. In der Dateibezeichnung sind nur die ersten beiden Stellen aufgeführt, dies ermöglicht es, an einzelnen Dateien Fehlerbereinigungen und dergleichen vorzunehmen, ohne dass die anderen Bestandteile von XJustiz geändert werden müssen.</xs:documentation>
      </xs:annotation>
    </xs:attribute>
  </xs:complexType>
  <xs:complexType name="Type.SC.Muendliche_Verhandlung">
    <xs:sequence>
      <xs:element name="flag_Muendliche_Verhandlung" default="false" type="xs:boolean" />
      <xs:element name="begruendung_Muendliche_Verhandlung" minOccurs="0" type="xoev-lc:String.Latin" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="Type.SC.Nachrichtenkopf">
    <xs:sequence>
      <xs:element name="erstellungszeitpunkt" type="xs:dateTime">
        <xs:annotation>
          <xs:documentation>Datum bei Unterschrift</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="absender" type="xoev-lc:String.Latin">
        <xs:annotation>
          <xs:documentation>Angaben aus EGVP/Signatur</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="empfaenger" type="xoev-lc:String.Latin">
        <xs:annotation>
          <xs:documentation>Angaben aus EGVP/Gerichtskennzahl</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="Type.SC.Ort_Datum_Unterschrift">
    <xs:sequence>
      <xs:element name="ort" type="xoev-lc:String.Latin" />
      <xs:element name="datum" type="xs:date" />
      <xs:element name="unterschrift" minOccurs="0" type="xoev-lc:String.Latin">
        <xs:annotation>
          <xs:documentation>EGVP; elektronische Signatur</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="Type.SC.Sonstige_Angaben_Beteiligter">
    <xs:sequence>
      <xs:element name="freitext" type="xoev-lc:String.Latin">
        <xs:annotation>
          <xs:documentation>Freitexteingabe; weitere Angaben zum Beteiligten</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="ref_Rollennummer" type="tns:Type.GDS.Ref.Rollennummer">
        <xs:annotation>
          <xs:documentation>Die weiteren Angaben werden über Ref_Rollennummer referenziert</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="Type.SC.Zahlung">
    <xs:sequence>
      <xs:element name="zahlungsart" minOccurs="0" type="tns:Code.SC.Zahlungsart" />
      <xs:element name="sonstige_Zahlungsart" minOccurs="0" type="xoev-lc:String.Latin" />
      <xs:element name="bankverbindung" minOccurs="0" type="tns:Type.GDS.Bankverbindung" />
      <xs:element name="kreditkartendaten" minOccurs="0" type="tns:Type.GDS.Kreditkartendaten" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="Type.SC.Zinsforderung">
    <xs:sequence>
      <xs:element name="flag_Zinsforderung" default="false" type="xs:boolean" />
      <xs:element name="zinsen" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Beim gesetzlichen Zinssatz wird der %-Wert nicht angegeben.
Der Zinsbeginn muß sowohl beim gesetzlichen als auch beim vertraglichen Zinssatz angegeben werden.</xs:documentation>
        </xs:annotation>
        <xs:complexType>
          <xs:sequence>
            <xs:element name="vertraglicher_Zinssatz" minOccurs="0">
              <xs:annotation>
                <xs:documentation>Im Formular muß mindestens ein Wert angegeben werden; es können alle drei Werte angegeben werden.</xs:documentation>
              </xs:annotation>
              <xs:complexType>
                <xs:sequence>
                  <xs:element name="zinssatz" minOccurs="0" type="xs:decimal">
                    <xs:annotation>
                      <xs:documentation>vertraglicher Zinssatz in %</xs:documentation>
                    </xs:annotation>
                  </xs:element>
                  <xs:element name="basiszinssatz" minOccurs="0" type="xs:decimal">
                    <xs:annotation>
                      <xs:documentation>Bitte geben Sie die Prozentpunktezahl über dem Zinssatz der EZB an; wenn der EZB Zinssatz z.B. 4 % beträgt und Sie 5 % Zinsen fordern, geben Sie "1" an.</xs:documentation>
                    </xs:annotation>
                  </xs:element>
                  <xs:element name="anderer_Wert" minOccurs="0" type="xs:decimal" />
                </xs:sequence>
              </xs:complexType>
            </xs:element>
            <xs:element name="zinsbeginn" minOccurs="0" type="xs:date">
              <xs:annotation>
                <xs:documentation>Der Zinsbeginn muß sowohl bei einem vertraglichen Zinssatz, als auch bei einem gesetzlichen Zinssatz angegeben werden.</xs:documentation>
              </xs:annotation>
            </xs:element>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:element name="nachricht.sc.form_a_klageformblatt.1600001">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="nachrichtenkopf">
          <xs:complexType>
            <xs:complexContent>
              <xs:extension base="tns:Type.SC.Nachrichtenkopf">
                <xs:sequence>
                  <xs:element name="ereignis" type="tns:Code.SC.Ereignis">
                    <xs:annotation>
                      <xs:documentation>Es ist nur das Ereignis "SC-Form A - Klageformblatt" aus der Codeliste WL_SC_Ereignis zulässig.</xs:documentation>
                    </xs:annotation>
                  </xs:element>
                </xs:sequence>
              </xs:extension>
            </xs:complexContent>
          </xs:complexType>
        </xs:element>
        <xs:element name="grunddaten" type="tns:Type.SC.Grunddaten" />
        <xs:element name="fachdaten">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="forderung" maxOccurs="2">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="verfahrensgegenstand">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element name="gegenstand" minOccurs="0" type="xoev-lc:String.Latin">
                            <xs:annotation>
                              <xs:documentation>Gegenstand der Forderung</xs:documentation>
                            </xs:annotation>
                          </xs:element>
                          <xs:element name="gegenstandswert">
                            <xs:complexType>
                              <xs:sequence>
                                <xs:element name="zahl" type="xs:double" />
                                <xs:element name="auswahl_Waehrung">
                                  <xs:complexType>
                                    <xs:choice>
                                      <xs:element name="waehrung_Art" type="tns:Code.GDS.Waehrung" />
                                      <xs:element name="sonstige_Waehrung" type="xoev-lc:String.Latin" />
                                    </xs:choice>
                                  </xs:complexType>
                                </xs:element>
                                <xs:element name="zinsforderung_Gegenstandswert" type="tns:Type.SC.Zinsforderung" />
                              </xs:sequence>
                            </xs:complexType>
                          </xs:element>
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                    <xs:element name="beweismittel" maxOccurs="3">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element name="urkundenbeweis" minOccurs="0" type="xoev-lc:String.Latin" />
                          <xs:element name="zeugenbeweis" minOccurs="0" type="xoev-lc:String.Latin" />
                          <xs:element name="sonstige_Beweismittel" minOccurs="0" type="xoev-lc:String.Latin" />
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                    <xs:element name="klage_Begruendung" minOccurs="0" type="xoev-lc:String.Latin" />
                    <xs:element name="erstattung_Verfahrenskosten">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element name="flag_Erstattung" default="false" type="xs:boolean" />
                          <xs:element name="naehere_Angaben_Erstattung" minOccurs="0" type="xoev-lc:String.Latin" />
                          <xs:element name="zinsforderung_Erstattung" type="tns:Type.SC.Zinsforderung" />
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
              <xs:element name="gerichtliche_Zustaendigkeit">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="begruendung" maxOccurs="8" type="tns:Code.SC.Gerichtliche_Zustaendigkeit" />
                    <xs:element name="sonstiger_Zustaendigkeitsgrund" minOccurs="0" type="xoev-lc:String.Latin" />
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
              <xs:element name="grenzueberschreitender_Sachverhalt">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="staat_Aufenthalt_Klaeger" type="tns:Code.GDS.Staaten">
                      <xs:annotation>
                        <xs:documentation>Staat des Wohnsitzes oder gewöhlichen Aufenthalts des Klägers</xs:documentation>
                      </xs:annotation>
                    </xs:element>
                    <xs:element name="staat_Aufenthalt_Beklagter" type="tns:Code.GDS.Staaten">
                      <xs:annotation>
                        <xs:documentation>Staat des Wohnsitzes oder gewöhlichen Aufenthalts des Beklagten</xs:documentation>
                      </xs:annotation>
                    </xs:element>
                    <xs:element name="staat_Gericht" type="tns:Code.GDS.Staaten" />
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
              <xs:element name="bezahlung_Gerichtsgebuehren">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="eingang_bei_Gericht" minOccurs="0" type="xs:date" />
                    <xs:element name="zahlung_Gebuehren" type="tns:Type.SC.Zahlung" />
                    <xs:element name="sprach_Code" type="xoev-lc:String.Latin" />
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
              <xs:element name="zahlung_Urteil" type="tns:Type.SC.Zahlung" />
              <xs:element name="statement">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="ort_Datum_Unterschrift">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element name="name" type="xoev-lc:String.Latin">
                            <xs:annotation>
                              <xs:documentation>Name des Klägers</xs:documentation>
                            </xs:annotation>
                          </xs:element>
                          <xs:element name="ort_Datum_Unterschrift" type="tns:Type.SC.Ort_Datum_Unterschrift" />
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                    <xs:element name="muendliche_Verhandlung" type="tns:Type.SC.Muendliche_Verhandlung" />
                    <xs:element name="flag_Bestaetigung_Urteil" default="false" type="xs:boolean" />
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="nachricht.sc.form_b_korrekturblatt.1600002">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="nachrichtenkopf">
          <xs:complexType>
            <xs:complexContent>
              <xs:extension base="tns:Type.SC.Nachrichtenkopf">
                <xs:sequence>
                  <xs:element name="ereignis" type="tns:Code.SC.Ereignis">
                    <xs:annotation>
                      <xs:documentation>Es ist nur das Ereignis "SC-Form B - Korrekturblatt" aus der Codeliste WL_SC_Ereignis zulässig.</xs:documentation>
                    </xs:annotation>
                  </xs:element>
                </xs:sequence>
              </xs:extension>
            </xs:complexContent>
          </xs:complexType>
        </xs:element>
        <xs:element name="grunddaten" type="tns:Type.SC.Grunddaten" />
        <xs:element name="fachdaten">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="eingabefehler">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="fristdatum" type="xs:date" />
                    <xs:element name="sprache_FormA" minOccurs="0" maxOccurs="3" type="tns:Code.GDS.Sprachen">
                      <xs:annotation>
                        <xs:documentation>Das Klageformblatt wurde nicht in der richtigen Sprache ausgefüllt.</xs:documentation>
                      </xs:annotation>
                    </xs:element>
                    <xs:element name="sonstige_Fehler" minOccurs="0" type="xoev-lc:String.Latin" />
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
              <xs:element name="ort_Datum_Unterschrift" type="tns:Type.SC.Ort_Datum_Unterschrift" />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="nachricht.sc.form_c1_antwortblatt.1600003">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="nachrichtenkopf">
          <xs:complexType>
            <xs:complexContent>
              <xs:extension base="tns:Type.SC.Nachrichtenkopf">
                <xs:sequence>
                  <xs:element name="ereignis" type="tns:Code.SC.Ereignis">
                    <xs:annotation>
                      <xs:documentation>Es ist nur das Ereignis "SC-Form B - Korrekturblatt" aus der Codeliste WL_SC_Ereignis zulässig.</xs:documentation>
                    </xs:annotation>
                  </xs:element>
                </xs:sequence>
              </xs:extension>
            </xs:complexContent>
          </xs:complexType>
        </xs:element>
        <xs:element name="grunddaten" type="tns:Type.GDS.Grunddaten.SGO" />
        <xs:element name="fachdaten">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="anerkennung_Forderung">
                <xs:complexType>
                  <xs:choice>
                    <xs:element name="flag_Ja" fixed="true" type="xs:boolean" />
                    <xs:element name="auswahl_Nein_Teilweise">
                      <xs:annotation>
                        <xs:documentation>Wenn mit "Nein" oder "Teilweise" geantwortet wurde, sollten die Gründe dafür angegeben werden.</xs:documentation>
                      </xs:annotation>
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element name="flag_Nein" default="false" type="xs:boolean" />
                          <xs:element name="flag_Teilweise" default="false" type="xs:boolean" />
                          <xs:element name="begruendung_kein_SmallClaims" minOccurs="0" type="xoev-lc:String.Latin">
                            <xs:annotation>
                              <xs:documentation>Begründung, warum die Klage nicht in den Anwendungsbereich des europäischen Verfahrens für geringfügige Forderungen fällt.</xs:documentation>
                            </xs:annotation>
                          </xs:element>
                          <xs:element name="sonstige_Gruende" minOccurs="0" type="xoev-lc:String.Latin" />
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                  </xs:choice>
                </xs:complexType>
              </xs:element>
              <xs:element name="beweismittel_Bestreitung" minOccurs="0">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="urkundenbeweis_Bestreitung" minOccurs="0" type="xoev-lc:String.Latin" />
                    <xs:element name="zeugenbeweis_Bestreitung" minOccurs="0" type="xoev-lc:String.Latin" />
                    <xs:element name="sonstige_Beweismittel_Bestreitung" minOccurs="0" type="xoev-lc:String.Latin" />
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
              <xs:element name="muendliche_Verhandlung">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="flag_Muendliche_Verhandlung" default="false" type="xs:boolean" />
                    <xs:element name="begruendung_Muendliche_Verhandlung" minOccurs="0" type="xoev-lc:String.Latin" />
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
              <xs:element name="erstattung_Verfahrenskosten">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="flag_Erstattung_Verfahrenskosten" default="false" type="xs:boolean" />
                    <xs:element name="begruendung_Erstattung_Verfahrenskosten" minOccurs="0" type="xoev-lc:String.Latin" />
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
              <xs:element name="widerklage">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="flag_Widerklage" default="false" type="xs:boolean" />
                    <xs:element name="begruendung_Widerklage" minOccurs="0" type="xoev-lc:String.Latin" />
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
              <xs:element name="sonstige_Angaben" minOccurs="0" type="xoev-lc:String.Latin" />
              <xs:element name="ort_Datum_Unterschrift" type="tns:Type.SC.Ort_Datum_Unterschrift" />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="nachricht.sc.form_d_urteil.1600004">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="nachrichtenkopf">
          <xs:complexType>
            <xs:complexContent>
              <xs:extension base="tns:Type.SC.Nachrichtenkopf">
                <xs:sequence>
                  <xs:element name="ereignis" type="tns:Code.SC.Ereignis">
                    <xs:annotation>
                      <xs:documentation>Es ist nur das Ereignis "SC-Form B - Korrekturblatt" aus der Codeliste WL_SC_Ereignis zulässig.</xs:documentation>
                    </xs:annotation>
                  </xs:element>
                </xs:sequence>
              </xs:extension>
            </xs:complexContent>
          </xs:complexType>
        </xs:element>
        <xs:element name="grunddaten" type="tns:Type.SC.Grunddaten" />
        <xs:element name="fachdaten">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="urteil">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="datum" type="xs:date" />
                    <xs:element name="aktenzeichen" type="xoev-lc:String.Latin" />
                    <xs:element name="inhalt_Urteil" type="xoev-lc:String.Latin" />
                    <xs:element name="name_Beklagter" type="xoev-lc:String.Latin" />
                    <xs:element name="name_Klaeger" type="xoev-lc:String.Latin" />
                    <xs:element name="hauptforderung" type="xs:double" />
                    <xs:element name="zinsen" type="xs:double" />
                    <xs:element name="kosten" type="xs:double" />
                    <xs:element name="urteil_Text" type="xoev-lc:String.Latin" />
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
              <xs:element name="berufungsgericht_Pruefung">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="flag_Berufungsgericht_Pruefung" default="false" type="xs:boolean" />
                    <xs:element name="vorrang" minOccurs="0">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element name="datum.vorrang" type="xs:date" />
                          <xs:element name="aktenzeichen_Vorrang" type="xoev-lc:String.Latin">
                            <xs:annotation>
                              <xs:documentation>Referenz zu einem vorherergangenen Urteil</xs:documentation>
                            </xs:annotation>
                          </xs:element>
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
              <xs:element name="ort_Datum_Unterschrift" type="tns:Type.SC.Ort_Datum_Unterschrift" />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="nachricht.sc.form_c2_antwortblatt.1600005">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="nachrichtenkopf">
          <xs:complexType>
            <xs:complexContent>
              <xs:extension base="tns:Type.SC.Nachrichtenkopf">
                <xs:sequence>
                  <xs:element name="ereignis" type="tns:Code.SC.Ereignis">
                    <xs:annotation>
                      <xs:documentation>Es ist nur das Ereignis "SC-Form B - Korrekturblatt" aus der Codeliste WL_SC_Ereignis zulässig.</xs:documentation>
                    </xs:annotation>
                  </xs:element>
                </xs:sequence>
              </xs:extension>
            </xs:complexContent>
          </xs:complexType>
        </xs:element>
        <xs:element name="grunddaten" type="tns:Type.GDS.Grunddaten.SGO" />
        <xs:element name="fachdaten">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="anerkennung_Forderung">
                <xs:complexType>
                  <xs:choice>
                    <xs:element name="flag_Ja" fixed="true" type="xs:boolean" />
                    <xs:element name="auswahl_Nein_Teilweise">
                      <xs:annotation>
                        <xs:documentation>Wenn mit "Nein" oder "Teilweise" geantwortet wurde, sollten die Gründe dafür angegeben werden.</xs:documentation>
                      </xs:annotation>
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element name="flag_Nein" default="false" type="xs:boolean" />
                          <xs:element name="flag_Teilweise" default="false" type="xs:boolean" />
                          <xs:element name="begruendung_kein_SmallClaims" minOccurs="0" type="xoev-lc:String.Latin">
                            <xs:annotation>
                              <xs:documentation>Begründung, warum die Klage nicht in den Anwendungsbereich des europäischen Verfahrens für geringfügige Forderungen fällt.</xs:documentation>
                            </xs:annotation>
                          </xs:element>
                          <xs:element name="sonstige_Gruende" minOccurs="0" type="xoev-lc:String.Latin" />
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                  </xs:choice>
                </xs:complexType>
              </xs:element>
              <xs:element name="beweismittel_Bestreitung" minOccurs="0">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="urkundenbeweis_Bestreitung" minOccurs="0" type="xoev-lc:String.Latin" />
                    <xs:element name="zeugenbeweis_Bestreitung" minOccurs="0" type="xoev-lc:String.Latin" />
                    <xs:element name="sonstige_Beweismittel_Bestreitung" minOccurs="0" type="xoev-lc:String.Latin" />
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
              <xs:element name="muendliche_Verhandlung">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="flag_Muendliche_Verhandlung" default="false" type="xs:boolean" />
                    <xs:element name="begruendung_Muendliche_Verhandlung" minOccurs="0" type="xoev-lc:String.Latin" />
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
              <xs:element name="erstattung_Verfahrenskosten">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="flag_Erstattung_Verfahrenskosten" default="false" type="xs:boolean" />
                    <xs:element name="begruendung_Erstattung_Verfahrenskosten" minOccurs="0" type="xoev-lc:String.Latin" />
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
              <xs:element name="widerklage">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="flag_Widerklage" default="false" type="xs:boolean" />
                    <xs:element name="begruendung_Widerklage" minOccurs="0" type="xoev-lc:String.Latin" />
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
              <xs:element name="sonstige_Angaben" minOccurs="0" type="xoev-lc:String.Latin" />
              <xs:element name="ort_Datum_Unterschrift" type="tns:Type.SC.Ort_Datum_Unterschrift" />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="nachricht.sc.freeformletter.1600006">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="nachrichtenkopf" type="tns:Type.GDS.Nachrichtenkopf.SGO" />
        <xs:element name="grunddaten" type="tns:Type.GDS.Grunddaten.SGO" />
        <xs:element name="dokument" maxOccurs="unbounded" type="tns:Type.GDS.Dokument" />
        <xs:element name="fachdaten">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="eCODEX_ConversationID" type="xoev-lc:String.Latin">
                <xs:annotation>
                  <xs:documentation>wird in 3.x zur ProzessID</xs:documentation>
                </xs:annotation>
              </xs:element>
              <xs:element name="freitextBrief" type="xoev-lc:String.Latin" />
              <xs:element name="ort_Datum_Unterschrift" type="tns:Type.SC.Ort_Datum_Unterschrift" />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="nachricht.sc.withdrawal.1600007">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="nachrichtenkopf" type="tns:Type.GDS.Nachrichtenkopf.SGO" />
        <xs:element name="grunddaten" type="tns:Type.GDS.Grunddaten.SGO" />
        <xs:element name="dokument" maxOccurs="unbounded" type="tns:Type.GDS.Dokument" />
        <xs:element name="fachdaten">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="eCODEX_ConversationID" type="xoev-lc:String.Latin">
                <xs:annotation>
                  <xs:documentation>wird in 3.x zur ProzessID</xs:documentation>
                </xs:annotation>
              </xs:element>
              <xs:element name="ort_Datum_Unterschrift" type="tns:Type.SC.Ort_Datum_Unterschrift" />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>

