X.Justiz-Versions/2.6.0/XJustiz 2.6.0 XSD/xjustiz_2200_eeb_2_3.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://www.xjustiz.de" xmlns:xoev-lc="http://xoev.de/latinchars/1_1/datatypes" targetNamespace="http://www.xjustiz.de" version="2.3.0" elementFormDefault="qualified" attributeFormDefault="unqualified">
  <xs:include schemaLocation="xjustiz_0000_grunddatensatz_2_6.xsd" />
  <xs:include schemaLocation="xjustiz_2210_cl_eeb_2_0.xsd" />
  <xs:import schemaLocation="latinchars.xsd" namespace="http://xoev.de/latinchars/1_1/datatypes" />
  <xs:complexType name="Type.EEB.Fachdaten_zuruecklaufend">
    <xs:sequence>
      <xs:choice>
        <xs:element name="empfangsbestaetigung" type="xs:date" />
        <xs:element name="stoerungsmeldung">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="stoerungs_ID" type="tns:Code.EEB.Stoerungs_ID" />
              <xs:element name="stoerungsgrund" minOccurs="0" type="xoev-lc:String.Latin">
                <xs:annotation>
                  <xs:documentation>Freitextfeld zur Erläuterung der Störung</xs:documentation>
                </xs:annotation>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:choice>
      <xs:element name="zustellungsempfaenger_abweichend" minOccurs="0" type="xs:boolean">
        <xs:annotation>
          <xs:documentation>Sollte jemand anderes als der Adressat die Sendung in Empfang nehmen, soll dies hier angegeben werden.</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:element name="nachricht.eeb.zuruecklaufend.2200007">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="nachrichtenkopf">
          <xs:complexType>
            <xs:complexContent>
              <xs:extension base="tns:Type.GDS.Nachrichtenkopf">
                <xs:sequence>
                  <xs:choice>
                    <xs:element name="absender_Gericht" type="tns:Code.GDS.Gerichte" />
                    <xs:element name="absender_Sonstige" type="xoev-lc:String.Latin" />
                    <xs:element name="absender_RVTraeger" type="tns:Code.GDS.RVTraeger" />
                  </xs:choice>
                  <xs:choice>
                    <xs:element name="empfaenger_Gericht" type="tns:Code.GDS.Gerichte" />
                    <xs:element name="empfaenger_Sonstige" type="xoev-lc:String.Latin" />
                  </xs:choice>
                  <xs:element name="eigene_Nachrichten_ID" type="tns:Type.GDS.xdomea.stringUUIDType" />
                  <xs:element name="fremde_Nachrichten_ID" type="tns:Type.GDS.xdomea.stringUUIDType">
                    <xs:annotation>
                      <xs:documentation>Referenz zum anfordernden übermittelten Schriftgutobjekt</xs:documentation>
                    </xs:annotation>
                  </xs:element>
                </xs:sequence>
              </xs:extension>
            </xs:complexContent>
          </xs:complexType>
        </xs:element>
        <xs:element name="grunddaten">
          <xs:complexType>
            <xs:attribute name="xjustizVersion" type="xoev-lc:String.Latin" use="required" fixed="2.6.0" />
          </xs:complexType>
        </xs:element>
        <xs:element name="fachdaten" type="tns:Type.EEB.Fachdaten_zuruecklaufend" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>

