schemas/xjustiz-xsd/2.1.0/XJustiz 2.1 XSD/xjustiz_0330_cl_nachrichten_2_1.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://www.xjustiz.de" xmlns:xoev-code="http://xoev.de/schemata/code/1_0" targetNamespace="http://www.xjustiz.de" version="2.1.0" elementFormDefault="unqualified" attributeFormDefault="unqualified">
  <xs:import schemaLocation="xoev-code.xsd" namespace="http://xoev.de/schemata/code/1_0" />
  <xs:complexType name="Code.INSO.Ereignis.Anteilsinhaber.Uebergabe">
    <xs:annotation>
      <xs:appinfo>
        <listAgencyName>BLK-AG IT-Standards für die Justiz</listAgencyName>
        <listName>INSO.Ereignis.Anteilsinhaber.Uebergabe</listName>
      </xs:appinfo>
      <xs:documentation>Codeliste der verschiedenen  Ereignisse im Fachverfahren INSO für die Anteilhaber Übergabe.</xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:restriction base="xoev-code:Code">
        <xs:sequence>
          <xs:element name="code">
            <xs:annotation>
              <xs:documentation>Dokumentation aus XOEV-Bibliothek:</xs:documentation>
              <xs:documentation>In diesem XML-Element wird der Code einer Codeliste übermittelt.</xs:documentation>
            </xs:annotation>
            <xs:simpleType>
              <xs:restriction base="xs:token">
                <xs:enumeration value="001">
                  <xs:annotation>
                    <xs:appinfo>
                      <codeName>Übergabe Anteilsinhaber</codeName>
                    </xs:appinfo>
                  </xs:annotation>
                </xs:enumeration>
              </xs:restriction>
            </xs:simpleType>
          </xs:element>
        </xs:sequence>
        <xs:attribute name="listURI" type="xs:anyURI" use="required" fixed="urn:xoev-de:xjustiz:codeliste:inso.ereignis.anteilsinhaber.uebergabe">
          <xs:annotation>
            <xs:documentation>Dokumentation aus XOEV-Bibliothek:</xs:documentation>
            <xs:documentation>Mit diesem XML-Attribut wird die Kennung der Codeliste übermittelt, in deren Kontext der jeweilige Code zu interpretieren ist. Die Kennung identifiziert die Codeliste, nicht jedoch deren Version eindeutig.

Wird bereits im Rahmen des XÖV-Standards eine Kennung vorgegeben (es handelt sich in diesem Fall um einen Code-Typ 1, 2 oder 3) darf auf eine nochmalige Angabe der Kennung bei der Übermittlung eines Codes verzichtet werden. Aus diesem Grund ist das XML-Attribut listURI zunächst als optional deklariert.</xs:documentation>
          </xs:annotation>
        </xs:attribute>
        <xs:attribute name="listVersionID" type="xs:normalizedString" use="required" fixed="2.1">
          <xs:annotation>
            <xs:documentation>Dokumentation aus XOEV-Bibliothek:</xs:documentation>
            <xs:documentation>Die konkrete Version der zu nutzenden Codeliste wird mit diesem XML-Attribut übertragen.

Analog zum listURI ist die Bestimmung der Version einer Codeliste bei der Übertragung eines Codes zwingend. Die Version kann jedoch ebenfalls bereits im XÖV-Standard festgelegt werden (es handelt sich in diesem Fall um einen Code-Typ 1 oder 2).</xs:documentation>
          </xs:annotation>
        </xs:attribute>
      </xs:restriction>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="Code.INSO.Ereignis.Antrag_Vermoegenstraeger.Uebergabe">
    <xs:annotation>
      <xs:appinfo>
        <listAgencyName>BLK-AG IT-Standards für die Justiz</listAgencyName>
        <listName>INSO.Ereignis.Antrag_Vermoegenstraeger.Uebergabe</listName>
      </xs:appinfo>
      <xs:documentation>Codeliste der verschiedenen  Ereignisse im Fachverfahren INSO für die Antrag-Vermögensträger-Übergabe.</xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:restriction base="xoev-code:Code">
        <xs:sequence>
          <xs:element name="code">
            <xs:annotation>
              <xs:documentation>Dokumentation aus XOEV-Bibliothek:</xs:documentation>
              <xs:documentation>In diesem XML-Element wird der Code einer Codeliste übermittelt.</xs:documentation>
            </xs:annotation>
            <xs:simpleType>
              <xs:restriction base="xs:token">
                <xs:enumeration value="001">
                  <xs:annotation>
                    <xs:appinfo>
                      <codeName>Antrag Insolvenzeröffnung</codeName>
                    </xs:appinfo>
                  </xs:annotation>
                </xs:enumeration>
              </xs:restriction>
            </xs:simpleType>
          </xs:element>
        </xs:sequence>
        <xs:attribute name="listURI" type="xs:anyURI" use="required" fixed="urn:xoev-de:xjustiz:codeliste:inso.ereignis.antrag-vermoegenstraeger.uebergabe">
          <xs:annotation>
            <xs:documentation>Dokumentation aus XOEV-Bibliothek:</xs:documentation>
            <xs:documentation>Mit diesem XML-Attribut wird die Kennung der Codeliste übermittelt, in deren Kontext der jeweilige Code zu interpretieren ist. Die Kennung identifiziert die Codeliste, nicht jedoch deren Version eindeutig.

Wird bereits im Rahmen des XÖV-Standards eine Kennung vorgegeben (es handelt sich in diesem Fall um einen Code-Typ 1, 2 oder 3) darf auf eine nochmalige Angabe der Kennung bei der Übermittlung eines Codes verzichtet werden. Aus diesem Grund ist das XML-Attribut listURI zunächst als optional deklariert.</xs:documentation>
          </xs:annotation>
        </xs:attribute>
        <xs:attribute name="listVersionID" type="xs:normalizedString" use="required" fixed="2.1">
          <xs:annotation>
            <xs:documentation>Dokumentation aus XOEV-Bibliothek:</xs:documentation>
            <xs:documentation>Die konkrete Version der zu nutzenden Codeliste wird mit diesem XML-Attribut übertragen.

Analog zum listURI ist die Bestimmung der Version einer Codeliste bei der Übertragung eines Codes zwingend. Die Version kann jedoch ebenfalls bereits im XÖV-Standard festgelegt werden (es handelt sich in diesem Fall um einen Code-Typ 1 oder 2).</xs:documentation>
          </xs:annotation>
        </xs:attribute>
      </xs:restriction>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="Code.INSO.Ereignis.Debitor.Uebergabe">
    <xs:annotation>
      <xs:appinfo>
        <listAgencyName>BLK-AG IT-Standards für die Justiz</listAgencyName>
        <listName>INSO.Ereignis.Debitor.Uebergabe</listName>
      </xs:appinfo>
      <xs:documentation>Codeliste der verschiedenen  Ereignisse im Fachverfahren INSO für die Debitor Übergabe.</xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:restriction base="xoev-code:Code">
        <xs:sequence>
          <xs:element name="code">
            <xs:annotation>
              <xs:documentation>Dokumentation aus XOEV-Bibliothek:</xs:documentation>
              <xs:documentation>In diesem XML-Element wird der Code einer Codeliste übermittelt.</xs:documentation>
            </xs:annotation>
            <xs:simpleType>
              <xs:restriction base="xs:token">
                <xs:enumeration value="001">
                  <xs:annotation>
                    <xs:appinfo>
                      <codeName>Übergabe Debitoren</codeName>
                    </xs:appinfo>
                  </xs:annotation>
                </xs:enumeration>
              </xs:restriction>
            </xs:simpleType>
          </xs:element>
        </xs:sequence>
        <xs:attribute name="listURI" type="xs:anyURI" use="required" fixed="urn:xoev-de:xjustiz:codeliste:inso.ereignis.debitor.uebergabe">
          <xs:annotation>
            <xs:documentation>Dokumentation aus XOEV-Bibliothek:</xs:documentation>
            <xs:documentation>Mit diesem XML-Attribut wird die Kennung der Codeliste übermittelt, in deren Kontext der jeweilige Code zu interpretieren ist. Die Kennung identifiziert die Codeliste, nicht jedoch deren Version eindeutig.

Wird bereits im Rahmen des XÖV-Standards eine Kennung vorgegeben (es handelt sich in diesem Fall um einen Code-Typ 1, 2 oder 3) darf auf eine nochmalige Angabe der Kennung bei der Übermittlung eines Codes verzichtet werden. Aus diesem Grund ist das XML-Attribut listURI zunächst als optional deklariert.</xs:documentation>
          </xs:annotation>
        </xs:attribute>
        <xs:attribute name="listVersionID" type="xs:normalizedString" use="required" fixed="2.1">
          <xs:annotation>
            <xs:documentation>Dokumentation aus XOEV-Bibliothek:</xs:documentation>
            <xs:documentation>Die konkrete Version der zu nutzenden Codeliste wird mit diesem XML-Attribut übertragen.

Analog zum listURI ist die Bestimmung der Version einer Codeliste bei der Übertragung eines Codes zwingend. Die Version kann jedoch ebenfalls bereits im XÖV-Standard festgelegt werden (es handelt sich in diesem Fall um einen Code-Typ 1 oder 2).</xs:documentation>
          </xs:annotation>
        </xs:attribute>
      </xs:restriction>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="Code.INSO.Ereignis.Gemeldete_Verfahren">
    <xs:annotation>
      <xs:appinfo>
        <listAgencyName>BLK-AG IT-Standards für die Justiz</listAgencyName>
        <listName>INSO.Ereignis.Gemeldete_Verfahren</listName>
      </xs:appinfo>
      <xs:documentation>Codeliste der verschiedenen  Ereignisse im Fachverfahren INSO für die gemeldeten Verfahren.</xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:restriction base="xoev-code:Code">
        <xs:sequence>
          <xs:element name="code">
            <xs:annotation>
              <xs:documentation>Dokumentation aus XOEV-Bibliothek:</xs:documentation>
              <xs:documentation>In diesem XML-Element wird der Code einer Codeliste übermittelt.</xs:documentation>
            </xs:annotation>
            <xs:simpleType>
              <xs:restriction base="xs:token">
                <xs:enumeration value="001">
                  <xs:annotation>
                    <xs:appinfo>
                      <codeName>Jahresmeldung</codeName>
                    </xs:appinfo>
                  </xs:annotation>
                </xs:enumeration>
                <xs:enumeration value="002">
                  <xs:annotation>
                    <xs:appinfo>
                      <codeName>Nachmeldung</codeName>
                    </xs:appinfo>
                  </xs:annotation>
                </xs:enumeration>
              </xs:restriction>
            </xs:simpleType>
          </xs:element>
        </xs:sequence>
        <xs:attribute name="listURI" type="xs:anyURI" use="required" fixed="urn:xoev-de:xjustiz:codeliste:inso.ereignis.gemeldete-verfahren">
          <xs:annotation>
            <xs:documentation>Dokumentation aus XOEV-Bibliothek:</xs:documentation>
            <xs:documentation>Mit diesem XML-Attribut wird die Kennung der Codeliste übermittelt, in deren Kontext der jeweilige Code zu interpretieren ist. Die Kennung identifiziert die Codeliste, nicht jedoch deren Version eindeutig.

Wird bereits im Rahmen des XÖV-Standards eine Kennung vorgegeben (es handelt sich in diesem Fall um einen Code-Typ 1, 2 oder 3) darf auf eine nochmalige Angabe der Kennung bei der Übermittlung eines Codes verzichtet werden. Aus diesem Grund ist das XML-Attribut listURI zunächst als optional deklariert.</xs:documentation>
          </xs:annotation>
        </xs:attribute>
        <xs:attribute name="listVersionID" type="xs:normalizedString" use="required" fixed="2.1">
          <xs:annotation>
            <xs:documentation>Dokumentation aus XOEV-Bibliothek:</xs:documentation>
            <xs:documentation>Die konkrete Version der zu nutzenden Codeliste wird mit diesem XML-Attribut übertragen.

Analog zum listURI ist die Bestimmung der Version einer Codeliste bei der Übertragung eines Codes zwingend. Die Version kann jedoch ebenfalls bereits im XÖV-Standard festgelegt werden (es handelt sich in diesem Fall um einen Code-Typ 1 oder 2).</xs:documentation>
          </xs:annotation>
        </xs:attribute>
      </xs:restriction>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="Code.INSO.Ereignis.Insolvenztabelle.Uebergabe">
    <xs:annotation>
      <xs:appinfo>
        <listAgencyName>BLK-AG IT-Standards für die Justiz</listAgencyName>
        <listName>INSO.Ereignis.Insolvenztabelle.Uebergabe</listName>
      </xs:appinfo>
      <xs:documentation>Dieser einfache Datentyp schränkt die möglichen Werte für Rechtsform in den Grunddaten auf einen Katalog an zulässigen Werten ein. Zur Anwendung im Instanzdokument muß im Instanzdokument die Typ-Spezifizierung xsi:type="WL_Rechtsform_InsO" eingesetzt werden.</xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:restriction base="xoev-code:Code">
        <xs:sequence>
          <xs:element name="code">
            <xs:annotation>
              <xs:documentation>Dokumentation aus XOEV-Bibliothek:</xs:documentation>
              <xs:documentation>In diesem XML-Element wird der Code einer Codeliste übermittelt.</xs:documentation>
            </xs:annotation>
            <xs:simpleType>
              <xs:restriction base="xs:token">
                <xs:enumeration value="001">
                  <xs:annotation>
                    <xs:appinfo>
                      <codeName>Übergabe Forderungsanmeldungen mit Erklärungen</codeName>
                    </xs:appinfo>
                  </xs:annotation>
                </xs:enumeration>
                <xs:enumeration value="002">
                  <xs:annotation>
                    <xs:appinfo>
                      <codeName>Übergabe Forderungsanmeldungen ohne Erklärungen</codeName>
                    </xs:appinfo>
                  </xs:annotation>
                </xs:enumeration>
              </xs:restriction>
            </xs:simpleType>
          </xs:element>
        </xs:sequence>
        <xs:attribute name="listURI" type="xs:anyURI" use="required" fixed="urn:xoev-de:xjustiz:codeliste:inso.ereignis.insolvenztabelle.uebergabe">
          <xs:annotation>
            <xs:documentation>Dokumentation aus XOEV-Bibliothek:</xs:documentation>
            <xs:documentation>Mit diesem XML-Attribut wird die Kennung der Codeliste übermittelt, in deren Kontext der jeweilige Code zu interpretieren ist. Die Kennung identifiziert die Codeliste, nicht jedoch deren Version eindeutig.

Wird bereits im Rahmen des XÖV-Standards eine Kennung vorgegeben (es handelt sich in diesem Fall um einen Code-Typ 1, 2 oder 3) darf auf eine nochmalige Angabe der Kennung bei der Übermittlung eines Codes verzichtet werden. Aus diesem Grund ist das XML-Attribut listURI zunächst als optional deklariert.</xs:documentation>
          </xs:annotation>
        </xs:attribute>
        <xs:attribute name="listVersionID" type="xs:normalizedString" use="required" fixed="2.1">
          <xs:annotation>
            <xs:documentation>Dokumentation aus XOEV-Bibliothek:</xs:documentation>
            <xs:documentation>Die konkrete Version der zu nutzenden Codeliste wird mit diesem XML-Attribut übertragen.

Analog zum listURI ist die Bestimmung der Version einer Codeliste bei der Übertragung eines Codes zwingend. Die Version kann jedoch ebenfalls bereits im XÖV-Standard festgelegt werden (es handelt sich in diesem Fall um einen Code-Typ 1 oder 2).</xs:documentation>
          </xs:annotation>
        </xs:attribute>
      </xs:restriction>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="Code.INSO.Ereignis.VOE_Verarbeitungsbestaetigung">
    <xs:annotation>
      <xs:appinfo>
        <listAgencyName>BLK-AG IT-Standards für die Justiz</listAgencyName>
        <listName>INSO.Ereignis.VOE_Verarbeitungsbestaetigung</listName>
      </xs:appinfo>
      <xs:documentation>Codeliste der verschiedenen  Ereignisse im Fachverfahren INSO für die VOE-Veröffentlichungsbestätigungen.</xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:restriction base="xoev-code:Code">
        <xs:sequence>
          <xs:element name="code">
            <xs:annotation>
              <xs:documentation>Dokumentation aus XOEV-Bibliothek:</xs:documentation>
              <xs:documentation>In diesem XML-Element wird der Code einer Codeliste übermittelt.</xs:documentation>
            </xs:annotation>
            <xs:simpleType>
              <xs:restriction base="xs:token">
                <xs:enumeration value="1">
                  <xs:annotation>
                    <xs:appinfo>
                      <codeName>Veröffentlichungsbestätigung</codeName>
                    </xs:appinfo>
                  </xs:annotation>
                </xs:enumeration>
                <xs:enumeration value="2">
                  <xs:annotation>
                    <xs:appinfo>
                      <codeName>Löschungsbestätigung</codeName>
                    </xs:appinfo>
                  </xs:annotation>
                </xs:enumeration>
                <xs:enumeration value="3">
                  <xs:annotation>
                    <xs:appinfo>
                      <codeName>Fehlerhafte Signatur</codeName>
                    </xs:appinfo>
                  </xs:annotation>
                </xs:enumeration>
                <xs:enumeration value="4">
                  <xs:annotation>
                    <xs:appinfo>
                      <codeName>Fehlerhaftes Format der Veröffentlichung</codeName>
                    </xs:appinfo>
                  </xs:annotation>
                </xs:enumeration>
                <xs:enumeration value="5">
                  <xs:annotation>
                    <xs:appinfo>
                      <codeName>Bezugsveröffentlichung nicht gefunden</codeName>
                    </xs:appinfo>
                  </xs:annotation>
                </xs:enumeration>
                <xs:enumeration value="6">
                  <xs:annotation>
                    <xs:appinfo>
                      <codeName>Fehlerhaftes Löschdatum oder Löschfrist</codeName>
                    </xs:appinfo>
                  </xs:annotation>
                </xs:enumeration>
                <xs:enumeration value="7">
                  <xs:annotation>
                    <xs:appinfo>
                      <codeName>SAFE-Authentifizierung fehlgeschlagen</codeName>
                    </xs:appinfo>
                  </xs:annotation>
                </xs:enumeration>
                <xs:enumeration value="8">
                  <xs:annotation>
                    <xs:appinfo>
                      <codeName>Löschungsauftrag erhalten</codeName>
                    </xs:appinfo>
                  </xs:annotation>
                </xs:enumeration>
                <xs:enumeration value="9">
                  <xs:annotation>
                    <xs:appinfo>
                      <codeName>Löschdatum korrigiert</codeName>
                    </xs:appinfo>
                  </xs:annotation>
                </xs:enumeration>
              </xs:restriction>
            </xs:simpleType>
          </xs:element>
        </xs:sequence>
        <xs:attribute name="listURI" type="xs:anyURI" use="required" fixed="urn:xoev-de:xjustiz:codeliste:inso.ereignis.voe-verarbeitungsbestaetigung">
          <xs:annotation>
            <xs:documentation>Dokumentation aus XOEV-Bibliothek:</xs:documentation>
            <xs:documentation>Mit diesem XML-Attribut wird die Kennung der Codeliste übermittelt, in deren Kontext der jeweilige Code zu interpretieren ist. Die Kennung identifiziert die Codeliste, nicht jedoch deren Version eindeutig.

Wird bereits im Rahmen des XÖV-Standards eine Kennung vorgegeben (es handelt sich in diesem Fall um einen Code-Typ 1, 2 oder 3) darf auf eine nochmalige Angabe der Kennung bei der Übermittlung eines Codes verzichtet werden. Aus diesem Grund ist das XML-Attribut listURI zunächst als optional deklariert.</xs:documentation>
          </xs:annotation>
        </xs:attribute>
        <xs:attribute name="listVersionID" type="xs:normalizedString" use="required" fixed="2.1">
          <xs:annotation>
            <xs:documentation>Dokumentation aus XOEV-Bibliothek:</xs:documentation>
            <xs:documentation>Die konkrete Version der zu nutzenden Codeliste wird mit diesem XML-Attribut übertragen.

Analog zum listURI ist die Bestimmung der Version einer Codeliste bei der Übertragung eines Codes zwingend. Die Version kann jedoch ebenfalls bereits im XÖV-Standard festgelegt werden (es handelt sich in diesem Fall um einen Code-Typ 1 oder 2).</xs:documentation>
          </xs:annotation>
        </xs:attribute>
      </xs:restriction>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="Code.INSO.Ereignis.Veroeffentlichung">
    <xs:annotation>
      <xs:appinfo>
        <listAgencyName>BLK-AG IT-Standards für die Justiz</listAgencyName>
        <listName>INSO.Ereignis.Veroeffentlichung</listName>
      </xs:appinfo>
      <xs:documentation>Codeliste der verschiedenen  Ereignisse im Fachverfahren INSO für die Veröffentlichungen.</xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:restriction base="xoev-code:Code">
        <xs:sequence>
          <xs:element name="code">
            <xs:annotation>
              <xs:documentation>Dokumentation aus XOEV-Bibliothek:</xs:documentation>
              <xs:documentation>In diesem XML-Element wird der Code einer Codeliste übermittelt.</xs:documentation>
            </xs:annotation>
            <xs:simpleType>
              <xs:restriction base="xs:token">
                <xs:enumeration value="001">
                  <xs:annotation>
                    <xs:appinfo>
                      <codeName>Ändern</codeName>
                    </xs:appinfo>
                  </xs:annotation>
                </xs:enumeration>
                <xs:enumeration value="002">
                  <xs:annotation>
                    <xs:appinfo>
                      <codeName>Löschen</codeName>
                    </xs:appinfo>
                  </xs:annotation>
                </xs:enumeration>
                <xs:enumeration value="003">
                  <xs:annotation>
                    <xs:appinfo>
                      <codeName>Neu</codeName>
                    </xs:appinfo>
                  </xs:annotation>
                </xs:enumeration>
              </xs:restriction>
            </xs:simpleType>
          </xs:element>
        </xs:sequence>
        <xs:attribute name="listURI" type="xs:anyURI" use="required" fixed="urn:xoev-de:xjustiz:codeliste:inso.ereignis.veroeffentlichung">
          <xs:annotation>
            <xs:documentation>Dokumentation aus XOEV-Bibliothek:</xs:documentation>
            <xs:documentation>Mit diesem XML-Attribut wird die Kennung der Codeliste übermittelt, in deren Kontext der jeweilige Code zu interpretieren ist. Die Kennung identifiziert die Codeliste, nicht jedoch deren Version eindeutig.

Wird bereits im Rahmen des XÖV-Standards eine Kennung vorgegeben (es handelt sich in diesem Fall um einen Code-Typ 1, 2 oder 3) darf auf eine nochmalige Angabe der Kennung bei der Übermittlung eines Codes verzichtet werden. Aus diesem Grund ist das XML-Attribut listURI zunächst als optional deklariert.</xs:documentation>
          </xs:annotation>
        </xs:attribute>
        <xs:attribute name="listVersionID" type="xs:normalizedString" use="required" fixed="2.1">
          <xs:annotation>
            <xs:documentation>Dokumentation aus XOEV-Bibliothek:</xs:documentation>
            <xs:documentation>Die konkrete Version der zu nutzenden Codeliste wird mit diesem XML-Attribut übertragen.

Analog zum listURI ist die Bestimmung der Version einer Codeliste bei der Übertragung eines Codes zwingend. Die Version kann jedoch ebenfalls bereits im XÖV-Standard festgelegt werden (es handelt sich in diesem Fall um einen Code-Typ 1 oder 2).</xs:documentation>
          </xs:annotation>
        </xs:attribute>
      </xs:restriction>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="Code.INSO.Ereignis.Veroeffentlichungsportal_Verarbeitung">
    <xs:annotation>
      <xs:appinfo>
        <listAgencyName>BLK-AG IT-Standards für die Justiz</listAgencyName>
        <listName>INSO.Ereignis.Veroeffentlichungsportal_Verarbeitung</listName>
      </xs:appinfo>
      <xs:documentation>Codeliste der verschiedenen  Ereignisse im Fachverfahren INSO für die Veröffentlichungsportal-Verarbeitungen.</xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:restriction base="xoev-code:Code">
        <xs:sequence>
          <xs:element name="code">
            <xs:annotation>
              <xs:documentation>Dokumentation aus XOEV-Bibliothek:</xs:documentation>
              <xs:documentation>In diesem XML-Element wird der Code einer Codeliste übermittelt.</xs:documentation>
            </xs:annotation>
            <xs:simpleType>
              <xs:restriction base="xs:token">
                <xs:enumeration value="Nachricht_erfolgreich_verarbeitet">
                  <xs:annotation>
                    <xs:appinfo>
                      <codeName>Allgemeine Mitteilung, dass das Portal im folgenden keine Fehler übermittelt</codeName>
                    </xs:appinfo>
                  </xs:annotation>
                </xs:enumeration>
                <xs:enumeration value="Nachricht_fehlerhaft">
                  <xs:annotation>
                    <xs:appinfo>
                      <codeName>Allgemeine Mitteilung, dass das Portal im folgenden näher spezifizierte Fehler übermittelt</codeName>
                    </xs:appinfo>
                  </xs:annotation>
                </xs:enumeration>
              </xs:restriction>
            </xs:simpleType>
          </xs:element>
        </xs:sequence>
        <xs:attribute name="listURI" type="xs:anyURI" use="required" fixed="urn:xoev-de:xjustiz:codeliste:inso.ereignis.veroeffentlichungsportal-verarbeitung">
          <xs:annotation>
            <xs:documentation>Dokumentation aus XOEV-Bibliothek:</xs:documentation>
            <xs:documentation>Mit diesem XML-Attribut wird die Kennung der Codeliste übermittelt, in deren Kontext der jeweilige Code zu interpretieren ist. Die Kennung identifiziert die Codeliste, nicht jedoch deren Version eindeutig.

Wird bereits im Rahmen des XÖV-Standards eine Kennung vorgegeben (es handelt sich in diesem Fall um einen Code-Typ 1, 2 oder 3) darf auf eine nochmalige Angabe der Kennung bei der Übermittlung eines Codes verzichtet werden. Aus diesem Grund ist das XML-Attribut listURI zunächst als optional deklariert.</xs:documentation>
          </xs:annotation>
        </xs:attribute>
        <xs:attribute name="listVersionID" type="xs:normalizedString" use="required" fixed="2.1">
          <xs:annotation>
            <xs:documentation>Dokumentation aus XOEV-Bibliothek:</xs:documentation>
            <xs:documentation>Die konkrete Version der zu nutzenden Codeliste wird mit diesem XML-Attribut übertragen.

Analog zum listURI ist die Bestimmung der Version einer Codeliste bei der Übertragung eines Codes zwingend. Die Version kann jedoch ebenfalls bereits im XÖV-Standard festgelegt werden (es handelt sich in diesem Fall um einen Code-Typ 1 oder 2).</xs:documentation>
          </xs:annotation>
        </xs:attribute>
      </xs:restriction>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="Code.INSO.Ereignis.Vollzaehligkeitsmitteilung">
    <xs:annotation>
      <xs:appinfo>
        <listAgencyName>BLK-AG IT-Standards für die Justiz</listAgencyName>
        <listName>INSO.Ereignis.Vollzaehligkeitsmitteilung</listName>
      </xs:appinfo>
      <xs:documentation>Codeliste der verschiedenen  Ereignisse im Fachverfahren INSO für die Vollzähligkeitsmitteilungen.</xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:restriction base="xoev-code:Code">
        <xs:sequence>
          <xs:element name="code">
            <xs:annotation>
              <xs:documentation>Dokumentation aus XOEV-Bibliothek:</xs:documentation>
              <xs:documentation>In diesem XML-Element wird der Code einer Codeliste übermittelt.</xs:documentation>
            </xs:annotation>
            <xs:simpleType>
              <xs:restriction base="xs:token">
                <xs:enumeration value="001">
                  <xs:annotation>
                    <xs:appinfo>
                      <codeName>Vollzähligkeitsmitteilung</codeName>
                    </xs:appinfo>
                  </xs:annotation>
                </xs:enumeration>
              </xs:restriction>
            </xs:simpleType>
          </xs:element>
        </xs:sequence>
        <xs:attribute name="listURI" type="xs:anyURI" use="required" fixed="urn:xoev-de:xjustiz:codeliste:inso.ereignis.vollzaehligkeitsmitteilung">
          <xs:annotation>
            <xs:documentation>Dokumentation aus XOEV-Bibliothek:</xs:documentation>
            <xs:documentation>Mit diesem XML-Attribut wird die Kennung der Codeliste übermittelt, in deren Kontext der jeweilige Code zu interpretieren ist. Die Kennung identifiziert die Codeliste, nicht jedoch deren Version eindeutig.

Wird bereits im Rahmen des XÖV-Standards eine Kennung vorgegeben (es handelt sich in diesem Fall um einen Code-Typ 1, 2 oder 3) darf auf eine nochmalige Angabe der Kennung bei der Übermittlung eines Codes verzichtet werden. Aus diesem Grund ist das XML-Attribut listURI zunächst als optional deklariert.</xs:documentation>
          </xs:annotation>
        </xs:attribute>
        <xs:attribute name="listVersionID" type="xs:normalizedString" use="required" fixed="2.1">
          <xs:annotation>
            <xs:documentation>Dokumentation aus XOEV-Bibliothek:</xs:documentation>
            <xs:documentation>Die konkrete Version der zu nutzenden Codeliste wird mit diesem XML-Attribut übertragen.

Analog zum listURI ist die Bestimmung der Version einer Codeliste bei der Übertragung eines Codes zwingend. Die Version kann jedoch ebenfalls bereits im XÖV-Standard festgelegt werden (es handelt sich in diesem Fall um einen Code-Typ 1 oder 2).</xs:documentation>
          </xs:annotation>
        </xs:attribute>
      </xs:restriction>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="Code.INSO.Ereignis.Weitere_Nachrichten">
    <xs:annotation>
      <xs:appinfo>
        <listAgencyName>BLK-AG IT-Standards für die Justiz</listAgencyName>
        <listName>INSO.Ereignis.Weitere_Nachrichten</listName>
      </xs:appinfo>
      <xs:documentation>Codeliste der verschiedenen  Ereignisse im Fachverfahren INSO für weitere Nachrichten.</xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:restriction base="xoev-code:Code">
        <xs:sequence>
          <xs:element name="code">
            <xs:annotation>
              <xs:documentation>Dokumentation aus XOEV-Bibliothek:</xs:documentation>
              <xs:documentation>In diesem XML-Element wird der Code einer Codeliste übermittelt.</xs:documentation>
            </xs:annotation>
            <xs:simpleType>
              <xs:restriction base="xs:token">
                <xs:enumeration value="001">
                  <xs:annotation>
                    <xs:appinfo>
                      <codeName>Mitteilung der Verfahrensid</codeName>
                    </xs:appinfo>
                  </xs:annotation>
                </xs:enumeration>
                <xs:enumeration value="002">
                  <xs:annotation>
                    <xs:appinfo>
                      <codeName>MiZi IX 1 Mitteilungen über die Anordnung und Aufhebung von Verfügungsbeschränkungen</codeName>
                    </xs:appinfo>
                  </xs:annotation>
                </xs:enumeration>
                <xs:enumeration value="003">
                  <xs:annotation>
                    <xs:appinfo>
                      <codeName>MiZi IX 2 Mitteilungen bei Ablehnung der Eröffnung des Insolvenzverfahrens mangels Masse</codeName>
                    </xs:appinfo>
                  </xs:annotation>
                </xs:enumeration>
                <xs:enumeration value="004">
                  <xs:annotation>
                    <xs:appinfo>
                      <codeName>MiZi IX 3 Mitteilungen über die Eröffnung des Insolvenzverfahrens</codeName>
                    </xs:appinfo>
                  </xs:annotation>
                </xs:enumeration>
                <xs:enumeration value="005">
                  <xs:annotation>
                    <xs:appinfo>
                      <codeName>MiZi IX 4 Mitteilungen über weitere Entscheidungen in Insolvenzverfahren</codeName>
                    </xs:appinfo>
                  </xs:annotation>
                </xs:enumeration>
                <xs:enumeration value="006">
                  <xs:annotation>
                    <xs:appinfo>
                      <codeName>Übermittlung Bericht (ForStab)</codeName>
                    </xs:appinfo>
                  </xs:annotation>
                </xs:enumeration>
              </xs:restriction>
            </xs:simpleType>
          </xs:element>
        </xs:sequence>
        <xs:attribute name="listURI" type="xs:anyURI" use="required" fixed="urn:xoev-de:xjustiz:codeliste:inso.ereignis.weitere-nachrichten">
          <xs:annotation>
            <xs:documentation>Dokumentation aus XOEV-Bibliothek:</xs:documentation>
            <xs:documentation>Mit diesem XML-Attribut wird die Kennung der Codeliste übermittelt, in deren Kontext der jeweilige Code zu interpretieren ist. Die Kennung identifiziert die Codeliste, nicht jedoch deren Version eindeutig.

Wird bereits im Rahmen des XÖV-Standards eine Kennung vorgegeben (es handelt sich in diesem Fall um einen Code-Typ 1, 2 oder 3) darf auf eine nochmalige Angabe der Kennung bei der Übermittlung eines Codes verzichtet werden. Aus diesem Grund ist das XML-Attribut listURI zunächst als optional deklariert.</xs:documentation>
          </xs:annotation>
        </xs:attribute>
        <xs:attribute name="listVersionID" type="xs:normalizedString" use="required" fixed="2.1">
          <xs:annotation>
            <xs:documentation>Dokumentation aus XOEV-Bibliothek:</xs:documentation>
            <xs:documentation>Die konkrete Version der zu nutzenden Codeliste wird mit diesem XML-Attribut übertragen.

Analog zum listURI ist die Bestimmung der Version einer Codeliste bei der Übertragung eines Codes zwingend. Die Version kann jedoch ebenfalls bereits im XÖV-Standard festgelegt werden (es handelt sich in diesem Fall um einen Code-Typ 1 oder 2).</xs:documentation>
          </xs:annotation>
        </xs:attribute>
      </xs:restriction>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="Code.INSO.Rollenbezeichnung.Nachricht.Insolvenztabelle.Uebergabe">
    <xs:annotation>
      <xs:appinfo>
        <listAgencyName>BLK-AG IT-Standards für die Justiz</listAgencyName>
        <listName>INSO.Rollenbezeichnung.Nachricht.Insolvenztabelle.Uebergabe</listName>
      </xs:appinfo>
      <xs:documentation>Dieser einfache Datentyp schränkt die möglichen Werte für Rollenbezeichnung  im Element Grunddaten/Verfahrensdaten/Beteiligung/Rolle/Rollenbezeichnung" auf einen Katalog an zulässigen Werten ein. Zur Anwendung im Instanzdokument muß im Instanzdokument die Typ-Spezifizierung xsi:type="WL_Rollenbezeichnung_InsO" eingesetzt werden.</xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:restriction base="xoev-code:Code">
        <xs:sequence>
          <xs:element name="code">
            <xs:annotation>
              <xs:documentation>Dokumentation aus XOEV-Bibliothek:</xs:documentation>
              <xs:documentation>In diesem XML-Element wird der Code einer Codeliste übermittelt.</xs:documentation>
            </xs:annotation>
            <xs:simpleType>
              <xs:restriction base="xs:token">
                <xs:enumeration value="001">
                  <xs:annotation>
                    <xs:appinfo>
                      <codeName>Beistand</codeName>
                    </xs:appinfo>
                  </xs:annotation>
                </xs:enumeration>
                <xs:enumeration value="002">
                  <xs:annotation>
                    <xs:appinfo>
                      <codeName>Betreuer(in)</codeName>
                    </xs:appinfo>
                  </xs:annotation>
                </xs:enumeration>
                <xs:enumeration value="003">
                  <xs:annotation>
                    <xs:appinfo>
                      <codeName>director</codeName>
                    </xs:appinfo>
                  </xs:annotation>
                </xs:enumeration>
                <xs:enumeration value="004">
                  <xs:annotation>
                    <xs:appinfo>
                      <codeName>geschäftsführend(e) Gesellschafter(in)</codeName>
                    </xs:appinfo>
                  </xs:annotation>
                </xs:enumeration>
                <xs:enumeration value="005">
                  <xs:annotation>
                    <xs:appinfo>
                      <codeName>Geschäftsführer(in)</codeName>
                    </xs:appinfo>
                  </xs:annotation>
                </xs:enumeration>
                <xs:enumeration value="006">
                  <xs:annotation>
                    <xs:appinfo>
                      <codeName>Gesellschafter(in)</codeName>
                    </xs:appinfo>
                  </xs:annotation>
                </xs:enumeration>
                <xs:enumeration value="007">
                  <xs:annotation>
                    <xs:appinfo>
                      <codeName>Gläubiger(in)</codeName>
                    </xs:appinfo>
                  </xs:annotation>
                </xs:enumeration>
                <xs:enumeration value="008">
                  <xs:annotation>
                    <xs:appinfo>
                      <codeName>Liquidator(in)</codeName>
                    </xs:appinfo>
                  </xs:annotation>
                </xs:enumeration>
                <xs:enumeration value="009">
                  <xs:annotation>
                    <xs:appinfo>
                      <codeName>Mitglied einer Gläubigergemeinschaft</codeName>
                    </xs:appinfo>
                  </xs:annotation>
                </xs:enumeration>
                <xs:enumeration value="010">
                  <xs:annotation>
                    <xs:appinfo>
                      <codeName>Mitreeder(in)</codeName>
                    </xs:appinfo>
                  </xs:annotation>
                </xs:enumeration>
                <xs:enumeration value="011">
                  <xs:annotation>
                    <xs:appinfo>
                      <codeName>Mutter</codeName>
                    </xs:appinfo>
                  </xs:annotation>
                </xs:enumeration>
                <xs:enumeration value="012">
                  <xs:annotation>
                    <xs:appinfo>
                      <codeName>Nachlasspfleger(in)</codeName>
                    </xs:appinfo>
                  </xs:annotation>
                </xs:enumeration>
                <xs:enumeration value="013">
                  <xs:annotation>
                    <xs:appinfo>
                      <codeName>Partner(in)</codeName>
                    </xs:appinfo>
                  </xs:annotation>
                </xs:enumeration>
                <xs:enumeration value="014">
                  <xs:annotation>
                    <xs:appinfo>
                      <codeName>Persönlich haftende Gesellschafter(in)</codeName>
                    </xs:appinfo>
                  </xs:annotation>
                </xs:enumeration>
                <xs:enumeration value="015">
                  <xs:annotation>
                    <xs:appinfo>
                      <codeName>Pfleger(in)</codeName>
                    </xs:appinfo>
                  </xs:annotation>
                </xs:enumeration>
                <xs:enumeration value="016">
                  <xs:annotation>
                    <xs:appinfo>
                      <codeName>Sonstige(r) Vertreter(in)</codeName>
                    </xs:appinfo>
                  </xs:annotation>
                </xs:enumeration>
                <xs:enumeration value="017">
                  <xs:annotation>
                    <xs:appinfo>
                      <codeName>Testamentsvollstrecker(in)</codeName>
                    </xs:appinfo>
                  </xs:annotation>
                </xs:enumeration>
                <xs:enumeration value="018">
                  <xs:annotation>
                    <xs:appinfo>
                      <codeName>Vater</codeName>
                    </xs:appinfo>
                  </xs:annotation>
                </xs:enumeration>
                <xs:enumeration value="019">
                  <xs:annotation>
                    <xs:appinfo>
                      <codeName>Verfahrensbevollmächtigte(r)</codeName>
                    </xs:appinfo>
                  </xs:annotation>
                </xs:enumeration>
                <xs:enumeration value="020">
                  <xs:annotation>
                    <xs:appinfo>
                      <codeName>Verwalter(in) der Wohnungseigentümergemeinschaft</codeName>
                    </xs:appinfo>
                  </xs:annotation>
                </xs:enumeration>
                <xs:enumeration value="021">
                  <xs:annotation>
                    <xs:appinfo>
                      <codeName>Vormund</codeName>
                    </xs:appinfo>
                  </xs:annotation>
                </xs:enumeration>
                <xs:enumeration value="022">
                  <xs:annotation>
                    <xs:appinfo>
                      <codeName>Vorstand</codeName>
                    </xs:appinfo>
                  </xs:annotation>
                </xs:enumeration>
                <xs:enumeration value="023">
                  <xs:annotation>
                    <xs:appinfo>
                      <codeName>Zustellungsbevollmächtigte(r)</codeName>
                    </xs:appinfo>
                  </xs:annotation>
                </xs:enumeration>
              </xs:restriction>
            </xs:simpleType>
          </xs:element>
        </xs:sequence>
        <xs:attribute name="listURI" type="xs:anyURI" use="optional" fixed="urn:xoev-de:xjustiz:codeliste:inso.rollenbezeichnung.nachricht.insolvenztabelle.uebergabe">
          <xs:annotation>
            <xs:documentation>Dokumentation aus XOEV-Bibliothek:</xs:documentation>
            <xs:documentation>Mit diesem XML-Attribut wird die Kennung der Codeliste übermittelt, in deren Kontext der jeweilige Code zu interpretieren ist. Die Kennung identifiziert die Codeliste, nicht jedoch deren Version eindeutig.

Wird bereits im Rahmen des XÖV-Standards eine Kennung vorgegeben (es handelt sich in diesem Fall um einen Code-Typ 1, 2 oder 3) darf auf eine nochmalige Angabe der Kennung bei der Übermittlung eines Codes verzichtet werden. Aus diesem Grund ist das XML-Attribut listURI zunächst als optional deklariert.</xs:documentation>
          </xs:annotation>
        </xs:attribute>
        <xs:attribute name="listVersionID" type="xs:normalizedString" use="required" fixed="2.1">
          <xs:annotation>
            <xs:documentation>Dokumentation aus XOEV-Bibliothek:</xs:documentation>
            <xs:documentation>Die konkrete Version der zu nutzenden Codeliste wird mit diesem XML-Attribut übertragen.

Analog zum listURI ist die Bestimmung der Version einer Codeliste bei der Übertragung eines Codes zwingend. Die Version kann jedoch ebenfalls bereits im XÖV-Standard festgelegt werden (es handelt sich in diesem Fall um einen Code-Typ 1 oder 2).</xs:documentation>
          </xs:annotation>
        </xs:attribute>
      </xs:restriction>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="Code.INSO.Rollenbezeichnung.Weitere_Beteiligte">
    <xs:annotation>
      <xs:appinfo>
        <listAgencyName>BLK-AG IT-Standards für die Justiz</listAgencyName>
        <listName>INSO.Rollenbezeichnung.Weitere_Beteiligte</listName>
      </xs:appinfo>
      <xs:documentation>Codeliste der verschiedenen Rollenbezeichnungen im Fachverfahren INSO für weitere Beteiligte.</xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:restriction base="xoev-code:Code">
        <xs:sequence>
          <xs:element name="code">
            <xs:annotation>
              <xs:documentation>Dokumentation aus XOEV-Bibliothek:</xs:documentation>
              <xs:documentation>In diesem XML-Element wird der Code einer Codeliste übermittelt.</xs:documentation>
            </xs:annotation>
            <xs:simpleType>
              <xs:restriction base="xs:token">
                <xs:enumeration value="001">
                  <xs:annotation>
                    <xs:appinfo>
                      <codeName>Anteilsinhaber(in)</codeName>
                    </xs:appinfo>
                  </xs:annotation>
                </xs:enumeration>
                <xs:enumeration value="002">
                  <xs:annotation>
                    <xs:appinfo>
                      <codeName>Beistand</codeName>
                    </xs:appinfo>
                  </xs:annotation>
                </xs:enumeration>
                <xs:enumeration value="003">
                  <xs:annotation>
                    <xs:appinfo>
                      <codeName>Betreuer(in)</codeName>
                    </xs:appinfo>
                  </xs:annotation>
                </xs:enumeration>
                <xs:enumeration value="004">
                  <xs:annotation>
                    <xs:appinfo>
                      <codeName>Debitor(in)</codeName>
                    </xs:appinfo>
                  </xs:annotation>
                </xs:enumeration>
                <xs:enumeration value="005">
                  <xs:annotation>
                    <xs:appinfo>
                      <codeName>director</codeName>
                    </xs:appinfo>
                  </xs:annotation>
                </xs:enumeration>
                <xs:enumeration value="006">
                  <xs:annotation>
                    <xs:appinfo>
                      <codeName>geschäftsführend(e) Gesellschafter(in)</codeName>
                    </xs:appinfo>
                  </xs:annotation>
                </xs:enumeration>
                <xs:enumeration value="007">
                  <xs:annotation>
                    <xs:appinfo>
                      <codeName>Geschäftsführer(in)</codeName>
                    </xs:appinfo>
                  </xs:annotation>
                </xs:enumeration>
                <xs:enumeration value="008">
                  <xs:annotation>
                    <xs:appinfo>
                      <codeName>Gesellschafter(in)</codeName>
                    </xs:appinfo>
                  </xs:annotation>
                </xs:enumeration>
                <xs:enumeration value="009">
                  <xs:annotation>
                    <xs:appinfo>
                      <codeName>Liquidator(in)</codeName>
                    </xs:appinfo>
                  </xs:annotation>
                </xs:enumeration>
                <xs:enumeration value="010">
                  <xs:annotation>
                    <xs:appinfo>
                      <codeName>Mitglied einer Gesamt-Anteilsinhaberschaft</codeName>
                    </xs:appinfo>
                  </xs:annotation>
                </xs:enumeration>
                <xs:enumeration value="011">
                  <xs:annotation>
                    <xs:appinfo>
                      <codeName>Mitreeder(in)</codeName>
                    </xs:appinfo>
                  </xs:annotation>
                </xs:enumeration>
                <xs:enumeration value="012">
                  <xs:annotation>
                    <xs:appinfo>
                      <codeName>Mutter</codeName>
                    </xs:appinfo>
                  </xs:annotation>
                </xs:enumeration>
                <xs:enumeration value="013">
                  <xs:annotation>
                    <xs:appinfo>
                      <codeName>Nachlasspfleger(in)</codeName>
                    </xs:appinfo>
                  </xs:annotation>
                </xs:enumeration>
                <xs:enumeration value="014">
                  <xs:annotation>
                    <xs:appinfo>
                      <codeName>Partner(in)</codeName>
                    </xs:appinfo>
                  </xs:annotation>
                </xs:enumeration>
                <xs:enumeration value="015">
                  <xs:annotation>
                    <xs:appinfo>
                      <codeName>Persönlich haftende Gesellschafter(in)</codeName>
                    </xs:appinfo>
                  </xs:annotation>
                </xs:enumeration>
                <xs:enumeration value="016">
                  <xs:annotation>
                    <xs:appinfo>
                      <codeName>Pfleger(in)</codeName>
                    </xs:appinfo>
                  </xs:annotation>
                </xs:enumeration>
                <xs:enumeration value="017">
                  <xs:annotation>
                    <xs:appinfo>
                      <codeName>Sonstige(r) Vertreter(in)</codeName>
                    </xs:appinfo>
                  </xs:annotation>
                </xs:enumeration>
                <xs:enumeration value="018">
                  <xs:annotation>
                    <xs:appinfo>
                      <codeName>Testamentsvollstrecker(in)</codeName>
                    </xs:appinfo>
                  </xs:annotation>
                </xs:enumeration>
                <xs:enumeration value="019">
                  <xs:annotation>
                    <xs:appinfo>
                      <codeName>Vater</codeName>
                    </xs:appinfo>
                  </xs:annotation>
                </xs:enumeration>
                <xs:enumeration value="020">
                  <xs:annotation>
                    <xs:appinfo>
                      <codeName>Verfahrensbevollmächtigte(r)</codeName>
                    </xs:appinfo>
                  </xs:annotation>
                </xs:enumeration>
                <xs:enumeration value="021">
                  <xs:annotation>
                    <xs:appinfo>
                      <codeName>Verwalter(in) der Wohnungseigentumsgemeinschaft</codeName>
                    </xs:appinfo>
                  </xs:annotation>
                </xs:enumeration>
                <xs:enumeration value="022">
                  <xs:annotation>
                    <xs:appinfo>
                      <codeName>Vormund</codeName>
                    </xs:appinfo>
                  </xs:annotation>
                </xs:enumeration>
                <xs:enumeration value="023">
                  <xs:annotation>
                    <xs:appinfo>
                      <codeName>Vorstand</codeName>
                    </xs:appinfo>
                  </xs:annotation>
                </xs:enumeration>
                <xs:enumeration value="024">
                  <xs:annotation>
                    <xs:appinfo>
                      <codeName>Zustellungsbevollmächtigte(r)</codeName>
                    </xs:appinfo>
                  </xs:annotation>
                </xs:enumeration>
              </xs:restriction>
            </xs:simpleType>
          </xs:element>
        </xs:sequence>
        <xs:attribute name="listURI" type="xs:anyURI" use="optional" fixed="urn:xoev-de:xjustiz:codeliste:inso.rollenbezeichnung.weitere-beteiligte">
          <xs:annotation>
            <xs:documentation>Dokumentation aus XOEV-Bibliothek:</xs:documentation>
            <xs:documentation>Mit diesem XML-Attribut wird die Kennung der Codeliste übermittelt, in deren Kontext der jeweilige Code zu interpretieren ist. Die Kennung identifiziert die Codeliste, nicht jedoch deren Version eindeutig.

Wird bereits im Rahmen des XÖV-Standards eine Kennung vorgegeben (es handelt sich in diesem Fall um einen Code-Typ 1, 2 oder 3) darf auf eine nochmalige Angabe der Kennung bei der Übermittlung eines Codes verzichtet werden. Aus diesem Grund ist das XML-Attribut listURI zunächst als optional deklariert.</xs:documentation>
          </xs:annotation>
        </xs:attribute>
        <xs:attribute name="listVersionID" type="xs:normalizedString" use="required" fixed="2.1">
          <xs:annotation>
            <xs:documentation>Dokumentation aus XOEV-Bibliothek:</xs:documentation>
            <xs:documentation>Die konkrete Version der zu nutzenden Codeliste wird mit diesem XML-Attribut übertragen.

Analog zum listURI ist die Bestimmung der Version einer Codeliste bei der Übertragung eines Codes zwingend. Die Version kann jedoch ebenfalls bereits im XÖV-Standard festgelegt werden (es handelt sich in diesem Fall um einen Code-Typ 1 oder 2).</xs:documentation>
          </xs:annotation>
        </xs:attribute>
      </xs:restriction>
    </xs:complexContent>
  </xs:complexType>
</xs:schema>

