schemas/xjustiz-xsd/2.1.0/XJustiz 2.1 XSD/xjustiz_0320_cl_insolvenz_2_0.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://www.xjustiz.de" xmlns:xoev-code="http://xoev.de/schemata/code/1_0" targetNamespace="http://www.xjustiz.de" version="2.0.0" elementFormDefault="unqualified" attributeFormDefault="unqualified">
  <xs:import schemaLocation="xoev-code.xsd" namespace="http://xoev.de/schemata/code/1_0" />
  <xs:complexType name="Code.INSO.Erklaerungstyp">
    <xs:annotation>
      <xs:appinfo>
        <listAgencyName>BLK-AG IT-Standards für die Justiz</listAgencyName>
        <listName>INSO.Erklaerungstyp</listName>
      </xs:appinfo>
      <xs:documentation>Diese Codeliste ist vorgesehen für das Element Erklärungstyp.</xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:restriction base="xoev-code:Code">
        <xs:sequence>
          <xs:element name="code">
            <xs:annotation>
              <xs:documentation>Dokumentation aus XOEV-Bibliothek:</xs:documentation>
              <xs:documentation>In diesem XML-Element wird der Code einer Codeliste übermittelt.</xs:documentation>
            </xs:annotation>
            <xs:simpleType>
              <xs:restriction base="xs:token">
                <xs:enumeration value="001">
                  <xs:annotation>
                    <xs:appinfo>
                      <codeName>Bestritten</codeName>
                    </xs:appinfo>
                  </xs:annotation>
                </xs:enumeration>
                <xs:enumeration value="002">
                  <xs:annotation>
                    <xs:appinfo>
                      <codeName>Festgestellter Betrag</codeName>
                    </xs:appinfo>
                  </xs:annotation>
                </xs:enumeration>
                <xs:enumeration value="003">
                  <xs:annotation>
                    <xs:appinfo>
                      <codeName>Festgestellter Betrag als auflösend bedingt</codeName>
                    </xs:appinfo>
                  </xs:annotation>
                </xs:enumeration>
                <xs:enumeration value="004">
                  <xs:annotation>
                    <xs:appinfo>
                      <codeName>Festgestellter Betrag als aufschiebend bedingt</codeName>
                    </xs:appinfo>
                  </xs:annotation>
                </xs:enumeration>
                <xs:enumeration value="005">
                  <xs:annotation>
                    <xs:appinfo>
                      <codeName>Festgestellter Betrag für den Ausfall</codeName>
                    </xs:appinfo>
                  </xs:annotation>
                </xs:enumeration>
                <xs:enumeration value="006">
                  <xs:annotation>
                    <xs:appinfo>
                      <codeName>Festgestellter Betrag für den Ausfall als auflösend bedingt</codeName>
                    </xs:appinfo>
                  </xs:annotation>
                </xs:enumeration>
                <xs:enumeration value="007">
                  <xs:annotation>
                    <xs:appinfo>
                      <codeName>Festgestellter Betrag für den Ausfall als aufschiebend bedingt</codeName>
                    </xs:appinfo>
                  </xs:annotation>
                </xs:enumeration>
                <xs:enumeration value="008">
                  <xs:annotation>
                    <xs:appinfo>
                      <codeName>Vorläufig bestritten</codeName>
                    </xs:appinfo>
                  </xs:annotation>
                </xs:enumeration>
              </xs:restriction>
            </xs:simpleType>
          </xs:element>
        </xs:sequence>
        <xs:attribute name="listURI" type="xs:anyURI" use="optional" fixed="urn:xoev-de:xjustiz:codeliste:inso.erklaerungstyp">
          <xs:annotation>
            <xs:documentation>Dokumentation aus XOEV-Bibliothek:</xs:documentation>
            <xs:documentation>Mit diesem XML-Attribut wird die Kennung der Codeliste übermittelt, in deren Kontext der jeweilige Code zu interpretieren ist. Die Kennung identifiziert die Codeliste, nicht jedoch deren Version eindeutig.

Wird bereits im Rahmen des XÖV-Standards eine Kennung vorgegeben (es handelt sich in diesem Fall um einen Code-Typ 1, 2 oder 3) darf auf eine nochmalige Angabe der Kennung bei der Übermittlung eines Codes verzichtet werden. Aus diesem Grund ist das XML-Attribut listURI zunächst als optional deklariert.</xs:documentation>
          </xs:annotation>
        </xs:attribute>
        <xs:attribute name="listVersionID" type="xs:normalizedString" use="required" fixed="2.0">
          <xs:annotation>
            <xs:documentation>Dokumentation aus XOEV-Bibliothek:</xs:documentation>
            <xs:documentation>Die konkrete Version der zu nutzenden Codeliste wird mit diesem XML-Attribut übertragen.

Analog zum listURI ist die Bestimmung der Version einer Codeliste bei der Übertragung eines Codes zwingend. Die Version kann jedoch ebenfalls bereits im XÖV-Standard festgelegt werden (es handelt sich in diesem Fall um einen Code-Typ 1 oder 2).</xs:documentation>
          </xs:annotation>
        </xs:attribute>
      </xs:restriction>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="Code.INSO.Forderungsteil">
    <xs:annotation>
      <xs:appinfo>
        <listAgencyName>BLK-AG IT-Standards für die Justiz</listAgencyName>
        <listName>INSO.Forderungsteil</listName>
      </xs:appinfo>
      <xs:documentation>Diese Codeliste ist vorgesehen für das Element Bezugnahme_zum_Forderungsteil.</xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:restriction base="xoev-code:Code">
        <xs:sequence>
          <xs:element name="code">
            <xs:annotation>
              <xs:documentation>Dokumentation aus XOEV-Bibliothek:</xs:documentation>
              <xs:documentation>In diesem XML-Element wird der Code einer Codeliste übermittelt.</xs:documentation>
            </xs:annotation>
            <xs:simpleType>
              <xs:restriction base="xs:token">
                <xs:enumeration value="001">
                  <xs:annotation>
                    <xs:appinfo>
                      <codeName>Hauptsache</codeName>
                    </xs:appinfo>
                  </xs:annotation>
                </xs:enumeration>
                <xs:enumeration value="002">
                  <xs:annotation>
                    <xs:appinfo>
                      <codeName>Kosten</codeName>
                    </xs:appinfo>
                  </xs:annotation>
                </xs:enumeration>
                <xs:enumeration value="003">
                  <xs:annotation>
                    <xs:appinfo>
                      <codeName>Zinsen</codeName>
                    </xs:appinfo>
                  </xs:annotation>
                </xs:enumeration>
              </xs:restriction>
            </xs:simpleType>
          </xs:element>
        </xs:sequence>
        <xs:attribute name="listURI" type="xs:anyURI" use="optional" fixed="urn:xoev-de:xjustiz:codeliste:inso.forderungsteil">
          <xs:annotation>
            <xs:documentation>Dokumentation aus XOEV-Bibliothek:</xs:documentation>
            <xs:documentation>Mit diesem XML-Attribut wird die Kennung der Codeliste übermittelt, in deren Kontext der jeweilige Code zu interpretieren ist. Die Kennung identifiziert die Codeliste, nicht jedoch deren Version eindeutig.

Wird bereits im Rahmen des XÖV-Standards eine Kennung vorgegeben (es handelt sich in diesem Fall um einen Code-Typ 1, 2 oder 3) darf auf eine nochmalige Angabe der Kennung bei der Übermittlung eines Codes verzichtet werden. Aus diesem Grund ist das XML-Attribut listURI zunächst als optional deklariert.</xs:documentation>
          </xs:annotation>
        </xs:attribute>
        <xs:attribute name="listVersionID" type="xs:normalizedString" use="required" fixed="2.0">
          <xs:annotation>
            <xs:documentation>Dokumentation aus XOEV-Bibliothek:</xs:documentation>
            <xs:documentation>Die konkrete Version der zu nutzenden Codeliste wird mit diesem XML-Attribut übertragen.

Analog zum listURI ist die Bestimmung der Version einer Codeliste bei der Übertragung eines Codes zwingend. Die Version kann jedoch ebenfalls bereits im XÖV-Standard festgelegt werden (es handelt sich in diesem Fall um einen Code-Typ 1 oder 2).</xs:documentation>
          </xs:annotation>
        </xs:attribute>
      </xs:restriction>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="Code.INSO.Insolvenzraenge">
    <xs:annotation>
      <xs:appinfo>
        <listAgencyName>BLK-AG IT-Standards für die Justiz</listAgencyName>
        <listName>INSO.Insolvenzraenge</listName>
      </xs:appinfo>
      <xs:documentation>Diese Codeliste ist vorgesehen für das Element Angemeldeter_Rang und Neuer_Rang.</xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:restriction base="xoev-code:Code">
        <xs:sequence>
          <xs:element name="code">
            <xs:annotation>
              <xs:documentation>Dokumentation aus XOEV-Bibliothek:</xs:documentation>
              <xs:documentation>In diesem XML-Element wird der Code einer Codeliste übermittelt.</xs:documentation>
            </xs:annotation>
            <xs:simpleType>
              <xs:restriction base="xs:token">
                <xs:enumeration value="001">
                  <xs:annotation>
                    <xs:appinfo>
                      <codeName>Rang 0</codeName>
                    </xs:appinfo>
                  </xs:annotation>
                </xs:enumeration>
                <xs:enumeration value="002">
                  <xs:annotation>
                    <xs:appinfo>
                      <codeName>Rang N I</codeName>
                    </xs:appinfo>
                  </xs:annotation>
                </xs:enumeration>
                <xs:enumeration value="003">
                  <xs:annotation>
                    <xs:appinfo>
                      <codeName>Rang N II</codeName>
                    </xs:appinfo>
                  </xs:annotation>
                </xs:enumeration>
                <xs:enumeration value="004">
                  <xs:annotation>
                    <xs:appinfo>
                      <codeName>Rang N III</codeName>
                    </xs:appinfo>
                  </xs:annotation>
                </xs:enumeration>
                <xs:enumeration value="005">
                  <xs:annotation>
                    <xs:appinfo>
                      <codeName>Rang N IV</codeName>
                    </xs:appinfo>
                  </xs:annotation>
                </xs:enumeration>
                <xs:enumeration value="006">
                  <xs:annotation>
                    <xs:appinfo>
                      <codeName>Rang N V</codeName>
                    </xs:appinfo>
                  </xs:annotation>
                </xs:enumeration>
                <xs:enumeration value="007">
                  <xs:annotation>
                    <xs:appinfo>
                      <codeName>Rang N VI</codeName>
                    </xs:appinfo>
                  </xs:annotation>
                </xs:enumeration>
                <xs:enumeration value="008">
                  <xs:annotation>
                    <xs:appinfo>
                      <codeName>Rang N VI A</codeName>
                    </xs:appinfo>
                  </xs:annotation>
                </xs:enumeration>
                <xs:enumeration value="009">
                  <xs:annotation>
                    <xs:appinfo>
                      <codeName>Rang N VII</codeName>
                    </xs:appinfo>
                  </xs:annotation>
                </xs:enumeration>
                <xs:enumeration value="010">
                  <xs:annotation>
                    <xs:appinfo>
                      <codeName>Rang N VII A</codeName>
                    </xs:appinfo>
                  </xs:annotation>
                </xs:enumeration>
                <xs:enumeration value="011">
                  <xs:annotation>
                    <xs:appinfo>
                      <codeName>Rang N VIII</codeName>
                    </xs:appinfo>
                  </xs:annotation>
                </xs:enumeration>
                <xs:enumeration value="012">
                  <xs:annotation>
                    <xs:appinfo>
                      <codeName>Rang N VIII A</codeName>
                    </xs:appinfo>
                  </xs:annotation>
                </xs:enumeration>
                <xs:enumeration value="013">
                  <xs:annotation>
                    <xs:appinfo>
                      <codeName>Rang N VIII R1</codeName>
                    </xs:appinfo>
                  </xs:annotation>
                </xs:enumeration>
                <xs:enumeration value="014">
                  <xs:annotation>
                    <xs:appinfo>
                      <codeName>Rang N VIII R1 A</codeName>
                    </xs:appinfo>
                  </xs:annotation>
                </xs:enumeration>
                <xs:enumeration value="015">
                  <xs:annotation>
                    <xs:appinfo>
                      <codeName>Rang N VIII R2</codeName>
                    </xs:appinfo>
                  </xs:annotation>
                </xs:enumeration>
                <xs:enumeration value="016">
                  <xs:annotation>
                    <xs:appinfo>
                      <codeName>Rang N VIII R2 A</codeName>
                    </xs:appinfo>
                  </xs:annotation>
                </xs:enumeration>
                <xs:enumeration value="017">
                  <xs:annotation>
                    <xs:appinfo>
                      <codeName>Rang N VIII R3</codeName>
                    </xs:appinfo>
                  </xs:annotation>
                </xs:enumeration>
                <xs:enumeration value="018">
                  <xs:annotation>
                    <xs:appinfo>
                      <codeName>Rang N VIII R3 A</codeName>
                    </xs:appinfo>
                  </xs:annotation>
                </xs:enumeration>
                <xs:enumeration value="019">
                  <xs:annotation>
                    <xs:appinfo>
                      <codeName>Rang N VIII R4</codeName>
                    </xs:appinfo>
                  </xs:annotation>
                </xs:enumeration>
                <xs:enumeration value="020">
                  <xs:annotation>
                    <xs:appinfo>
                      <codeName>Rang N VIII R4 A</codeName>
                    </xs:appinfo>
                  </xs:annotation>
                </xs:enumeration>
                <xs:enumeration value="021">
                  <xs:annotation>
                    <xs:appinfo>
                      <codeName>Rang N VIII R5</codeName>
                    </xs:appinfo>
                  </xs:annotation>
                </xs:enumeration>
                <xs:enumeration value="022">
                  <xs:annotation>
                    <xs:appinfo>
                      <codeName>Rang N VIII R5 A</codeName>
                    </xs:appinfo>
                  </xs:annotation>
                </xs:enumeration>
                <xs:enumeration value="023">
                  <xs:annotation>
                    <xs:appinfo>
                      <codeName>Rang N VIII R6</codeName>
                    </xs:appinfo>
                  </xs:annotation>
                </xs:enumeration>
                <xs:enumeration value="024">
                  <xs:annotation>
                    <xs:appinfo>
                      <codeName>Rang N VIII R6 A</codeName>
                    </xs:appinfo>
                  </xs:annotation>
                </xs:enumeration>
                <xs:enumeration value="025">
                  <xs:annotation>
                    <xs:appinfo>
                      <codeName>Rang N VIII R7</codeName>
                    </xs:appinfo>
                  </xs:annotation>
                </xs:enumeration>
                <xs:enumeration value="026">
                  <xs:annotation>
                    <xs:appinfo>
                      <codeName>Rang N VIII R7 A</codeName>
                    </xs:appinfo>
                  </xs:annotation>
                </xs:enumeration>
                <xs:enumeration value="027">
                  <xs:annotation>
                    <xs:appinfo>
                      <codeName>Rang N VIII R8</codeName>
                    </xs:appinfo>
                  </xs:annotation>
                </xs:enumeration>
                <xs:enumeration value="028">
                  <xs:annotation>
                    <xs:appinfo>
                      <codeName>Rang N VIII R8 A</codeName>
                    </xs:appinfo>
                  </xs:annotation>
                </xs:enumeration>
                <xs:enumeration value="029">
                  <xs:annotation>
                    <xs:appinfo>
                      <codeName>Rang N VIII R9</codeName>
                    </xs:appinfo>
                  </xs:annotation>
                </xs:enumeration>
                <xs:enumeration value="030">
                  <xs:annotation>
                    <xs:appinfo>
                      <codeName>Rang N VIII R9 A</codeName>
                    </xs:appinfo>
                  </xs:annotation>
                </xs:enumeration>
                <xs:enumeration value="031">
                  <xs:annotation>
                    <xs:appinfo>
                      <codeName>Rang N VIII R10</codeName>
                    </xs:appinfo>
                  </xs:annotation>
                </xs:enumeration>
                <xs:enumeration value="032">
                  <xs:annotation>
                    <xs:appinfo>
                      <codeName>Rang N VIII R10 A</codeName>
                    </xs:appinfo>
                  </xs:annotation>
                </xs:enumeration>
                <xs:enumeration value="033">
                  <xs:annotation>
                    <xs:appinfo>
                      <codeName>Vorrang</codeName>
                    </xs:appinfo>
                  </xs:annotation>
                </xs:enumeration>
              </xs:restriction>
            </xs:simpleType>
          </xs:element>
        </xs:sequence>
        <xs:attribute name="listURI" type="xs:anyURI" use="optional" fixed="urn:xoev-de:xjustiz:codeliste:inso.insolvenzraenge">
          <xs:annotation>
            <xs:documentation>Dokumentation aus XOEV-Bibliothek:</xs:documentation>
            <xs:documentation>Mit diesem XML-Attribut wird die Kennung der Codeliste übermittelt, in deren Kontext der jeweilige Code zu interpretieren ist. Die Kennung identifiziert die Codeliste, nicht jedoch deren Version eindeutig.

Wird bereits im Rahmen des XÖV-Standards eine Kennung vorgegeben (es handelt sich in diesem Fall um einen Code-Typ 1, 2 oder 3) darf auf eine nochmalige Angabe der Kennung bei der Übermittlung eines Codes verzichtet werden. Aus diesem Grund ist das XML-Attribut listURI zunächst als optional deklariert.</xs:documentation>
          </xs:annotation>
        </xs:attribute>
        <xs:attribute name="listVersionID" type="xs:normalizedString" use="required" fixed="2.0">
          <xs:annotation>
            <xs:documentation>Dokumentation aus XOEV-Bibliothek:</xs:documentation>
            <xs:documentation>Die konkrete Version der zu nutzenden Codeliste wird mit diesem XML-Attribut übertragen.

Analog zum listURI ist die Bestimmung der Version einer Codeliste bei der Übertragung eines Codes zwingend. Die Version kann jedoch ebenfalls bereits im XÖV-Standard festgelegt werden (es handelt sich in diesem Fall um einen Code-Typ 1 oder 2).</xs:documentation>
          </xs:annotation>
        </xs:attribute>
      </xs:restriction>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="Code.INSO.Registerart">
    <xs:annotation>
      <xs:appinfo>
        <listAgencyName>BLK-AG IT-Standards für die Justiz</listAgencyName>
        <listName>INSO.Registerart</listName>
      </xs:appinfo>
      <xs:documentation>Diese Codeliste ist vorgesehen für das Element Art.</xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:restriction base="xoev-code:Code">
        <xs:sequence>
          <xs:element name="code">
            <xs:annotation>
              <xs:documentation>Dokumentation aus XOEV-Bibliothek:</xs:documentation>
              <xs:documentation>In diesem XML-Element wird der Code einer Codeliste übermittelt.</xs:documentation>
            </xs:annotation>
            <xs:simpleType>
              <xs:restriction base="xs:token">
                <xs:enumeration value="GnR">
                  <xs:annotation>
                    <xs:appinfo>
                      <codeName>Genossenschaftsregister (AG)</codeName>
                    </xs:appinfo>
                  </xs:annotation>
                </xs:enumeration>
                <xs:enumeration value="HRA">
                  <xs:annotation>
                    <xs:appinfo>
                      <codeName>Handelsregister (Einzelkaufleute, Personengesellschaften) (AG)</codeName>
                    </xs:appinfo>
                  </xs:annotation>
                </xs:enumeration>
                <xs:enumeration value="HRB">
                  <xs:annotation>
                    <xs:appinfo>
                      <codeName>Handelsregister (Kapitalgesellschaften) (AG)</codeName>
                    </xs:appinfo>
                  </xs:annotation>
                </xs:enumeration>
                <xs:enumeration value="PR">
                  <xs:annotation>
                    <xs:appinfo>
                      <codeName>Partnerschaftsregistersachen (AG)</codeName>
                    </xs:appinfo>
                  </xs:annotation>
                </xs:enumeration>
                <xs:enumeration value="VR">
                  <xs:annotation>
                    <xs:appinfo>
                      <codeName>Vereinsregister (AG)</codeName>
                    </xs:appinfo>
                  </xs:annotation>
                </xs:enumeration>
              </xs:restriction>
            </xs:simpleType>
          </xs:element>
        </xs:sequence>
        <xs:attribute name="listURI" type="xs:anyURI" use="optional" fixed="urn:xoev-de:xjustiz:codeliste:inso.registerart">
          <xs:annotation>
            <xs:documentation>Dokumentation aus XOEV-Bibliothek:</xs:documentation>
            <xs:documentation>Mit diesem XML-Attribut wird die Kennung der Codeliste übermittelt, in deren Kontext der jeweilige Code zu interpretieren ist. Die Kennung identifiziert die Codeliste, nicht jedoch deren Version eindeutig.

Wird bereits im Rahmen des XÖV-Standards eine Kennung vorgegeben (es handelt sich in diesem Fall um einen Code-Typ 1, 2 oder 3) darf auf eine nochmalige Angabe der Kennung bei der Übermittlung eines Codes verzichtet werden. Aus diesem Grund ist das XML-Attribut listURI zunächst als optional deklariert.</xs:documentation>
          </xs:annotation>
        </xs:attribute>
        <xs:attribute name="listVersionID" type="xs:normalizedString" use="required" fixed="2.0">
          <xs:annotation>
            <xs:documentation>Dokumentation aus XOEV-Bibliothek:</xs:documentation>
            <xs:documentation>Die konkrete Version der zu nutzenden Codeliste wird mit diesem XML-Attribut übertragen.

Analog zum listURI ist die Bestimmung der Version einer Codeliste bei der Übertragung eines Codes zwingend. Die Version kann jedoch ebenfalls bereits im XÖV-Standard festgelegt werden (es handelt sich in diesem Fall um einen Code-Typ 1 oder 2).</xs:documentation>
          </xs:annotation>
        </xs:attribute>
      </xs:restriction>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="Code.INSO.Uebertragungsweg">
    <xs:annotation>
      <xs:appinfo>
        <listAgencyName>BLK-AG IT-Standards für die Justiz</listAgencyName>
        <listName>INSO.Uebertragungsweg</listName>
      </xs:appinfo>
      <xs:documentation>Diese Codeliste ist vorgesehen für das Element Uebertragungsweg.</xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:restriction base="xoev-code:Code">
        <xs:sequence>
          <xs:element name="code">
            <xs:annotation>
              <xs:documentation>Dokumentation aus XOEV-Bibliothek:</xs:documentation>
              <xs:documentation>In diesem XML-Element wird der Code einer Codeliste übermittelt.</xs:documentation>
            </xs:annotation>
            <xs:simpleType>
              <xs:restriction base="xs:token">
                <xs:enumeration value="001">
                  <xs:annotation>
                    <xs:appinfo>
                      <codeName>Brief per Fach</codeName>
                    </xs:appinfo>
                  </xs:annotation>
                </xs:enumeration>
                <xs:enumeration value="002">
                  <xs:annotation>
                    <xs:appinfo>
                      <codeName>Brief per Post</codeName>
                    </xs:appinfo>
                  </xs:annotation>
                </xs:enumeration>
                <xs:enumeration value="003">
                  <xs:annotation>
                    <xs:appinfo>
                      <codeName>elektronische Übertragung</codeName>
                    </xs:appinfo>
                  </xs:annotation>
                </xs:enumeration>
                <xs:enumeration value="004">
                  <xs:annotation>
                    <xs:appinfo>
                      <codeName>Fax</codeName>
                    </xs:appinfo>
                  </xs:annotation>
                </xs:enumeration>
              </xs:restriction>
            </xs:simpleType>
          </xs:element>
        </xs:sequence>
        <xs:attribute name="listURI" type="xs:anyURI" use="optional" fixed="urn:xoev-de:xjustiz:codeliste:inso.uebertragungsweg">
          <xs:annotation>
            <xs:documentation>Dokumentation aus XOEV-Bibliothek:</xs:documentation>
            <xs:documentation>Mit diesem XML-Attribut wird die Kennung der Codeliste übermittelt, in deren Kontext der jeweilige Code zu interpretieren ist. Die Kennung identifiziert die Codeliste, nicht jedoch deren Version eindeutig.

Wird bereits im Rahmen des XÖV-Standards eine Kennung vorgegeben (es handelt sich in diesem Fall um einen Code-Typ 1, 2 oder 3) darf auf eine nochmalige Angabe der Kennung bei der Übermittlung eines Codes verzichtet werden. Aus diesem Grund ist das XML-Attribut listURI zunächst als optional deklariert.</xs:documentation>
          </xs:annotation>
        </xs:attribute>
        <xs:attribute name="listVersionID" type="xs:normalizedString" use="required" fixed="2.0">
          <xs:annotation>
            <xs:documentation>Dokumentation aus XOEV-Bibliothek:</xs:documentation>
            <xs:documentation>Die konkrete Version der zu nutzenden Codeliste wird mit diesem XML-Attribut übertragen.

Analog zum listURI ist die Bestimmung der Version einer Codeliste bei der Übertragung eines Codes zwingend. Die Version kann jedoch ebenfalls bereits im XÖV-Standard festgelegt werden (es handelt sich in diesem Fall um einen Code-Typ 1 oder 2).</xs:documentation>
          </xs:annotation>
        </xs:attribute>
      </xs:restriction>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="Code.INSO.Veroeffentlichungsgegenstand">
    <xs:annotation>
      <xs:appinfo>
        <listAgencyName>BLK-AG IT-Standards für die Justiz</listAgencyName>
        <listName>INSO.Veroeffentlichungsgegenstand</listName>
      </xs:appinfo>
      <xs:documentation>Diese Codeliste ist vorgesehen für das Element Gegenstand_der_Veroeffentlichung.</xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:restriction base="xoev-code:Code">
        <xs:sequence>
          <xs:element name="code">
            <xs:annotation>
              <xs:documentation>Dokumentation aus XOEV-Bibliothek:</xs:documentation>
              <xs:documentation>In diesem XML-Element wird der Code einer Codeliste übermittelt.</xs:documentation>
            </xs:annotation>
            <xs:simpleType>
              <xs:restriction base="xs:token">
                <xs:enumeration value="001">
                  <xs:annotation>
                    <xs:appinfo>
                      <codeName>Abweisungen mangels Masse</codeName>
                    </xs:appinfo>
                  </xs:annotation>
                </xs:enumeration>
                <xs:enumeration value="002">
                  <xs:annotation>
                    <xs:appinfo>
                      <codeName>Entscheidungen im Restschuldbefreiungsverfahren</codeName>
                    </xs:appinfo>
                  </xs:annotation>
                </xs:enumeration>
                <xs:enumeration value="003">
                  <xs:annotation>
                    <xs:appinfo>
                      <codeName>Entscheidungen im Verfahren</codeName>
                    </xs:appinfo>
                  </xs:annotation>
                </xs:enumeration>
                <xs:enumeration value="004">
                  <xs:annotation>
                    <xs:appinfo>
                      <codeName>Entscheidungen nach Aufhebung des Verfahrens</codeName>
                    </xs:appinfo>
                  </xs:annotation>
                </xs:enumeration>
                <xs:enumeration value="005">
                  <xs:annotation>
                    <xs:appinfo>
                      <codeName>Eröffnungen</codeName>
                    </xs:appinfo>
                  </xs:annotation>
                </xs:enumeration>
                <xs:enumeration value="006">
                  <xs:annotation>
                    <xs:appinfo>
                      <codeName>Sicherungsmaßnahmen</codeName>
                    </xs:appinfo>
                  </xs:annotation>
                </xs:enumeration>
                <xs:enumeration value="007">
                  <xs:annotation>
                    <xs:appinfo>
                      <codeName>Sonstiges</codeName>
                    </xs:appinfo>
                  </xs:annotation>
                </xs:enumeration>
                <xs:enumeration value="008">
                  <xs:annotation>
                    <xs:appinfo>
                      <codeName>Termine</codeName>
                    </xs:appinfo>
                  </xs:annotation>
                </xs:enumeration>
                <xs:enumeration value="009">
                  <xs:annotation>
                    <xs:appinfo>
                      <codeName>Überwachte Insolvenzpläne</codeName>
                    </xs:appinfo>
                  </xs:annotation>
                </xs:enumeration>
                <xs:enumeration value="010">
                  <xs:annotation>
                    <xs:appinfo>
                      <codeName>Verteilungsverzeichnisse (§ 188 InsO) d. Verw./Treuh.</codeName>
                    </xs:appinfo>
                  </xs:annotation>
                </xs:enumeration>
              </xs:restriction>
            </xs:simpleType>
          </xs:element>
        </xs:sequence>
        <xs:attribute name="listURI" type="xs:anyURI" use="optional" fixed="urn:xoev-de:xjustiz:codeliste:inso.veroeffentlichungsgegenstand">
          <xs:annotation>
            <xs:documentation>Dokumentation aus XOEV-Bibliothek:</xs:documentation>
            <xs:documentation>Mit diesem XML-Attribut wird die Kennung der Codeliste übermittelt, in deren Kontext der jeweilige Code zu interpretieren ist. Die Kennung identifiziert die Codeliste, nicht jedoch deren Version eindeutig.

Wird bereits im Rahmen des XÖV-Standards eine Kennung vorgegeben (es handelt sich in diesem Fall um einen Code-Typ 1, 2 oder 3) darf auf eine nochmalige Angabe der Kennung bei der Übermittlung eines Codes verzichtet werden. Aus diesem Grund ist das XML-Attribut listURI zunächst als optional deklariert.</xs:documentation>
          </xs:annotation>
        </xs:attribute>
        <xs:attribute name="listVersionID" type="xs:normalizedString" use="required" fixed="2.0">
          <xs:annotation>
            <xs:documentation>Dokumentation aus XOEV-Bibliothek:</xs:documentation>
            <xs:documentation>Die konkrete Version der zu nutzenden Codeliste wird mit diesem XML-Attribut übertragen.

Analog zum listURI ist die Bestimmung der Version einer Codeliste bei der Übertragung eines Codes zwingend. Die Version kann jedoch ebenfalls bereits im XÖV-Standard festgelegt werden (es handelt sich in diesem Fall um einen Code-Typ 1 oder 2).</xs:documentation>
          </xs:annotation>
        </xs:attribute>
      </xs:restriction>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="Code.INSO.Zustellungsart">
    <xs:annotation>
      <xs:appinfo>
        <listAgencyName>BLK-AG IT-Standards für die Justiz</listAgencyName>
        <listName>INSO.Zustellungsart</listName>
      </xs:appinfo>
      <xs:documentation>Diese Codeliste ist vorgesehen für das Element Zustellungsart.</xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:restriction base="xoev-code:Code">
        <xs:sequence>
          <xs:element name="code">
            <xs:annotation>
              <xs:documentation>Dokumentation aus XOEV-Bibliothek:</xs:documentation>
              <xs:documentation>In diesem XML-Element wird der Code einer Codeliste übermittelt.</xs:documentation>
            </xs:annotation>
            <xs:simpleType>
              <xs:restriction base="xs:token">
                <xs:enumeration value="001">
                  <xs:annotation>
                    <xs:appinfo>
                      <codeName>Aufgabe zur Post</codeName>
                    </xs:appinfo>
                  </xs:annotation>
                </xs:enumeration>
                <xs:enumeration value="002">
                  <xs:annotation>
                    <xs:appinfo>
                      <codeName>Auslandszustellung</codeName>
                    </xs:appinfo>
                  </xs:annotation>
                </xs:enumeration>
                <xs:enumeration value="003">
                  <xs:annotation>
                    <xs:appinfo>
                      <codeName>elektronische Zustellung</codeName>
                    </xs:appinfo>
                  </xs:annotation>
                </xs:enumeration>
                <xs:enumeration value="004">
                  <xs:annotation>
                    <xs:appinfo>
                      <codeName>Empfangsbekenntnis</codeName>
                    </xs:appinfo>
                  </xs:annotation>
                </xs:enumeration>
                <xs:enumeration value="005">
                  <xs:annotation>
                    <xs:appinfo>
                      <codeName>Internationales Einschreiben mit Rückschein</codeName>
                    </xs:appinfo>
                  </xs:annotation>
                </xs:enumeration>
                <xs:enumeration value="006">
                  <xs:annotation>
                    <xs:appinfo>
                      <codeName>öffentliche Zustellung</codeName>
                    </xs:appinfo>
                  </xs:annotation>
                </xs:enumeration>
                <xs:enumeration value="007">
                  <xs:annotation>
                    <xs:appinfo>
                      <codeName>Zustellung durch Einschreiben mit Rückschein</codeName>
                    </xs:appinfo>
                  </xs:annotation>
                </xs:enumeration>
                <xs:enumeration value="008">
                  <xs:annotation>
                    <xs:appinfo>
                      <codeName>Zustellung durch Fax</codeName>
                    </xs:appinfo>
                  </xs:annotation>
                </xs:enumeration>
                <xs:enumeration value="009">
                  <xs:annotation>
                    <xs:appinfo>
                      <codeName>Zustellung durch Justizbedienstete</codeName>
                    </xs:appinfo>
                  </xs:annotation>
                </xs:enumeration>
                <xs:enumeration value="010">
                  <xs:annotation>
                    <xs:appinfo>
                      <codeName>Zustellungsurkunde</codeName>
                    </xs:appinfo>
                  </xs:annotation>
                </xs:enumeration>
              </xs:restriction>
            </xs:simpleType>
          </xs:element>
        </xs:sequence>
        <xs:attribute name="listURI" type="xs:anyURI" use="optional" fixed="urn:xoev-de:xjustiz:codeliste:inso.zustellungsart">
          <xs:annotation>
            <xs:documentation>Dokumentation aus XOEV-Bibliothek:</xs:documentation>
            <xs:documentation>Mit diesem XML-Attribut wird die Kennung der Codeliste übermittelt, in deren Kontext der jeweilige Code zu interpretieren ist. Die Kennung identifiziert die Codeliste, nicht jedoch deren Version eindeutig.

Wird bereits im Rahmen des XÖV-Standards eine Kennung vorgegeben (es handelt sich in diesem Fall um einen Code-Typ 1, 2 oder 3) darf auf eine nochmalige Angabe der Kennung bei der Übermittlung eines Codes verzichtet werden. Aus diesem Grund ist das XML-Attribut listURI zunächst als optional deklariert.</xs:documentation>
          </xs:annotation>
        </xs:attribute>
        <xs:attribute name="listVersionID" type="xs:normalizedString" use="required" fixed="2.0">
          <xs:annotation>
            <xs:documentation>Dokumentation aus XOEV-Bibliothek:</xs:documentation>
            <xs:documentation>Die konkrete Version der zu nutzenden Codeliste wird mit diesem XML-Attribut übertragen.

Analog zum listURI ist die Bestimmung der Version einer Codeliste bei der Übertragung eines Codes zwingend. Die Version kann jedoch ebenfalls bereits im XÖV-Standard festgelegt werden (es handelt sich in diesem Fall um einen Code-Typ 1 oder 2).</xs:documentation>
          </xs:annotation>
        </xs:attribute>
      </xs:restriction>
    </xs:complexContent>
  </xs:complexType>
</xs:schema>

