X.Justiz-Versions/2.1.0/XJustiz 2.1 XSD/xjustiz_0410_cl_register_2_0.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://www.xjustiz.de" xmlns:xoev-code="http://xoev.de/schemata/code/1_0" targetNamespace="http://www.xjustiz.de" version="2.0.0" elementFormDefault="unqualified" attributeFormDefault="unqualified">
  <xs:import schemaLocation="xoev-code.xsd" namespace="http://xoev.de/schemata/code/1_0" />
  <xs:complexType name="Code.REG.Dokumentart.Typ3">
    <xs:annotation>
      <xs:appinfo>
        <listAgencyName>BLK-AG IT-Standards für die Justiz</listAgencyName>
        <listName>REG.Dokumentart.Typ3</listName>
      </xs:appinfo>
      <xs:documentation>Beschreibt die zum Handels-, Genossenschafts-, Partnerschafts- und Vereinsregister einzureichenden Dokumente.</xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:restriction base="xoev-code:Code">
        <xs:sequence>
          <xs:element name="code" type="xs:token" form="unqualified">
            <xs:annotation>
              <xs:documentation>Dokumentation aus XOEV-Bibliothek:</xs:documentation>
              <xs:documentation>In diesem XML-Element wird der Code einer Codeliste übermittelt.</xs:documentation>
            </xs:annotation>
          </xs:element>
        </xs:sequence>
        <xs:attribute name="listURI" type="xs:anyURI" use="optional" fixed="urn:xoev-de:xjustiz:codeliste:reg.dokumentart">
          <xs:annotation>
            <xs:documentation>Dokumentation aus XOEV-Bibliothek:</xs:documentation>
            <xs:documentation>Mit diesem XML-Attribut wird die Kennung der Codeliste übermittelt, in deren Kontext der jeweilige Code zu interpretieren ist. Die Kennung identifiziert die Codeliste, nicht jedoch deren Version eindeutig.

Wird bereits im Rahmen des XÖV-Standards eine Kennung vorgegeben (es handelt sich in diesem Fall um einen Code-Typ 1, 2 oder 3) darf auf eine nochmalige Angabe der Kennung bei der Übermittlung eines Codes verzichtet werden. Aus diesem Grund ist das XML-Attribut listURI zunächst als optional deklariert.</xs:documentation>
          </xs:annotation>
        </xs:attribute>
        <xs:attribute name="listVersionID" type="xs:normalizedString" use="required">
          <xs:annotation>
            <xs:documentation>Dokumentation aus XOEV-Bibliothek:</xs:documentation>
            <xs:documentation>Die konkrete Version der zu nutzenden Codeliste wird mit diesem XML-Attribut übertragen.

Analog zum listURI ist die Bestimmung der Version einer Codeliste bei der Übertragung eines Codes zwingend. Die Version kann jedoch ebenfalls bereits im XÖV-Standard festgelegt werden (es handelt sich in diesem Fall um einen Code-Typ 1 oder 2).</xs:documentation>
          </xs:annotation>
        </xs:attribute>
      </xs:restriction>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="Code.REG.Dokumentstatus.Typ3">
    <xs:annotation>
      <xs:appinfo>
        <listAgencyName>BLK-AG IT-Standards für die Justiz</listAgencyName>
        <listName>REG.Dokumentstatus.Typ3</listName>
      </xs:appinfo>
      <xs:documentation>Beschreibt den Status der beim Handels-, Genossenschafts-, Partnerschafts- und Vereinsregister vorhandenen Dokumente.</xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:restriction base="xoev-code:Code">
        <xs:sequence>
          <xs:element name="code" type="xs:token" form="unqualified">
            <xs:annotation>
              <xs:documentation>Dokumentation aus XOEV-Bibliothek:</xs:documentation>
              <xs:documentation>In diesem XML-Element wird der Code einer Codeliste übermittelt.</xs:documentation>
            </xs:annotation>
          </xs:element>
        </xs:sequence>
        <xs:attribute name="listURI" type="xs:anyURI" use="optional" fixed="urn:xoev-de:xjustiz:codeliste:reg.dokumentstatus">
          <xs:annotation>
            <xs:documentation>Dokumentation aus XOEV-Bibliothek:</xs:documentation>
            <xs:documentation>Mit diesem XML-Attribut wird die Kennung der Codeliste übermittelt, in deren Kontext der jeweilige Code zu interpretieren ist. Die Kennung identifiziert die Codeliste, nicht jedoch deren Version eindeutig.

Wird bereits im Rahmen des XÖV-Standards eine Kennung vorgegeben (es handelt sich in diesem Fall um einen Code-Typ 1, 2 oder 3) darf auf eine nochmalige Angabe der Kennung bei der Übermittlung eines Codes verzichtet werden. Aus diesem Grund ist das XML-Attribut listURI zunächst als optional deklariert.</xs:documentation>
          </xs:annotation>
        </xs:attribute>
        <xs:attribute name="listVersionID" type="xs:normalizedString" use="required">
          <xs:annotation>
            <xs:documentation>Dokumentation aus XOEV-Bibliothek:</xs:documentation>
            <xs:documentation>Die konkrete Version der zu nutzenden Codeliste wird mit diesem XML-Attribut übertragen.

Analog zum listURI ist die Bestimmung der Version einer Codeliste bei der Übertragung eines Codes zwingend. Die Version kann jedoch ebenfalls bereits im XÖV-Standard festgelegt werden (es handelt sich in diesem Fall um einen Code-Typ 1 oder 2).</xs:documentation>
          </xs:annotation>
        </xs:attribute>
      </xs:restriction>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="Code.REG.Eintragungsart.Typ3">
    <xs:annotation>
      <xs:appinfo>
        <listAgencyName>BLK-AG IT-Standards für die Justiz</listAgencyName>
        <listName>REG.Eintragungsart.Typ3</listName>
      </xs:appinfo>
      <xs:documentation>Beschreibt die im Handels-, Genossenschafts-, Partnerschafts- und Vereinsregister einzutragenden Eintragungsarten.</xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:restriction base="xoev-code:Code">
        <xs:sequence>
          <xs:element name="code" type="xs:token" form="unqualified">
            <xs:annotation>
              <xs:documentation>Dokumentation aus XOEV-Bibliothek:</xs:documentation>
              <xs:documentation>In diesem XML-Element wird der Code einer Codeliste übermittelt.</xs:documentation>
            </xs:annotation>
          </xs:element>
        </xs:sequence>
        <xs:attribute name="listURI" type="xs:anyURI" use="optional" fixed="urn:xoev-de:xjustiz:codeliste:reg.eintragungsart">
          <xs:annotation>
            <xs:documentation>Dokumentation aus XOEV-Bibliothek:</xs:documentation>
            <xs:documentation>Mit diesem XML-Attribut wird die Kennung der Codeliste übermittelt, in deren Kontext der jeweilige Code zu interpretieren ist. Die Kennung identifiziert die Codeliste, nicht jedoch deren Version eindeutig.

Wird bereits im Rahmen des XÖV-Standards eine Kennung vorgegeben (es handelt sich in diesem Fall um einen Code-Typ 1, 2 oder 3) darf auf eine nochmalige Angabe der Kennung bei der Übermittlung eines Codes verzichtet werden. Aus diesem Grund ist das XML-Attribut listURI zunächst als optional deklariert.</xs:documentation>
          </xs:annotation>
        </xs:attribute>
        <xs:attribute name="listVersionID" type="xs:normalizedString" use="required">
          <xs:annotation>
            <xs:documentation>Dokumentation aus XOEV-Bibliothek:</xs:documentation>
            <xs:documentation>Die konkrete Version der zu nutzenden Codeliste wird mit diesem XML-Attribut übertragen.

Analog zum listURI ist die Bestimmung der Version einer Codeliste bei der Übertragung eines Codes zwingend. Die Version kann jedoch ebenfalls bereits im XÖV-Standard festgelegt werden (es handelt sich in diesem Fall um einen Code-Typ 1 oder 2).</xs:documentation>
          </xs:annotation>
        </xs:attribute>
      </xs:restriction>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="Code.REG.Mitteilungsart.Typ3">
    <xs:annotation>
      <xs:appinfo>
        <listAgencyName>BLK-AG IT-Standards für die Justiz</listAgencyName>
        <listName>REG.Mitteilungsart.Typ3</listName>
      </xs:appinfo>
      <xs:documentation>Beschreibt die im Handels-, Genossenschafts-, Partnerschafts- und Vereinsregister vorkommenden Mitteilungsarten zu Anmeldungen, Nachrichten und sonstigem Schriftverkehr.</xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:restriction base="xoev-code:Code">
        <xs:sequence>
          <xs:element name="code" type="xs:token" form="unqualified">
            <xs:annotation>
              <xs:documentation>Dokumentation aus XOEV-Bibliothek:</xs:documentation>
              <xs:documentation>In diesem XML-Element wird der Code einer Codeliste übermittelt.</xs:documentation>
            </xs:annotation>
          </xs:element>
        </xs:sequence>
        <xs:attribute name="listURI" type="xs:anyURI" use="optional" fixed="urn:xoev-de:xjustiz:codeliste:reg.mitteilungsart">
          <xs:annotation>
            <xs:documentation>Dokumentation aus XOEV-Bibliothek:</xs:documentation>
            <xs:documentation>Mit diesem XML-Attribut wird die Kennung der Codeliste übermittelt, in deren Kontext der jeweilige Code zu interpretieren ist. Die Kennung identifiziert die Codeliste, nicht jedoch deren Version eindeutig.

Wird bereits im Rahmen des XÖV-Standards eine Kennung vorgegeben (es handelt sich in diesem Fall um einen Code-Typ 1, 2 oder 3) darf auf eine nochmalige Angabe der Kennung bei der Übermittlung eines Codes verzichtet werden. Aus diesem Grund ist das XML-Attribut listURI zunächst als optional deklariert.</xs:documentation>
          </xs:annotation>
        </xs:attribute>
        <xs:attribute name="listVersionID" type="xs:normalizedString" use="required">
          <xs:annotation>
            <xs:documentation>Dokumentation aus XOEV-Bibliothek:</xs:documentation>
            <xs:documentation>Die konkrete Version der zu nutzenden Codeliste wird mit diesem XML-Attribut übertragen.

Analog zum listURI ist die Bestimmung der Version einer Codeliste bei der Übertragung eines Codes zwingend. Die Version kann jedoch ebenfalls bereits im XÖV-Standard festgelegt werden (es handelt sich in diesem Fall um einen Code-Typ 1 oder 2).</xs:documentation>
          </xs:annotation>
        </xs:attribute>
      </xs:restriction>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="Code.REG.Status_Rechtstraeger.Typ3">
    <xs:annotation>
      <xs:appinfo>
        <listAgencyName>BLK-AG IT-Standards für die Justiz</listAgencyName>
        <listName>REG.Status_Rechtstraeger.Typ3</listName>
      </xs:appinfo>
      <xs:documentation>Beschreibt den Status der im Handels-, Genossenschafts-, Partnerschafts- und Vereinsregister eingetragenen Firmen und Namen.</xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:restriction base="xoev-code:Code">
        <xs:sequence>
          <xs:element name="code" type="xs:token" form="unqualified">
            <xs:annotation>
              <xs:documentation>Dokumentation aus XOEV-Bibliothek:</xs:documentation>
              <xs:documentation>In diesem XML-Element wird der Code einer Codeliste übermittelt.</xs:documentation>
            </xs:annotation>
          </xs:element>
        </xs:sequence>
        <xs:attribute name="listURI" type="xs:anyURI" use="optional" fixed="urn:xoev-de:xjustiz:codeliste:reg.status-rechtstraeger">
          <xs:annotation>
            <xs:documentation>Dokumentation aus XOEV-Bibliothek:</xs:documentation>
            <xs:documentation>Mit diesem XML-Attribut wird die Kennung der Codeliste übermittelt, in deren Kontext der jeweilige Code zu interpretieren ist. Die Kennung identifiziert die Codeliste, nicht jedoch deren Version eindeutig.

Wird bereits im Rahmen des XÖV-Standards eine Kennung vorgegeben (es handelt sich in diesem Fall um einen Code-Typ 1, 2 oder 3) darf auf eine nochmalige Angabe der Kennung bei der Übermittlung eines Codes verzichtet werden. Aus diesem Grund ist das XML-Attribut listURI zunächst als optional deklariert.</xs:documentation>
          </xs:annotation>
        </xs:attribute>
        <xs:attribute name="listVersionID" type="xs:normalizedString" use="required">
          <xs:annotation>
            <xs:documentation>Dokumentation aus XOEV-Bibliothek:</xs:documentation>
            <xs:documentation>Die konkrete Version der zu nutzenden Codeliste wird mit diesem XML-Attribut übertragen.

Analog zum listURI ist die Bestimmung der Version einer Codeliste bei der Übertragung eines Codes zwingend. Die Version kann jedoch ebenfalls bereits im XÖV-Standard festgelegt werden (es handelt sich in diesem Fall um einen Code-Typ 1 oder 2).</xs:documentation>
          </xs:annotation>
        </xs:attribute>
      </xs:restriction>
    </xs:complexContent>
  </xs:complexType>
</xs:schema>

